[2014-10-06 14:52] agarie opened #1 "Use NMatrix instead of Matrix"
Hi Sameer, great job getting started on this problem.

However, one the benefits of having a "DataFrame-like" gem is to improve performance in several other libraries dependant on it simultaneously. So NMatrix is a better chance than the pure Ruby alternative, Matrix.

Other benefit of this approach is that you will probably uncover more bugs in NMatrix. :)

If you have any problems, please ask on

[2014-10-07 19:56] #1 closed, assigned to nobody

[2015-02-05 20:02] Ch4s3 opened #3 "Feature Request"
Would you ever consider adding a Singular value decomposition method? Its useful in latent semantic indexing among other things and there isn't currently a good plain ruby SVD implementation anywhere(that I can find.)

[2015-02-06 08:32] v0dro commented on #3
I've added a `#to_nmatrix` method to `Daru::DataFrame` which converts a numerical DataFrame into an [NMatrix](https://github.com/SciRuby/nmatrix).

NMatrix [implements SVD](https://github.com/SciRuby/nmatrix/blob/dc4b3d35eae270be6287379a2e117f3f68a2855b/lib/nmatrix/lapack.rb#L154) with the method `#gesvd` (basically exposes LAPACK gesvd to ruby), which you can then use for computing a singular val

[2015-02-06 21:11] Ch4s3 commented on #3
I think that will completely solve my problem. I'll test it out in our gem and see if it works!

[2015-02-07 06:27] #3 closed

[2015-05-18 19:17] agarie opened #4 "Add Travis badge to README"
See title.

[2015-05-18 19:58] v0dro commented on #4
Its there! https://github.com/v0dro/daru#daru

The build is errored because I'm pointing to gsl-nmatrix and statsample from my local computer sources. Will fix that to use git soon.

[2015-05-18 19:58] #4 closed

[2015-05-18 20:09] agarie commented on #4
Err, my mistake. I could sweat I didn't see the icon when I looked at the README. (maybe it didn't load or something)

[2015-05-18 20:57] v0dro commented on #4
yeah it takes time to load :P

[2015-05-26 08:41] minad opened #5 "mikon vs daru?"
It seems both of you are working on dataframe libraries?

https://github.com/v0dro/daru
https://github.com/domitry/mikon

What about merging these two?

[2015-05-26 13:05] v0dro commented on #5
Mikon started off after daru, but @domitry made some amazing progress in very little time.

I have borrowed some functionality from mikon in daru. For example, the idea of using the library as the primary data store for statsample was first proposed there (and which daru is now implementing here - https://github.com/SciRuby/statsample/pull/35).

Daru has grown a lot more in features since then and

[2015-05-26 13:58] minad commented on #5
It would probably be the best if one of the projects is continued and you join your efforts. This will lead to a better thing in the end, more review and more discussions about the needed features since the features should fulfil both your requirements.

[2015-05-26 14:02] v0dro commented on #5
Agreed.

[2015-05-26 14:02] #5 closed

[2015-05-26 14:21] agarie commented on #5
It would be great indeed! Sameer is doing a good job at making Statsample work with Daru's DataFrame and Vector (this should be done and shipped in a new statsample version in a few weeks). I'm pretty sure the same could be done in Nyaplot, thus leading to a single DataFrame-like structure being used in several different and useful gems.

[2015-05-28 21:25] mohawkjohn opened #6 "Nyaplot required?"
If I try to `require "daru"`, it gives me the following error message (twice):

[code]

Why is nyaplot required? Shouldn't it be possible to do analyses without it installed?

[2015-05-28 21:54] mohawkjohn opened #7 "Covariance calculation seems wrong"
[code]

I'm fairly certain the covariance for the third row/column (:az) is wrong here.

[2015-05-29 05:43] v0dro commented on #6
It is possible.

This was happening due a mistake that I made in the way it was being required. Fixed it in https://github.com/v0dro/daru/commit/bbb5adb0da963983fbacb751b8dd8d1eab049896

[2015-05-29 05:43] #6 closed

[2015-05-29 05:48] v0dro commented on #7
Could you please provide me with your testing data so that I can write a test for that and verify it with R or octave?

[2015-05-29 06:40] v0dro commented on #7
I've written some tests and amended the algorithm in https://github.com/v0dro/daru/commit/e8d45b09864777b8554f946a6135cc206e073a01.

Could you give it a shot?

[2015-05-29 16:38] mohawkjohn commented on #6
Same issue for gsl-nmatrix. Is GSL really required for normal usage?

[2015-05-29 16:45] mohawkjohn opened #8 "Daru::VERSION should give which version is being used"
This enables you to check that you're using the version you think you're using from within IRB/Pry/iruby.

[2015-05-29 16:47] mohawkjohn commented on #7
I'm not quite sure how to install Daru from source. There's no rake install task.

[2015-05-29 16:55] agarie commented on #7
Hey Sameer, you probably should add `require 'bundle/gem_tasks'` to the Rakefile. It adds tasks for building, installing and releasing the gem.

[2015-05-31 16:26] v0dro commented on #6
No it isn't.

Its supposed to work without gsl-nmatrix in it's current state. Could you tell me what exactly is going wrong so that I can fix it?

It seems to be working fine on my machine with/without GSL or nyaplot. The nyaplot require warning doesn't appear anymore either.

[2015-05-31 16:32] v0dro commented on #8
This is working for me:

[code]

Though I think this was being referred to from the gemspec so I've explicitly required `daru/version.rb` now.

[2015-05-31 16:33] v0dro commented on #7
@agarie  ok I'll do that.

@mohawkjohn for now you can clone the repo, do a `gem build daru.gemspec` and then `gem install daru-0.0.5.gem`.

[2015-05-31 19:16] mohawkjohn commented on #6
If I do bundle install, it complains about a lack of gsl-nmatrix. Maybe
that's just because I was doing it in-tree.
On Sun, May 31, 2015 at 12:27 PM Sameer Deshmukh <notifications@github.com>
wrote:

[2015-06-01 06:31] v0dro commented on #6
Yes. You'll need to first run `gem install nmatrix-0.1.0.gem` and then  `gem install gsl-nmatrix-1.17.gem` in the daru root directory.

This needs to be done because testing requires the latest versions of these gems, which are contained in the .gem files that ship in the daru source repo. I'll be replacing them with a script soon, but this is a work around until then.

[2015-06-09 11:16] #8 closed

[2015-06-09 11:17] v0dro commented on #7
@mohawkjohn could you test this once more so that I can close the issue?. `rake install` will work now.

[2015-06-09 19:19] mohawkjohn commented on #7
Thanks, yes, it's fixed!

[2015-06-09 19:19] #7 closed

[2015-06-13 08:28] v0dro opened #9 "Support categorical variables"
Currently the only types of data supported by daru are numeric (incorporating all sorts of Numeric data - ordinal, nominal, categorical, etc...) and object (stuff like Strings, symbols, etc.).

Having a separate data type for categorical data would be very helpful for statistical computations. Maybe something similar to [pandas.Categorical](http://pandas-docs.github.io/pandas-docs-travis/categoric

[2015-06-14 21:18] agisga opened #10 "Daru::DataFrame::reindex_vectors! seems to not work properly"
Reindexing with `Daru::DataFrame::reindex_vectors!` does not seem to work. Here is an example:

(1) Define a DataFrame

[code]

(2) Reindex the vectors using `df.reindex_vectors!([:b, :a])`

(3) Now, what was 'a' is 'b', and vice versa:

[code]

(4) But for some reason, when I try to access the vectors, I get the results according to the original indexing (prior to the reindexing):

[code]

(Addit

[2015-06-15 07:03] v0dro commented on #10
Thanks.

I'll fix that soon.

[2015-07-14 18:03] v0dro commented on #10
I've fixed this in https://github.com/v0dro/daru/commit/0d9b71abd0db12e2913a2a4beef0b5d0fc274562.

Additionally I've made some behavioral changes where `reindex` will now preserve the labeling of the previous dataframe and insert `nil`s whenever a new index is encountered. For simply changing the index or vector you can now just use `#index=` or `#vectors=`. See [these tests for examples](https://

[2015-07-15 17:54] agisga commented on #10
Nice! This is great work! :)

One little issue I discovered while testing is that `#reindex` has side effects on the data frame that it is applied to. After application of `#reindex` with new indices, the original data frame is altered. Example:

[code]

So, a data frame with reordered rows and new nil-rows is returned. But the original frame now also has the nil rows; the reordering is not preser

[2015-07-15 18:14] v0dro commented on #10
Thats a bug. Thank you!

[2015-07-15 18:18] v0dro commented on #10
Ok problem solved - https://github.com/v0dro/daru/commit/d012457b61e4afd459e0cb41ac2e8c3a89b31ad0

[2015-07-15 19:23] agisga commented on #10
Perfect :)

[2015-07-15 19:45] #10 closed

[2015-07-15 19:46] v0dro commented on #10
Thank you :)

[2015-07-19 03:53] agisga opened #11 "DataFrame::delete_row seems to be broken"
`DataFrame::delete_row` behaves in unexpected ways; see the `nil`s in the example below.

I am currently using the `daru` gem, because `gsl-nmatrix` fails to get installed on my machine for some reason. So, I'm sorry if this is already fixed in the most recent development version.

[code]

[2015-07-19 04:33] agisga opened #12 "Daru::DataFrame methods involveing Daru::Vector extremely slow"
I benchmarked `DataFrame` initialization from a Hash of Arrays

[code]

against an initialization from a Hash of `Daru::Vector`s

[code]

Then I appended a new column to the `DataFrame`, as an Array input and as a `Daru::Vector` input; i.e. `df[:d] = Daru::Vector.new((1..10000).to_a)` compared to `df[:e] = (1..10000).to_a`.

In both cases, the method involving a `Daru::Vector` is *extremely slow*.

[2015-07-19 05:00] agisga opened #13 "Accessing multiple vectors in Daru::DataFrame with `#[]` or `#vector` is extremely slow"
In a `Daru::DataFrame` with 1000 rows and 3 columns (named `a`, `b` and `c`) I have benchmarked
`v1 = df.vector[:c]` against
`v2 = df.vector[:a..:b]` and against
`v3 = df.vector[:a, :c]`.
Accessing one vector takes less than a millisecond, but accessing two vectors at a time takes ages. The elapsed times don't change if I use `df[...]` instead of `df.vector[...]`.

Here are the results:

[code]

H

[2015-07-19 11:56] v0dro commented on #12
Over the top of my head I think this is happening because DataFrame tries to match elements with the same index and place them in the same row when a Daru::Vector is supplied. When an Array is supplied its just creating a Vector out of it and giving it the same index as the DataFrame.

I think this can be sped up for Vectors with same indexing, by first checking if indexes are the same for all the

[2015-07-19 12:22] v0dro commented on #13
Thanks a ton for pointing this out.

I know of a fix. Hold on.

Btw don't use `#vector` anymore, its being removed in favor of `#[]` for the next release.

[2015-07-19 12:30] v0dro commented on #13
Alright, I've fixed it in [this branch](https://github.com/v0dro/daru/tree/tseries). Please use that code.

You wont require gsl-nmatrix anymore because I've changed the development dependency to `rb-gsl ~> 1.16`, which does not depend on narray and is compatible with nmatrix.

Also see the benchmark script that I've added [here](https://github.com/v0dro/daru/blob/tseries/benchmarks/vector_access.

[2015-07-19 12:49] v0dro commented on #12
For temporary work around you can specify the option `clone: false` in the DataFrame constructor. This will avoid cloning the Vectors (if they have the same index) and prevent the index-by-index assignment that I'm talking about.

[2015-07-19 12:55] v0dro commented on #12
I've optimized DataFrame creation when using Vectors of the same index. Please pull the latest code from the [`daru/tseries` branch](https://github.com/v0dro/daru/tree/tseries).

See the benchmarks for data frame creation here: https://github.com/v0dro/daru/blob/tseries/benchmarks/dataframe_creation.rb

[2015-07-19 14:07] v0dro commented on #12
I've also sped up Vector assignment when the Vector has the same index as the DataFrame (https://github.com/v0dro/daru/commit/c63dcab803190aae7108341fdc8e6558ce05ed67).

See the benchmarks [here](https://github.com/v0dro/daru/blob/tseries/benchmarks/vector_assign.rb).

Speeding up assignment of differently indexed Vectors with the DataFrame will take time. I think I'll need to implement something

[2015-07-19 17:17] v0dro commented on #11
Will look into this.

[2015-07-19 17:27] v0dro commented on #11
This is working in the latest development build:

[code]

Also, daru no longer depends on gsl-nmatrix (uses rb-gsl), so you can install the latest gem from the `tseries` branch in v0dro/daru.

[2015-07-19 17:28] #11 closed

[2015-07-19 19:33] v0dro commented on #11
By the way, could you check the version of daru that you're using? It should be `0.1.0`. I vaguely remember fixing this before the 0.1 release.

[2015-07-19 19:49] agisga commented on #13
I tested your recent `tseries` branch code. Access times are A LOT faster now. Thank for fixing it so quickly! :)

[2015-07-19 19:56] agisga commented on #11
Both, the stable daru gem and the tseries development branch display `"0.1.0"` when I do `Daru::VERSION` (if that's what you are asking).

Also, you are right, the issue is non existent in the most recent development version of daru. Sorry about that.

[2015-07-19 21:16] agisga commented on #13
Related question:

What is there fastest way to access a subset of the rows of a `Daru::DataFrame`?

Say, I have data with 50000 rows, but 20000 of them contain "bad" values (like missing data or incorrect measurements). I want to get rid of the "bad" rows.
I tried to do `df.row[*good_rows]`, and I also tried  to delete the bad rows one by one with `#delete_row`. However, both options seem veeery

[2015-07-20 13:02] v0dro commented on #13
Accessing rows with `df.row[*good_rows]` would be fastest right now. Since you asked I've added a [new benchmark script too](https://github.com/v0dro/daru/blob/master/benchmarks/row_access.rb). Do remember to pull the latest daru from my master branch. I've made further optimizations.

Access with ranges is slow because of something in Daru::Index. I'll speed that up tonight. For now use `#to_a` o

[2015-07-20 17:47] v0dro commented on #13
Row access with ranges is also now MUCH faster and is at par with row access by specifying row numbers. See [this commit](https://github.com/v0dro/daru/commit/7a1cffe52fda97d087a8128abffbb0079390e67b) for details.

Dont use delete_row too many times since it needs to re create the internal data structures every time it is called. If you'll ask me its purely a convenience function and I'd personall

[2015-07-20 18:19] #12 closed

[2015-07-20 19:45] agisga commented on #13
Perfect :)

[2015-07-20 20:25] #13 closed

[2015-07-20 20:26] v0dro commented on #13
PS: Don't forget to let me know if you find more issues!

[2015-08-18 16:42] kylekyle opened #15 "Daru::Core::GroupBy#count broken"
[code]

I may be using `count` incorrectly (there are no rdocs for the method), but this seems like a bug either way.

[2015-08-18 16:46] kylekyle opened #16 "Daru::Vector#head broken"
[code]

This is probably because head (or more importantly, `Vector#[]`) doesn't check that the slice is a valid size.

[2015-08-18 16:52] kylekyle opened #17 "Daru::Vector#tail broken"
[code]

In the case of [`Vector#head`](16), you simply cannot request more elements than the `Vector` contains. I have yet to find a `Vector` instance for which `tail` works.

[2015-08-18 17:40] v0dro commented on #17
Works in the latest development release:

[code]

Could you please clone from my master branch and use that? There are many bug fixes in it. The latest version will be out in a few days.

[2015-08-18 17:40] #17 closed

[2015-08-18 17:42] v0dro commented on #16
Again like #17 this works on the latest dev build too:

[code]

[2015-08-18 17:42] #16 closed

[2015-08-18 17:53] v0dro commented on #15
I'll add that example in the docs since you point it out.

This also works btw. You need to pass an Array into the `#group_by` method:

[code]

Again, pull my latest master.

[2015-08-18 17:53] #15 closed

[2015-09-01 14:37] nvoynov opened #18 "is there ability of access to value by row and colum?"
Hello, developers.

Very nice gem, my sincerely congratulations.

Is there ability to access to any value by row and column? Unfortunately, I cannot find in documentation, maybe I just missed it ..

For example, I want access to value by dataframe[:row][:column]
[code]

[2015-09-01 15:01] agisga commented on #18
I think you should use dataframe[:column][:row] instead of dataframe[:row][:column]

[2015-09-01 15:48] nvoynov commented on #18
thanks! it was almost obviously, sorry for noise

[2015-09-01 15:48] #18 closed

[2015-09-10 22:59] graft opened #19 "'row, vector' Nomenclature is confusing"
In several places you refer to 'rows' and 'vectors', and by default you seem to think of a data frame as organized in columns. I find this confusing, especially since both a row and a column in a DF are of class Daru::Vector. It would be nice if this nomenclature was agnostic and treated rows and columns equally. I.e., #filter currently defaults to columns, and #filter(:row) is how you filter acro

[2015-09-10 23:41] graft opened #20 "Can't rename columns?"
It seems to me that there is no way to rename columns, currently. You can access information about rownames and column names via #vectors and #index (which I think is unclear, see #19), both of which return a Daru::Index. However, there is no straightforward way to modify these values without remapping to an entirely new data frame, which seems a fairly large hole. Internally this information is s

[2015-09-11 17:26] graft commented on #20
I'll try to whip up a PR that might address this issue, might take me a few days. Pretty psyched to have found this project! This is important work.

[2015-09-11 20:08] agisga commented on #20
You can rename columns with a syntax like

[code]

and analogously for rows.

Also see [these examples](https://github.com/v0dro/daru/blob/tseries/spec/dataframe_spec.rb#L1266)

[2015-09-11 20:23] graft commented on #20
The R idiom from which this descends is much more flexible, since the row/column names are just treated as vectors, meaning I can edit them in-place (i.e., change just one column name):
[code]
It should be possible to just rename one column, I would think. Also, why assign a Daru::Index rather than using a Daru::Vector to store/manipulate these names? Those already allow all of this mass-assignmen

[2015-09-13 14:55] v0dro commented on #20
When you use a Daru::Index to reassign the names of the rows or vectors, you can use the full range of Index objects available in Daru (`Index`, `MultiIndex` and `DateTimeIndex`). It also serves as a sanity check of sorts so that invalid indexes aren't assigned (for example those containing duplicate objects, which `Daru::Index` does not yet support).

To rename the vector of DataFrame, I have a s

[2015-09-13 15:06] v0dro commented on #19
These functions exist. The `#filter(axis_name)` function exists only as a convienience function. There is `#filter_vectors` and `#filter_rows` which work exactly the way you're expecting them to (which `#filter` calls internally).

Iterating over vectors is faster than iterating over columns. DataFrame is intended to be a data-complete, collection of heterogeneous column arrays (Daru::Vector objec

[2015-09-13 15:24] graft commented on #20
It seems like there are two different functions being performed by an Index - to store unique names for a row/column and to facilitate selections on them. I'm not sure this requires its own sort of object rather than making use of the already-available Vector type, which should allow both of these operations (assignment and selection).

The way R does selections is pretty simple - selections can t

[2015-09-13 15:32] graft commented on #19
It is just plain ambiguous to say filter_vectors when you clearly mean filter_columns. I don't think the internal representation should be presented to the user at all; a data frame is a matrix-like object and should be agnostic about rows vs. columns, so I think that's how the interface should look to the user. What's powerful about a data frame is that you can search/select across rows and colum

[2015-09-13 17:55] v0dro commented on #19
A column is just called a vector. That's something we inherited from statsample. Why is it ambiguous? Once you internalize the fact that a column is a Vector in daru, everything should fall into place.

IMO if you use the library more it should not feel ambiguous at all.

[2015-09-13 17:55] #19 closed

[2015-09-13 18:04] v0dro commented on #20
There are 3 index objects, with many more to come. Each has its own unique behavior that adds to daru's indexing functionality. I suggest you take the time of going through the blogs and notebooks and try to understand the reason behind separate objects for indexing before suggesting to do away with them.

[2015-09-13 18:04] #20 closed

[2015-09-21 12:51] nvoynov opened #22 "how to compare data from two dataframe"
Hello, developers.

I try to use Daru::DataFrame for few tables, that are generated by another code. And now I need to compare two tables by id.

Suppose, I have two dataframes, one of them is loaded from csv file and another is empty generated

[code]

Is there any way to transfer\copy old [col][row] values from loaded data to newly generated? Something like
[code]
to get
[code]

PS
Before this q

[2015-09-21 15:24] v0dro commented on #22
To set a column to an index use the `#set_index` method - http://www.rubydoc.info/gems/daru/0.1.1/Daru/DataFrame#set_index-instance_method.

Pass in `keep: true` if you want to keep the column being assigned as the index.

As for copying, you directly copy whole rows from the old data frame to the new if it satisfies a given condition:

[code]

[2015-09-21 15:24] #22 closed

[2015-09-28 07:46] vidok opened #24 "problem with pivot table"
Hi, @v0dro

Thank for your great work!!!  But I have a problem with pivot table

I have next code

[code]

result:
https://gist.github.com/vidok/2845e64b5832746159a8
or write_csv method result https://gist.github.com/vidok/1f61efcb17262bcfbd27

In result log we can see what in some keys is a Daru::Vector rather than numerical values.
If I change count dimensions from 3 to 2 (eq index = [:week, :co

[2015-09-28 10:39] v0dro commented on #24
I think the problem is that the printing of the table is not happening properly. The actual index should be fine.

Could you please verify this by printing the output of `df.index` and `df.vectors`?

Also, you might want to test in the browser based iruby notebook. Printing happens better on the browser than the command line.

[2015-09-28 10:41] v0dro commented on #24
Btw how can I reproduce this behavior? Please provide with the data that you are using.

[2015-09-28 12:37] vidok commented on #24
Test data https://gist.github.com/vidok/e1c033dddf61972f360b (dumped from real application data)
Test script https://gist.github.com/vidok/6ce3a933ecd0e49872f7 (does the same as in the application)

in my application I use Rails and next code
[code]

[2015-09-29 12:36] vidok commented on #24
I have one more error.
My DataFrame has 1100 rows. When I call pivot_table with 2 index, result is ok.
Next call pivot_table from DataFrame with 1300 rows, and result is broken.

http://jsfiddle.net/6ddpdLxw/ ok
http://jsfiddle.net/8h0hqjd1/ broken

I'm not sure that the case in printing output, because I tried many method from Daru::DataFrame and result is identical.

[2015-10-06 16:31] pedrocunha opened #26 "Plotting timeseries"
Hi @v0dro,

Cheers, this is amazing.

Is there a strong dependency on "gnuplotrb" to plot timeseries ?

Consider the following example:
[code]

This doesn't seem to plot out of the box the timeseries on y axis. I've tried converting date to `Date` or `DateTime`. Am i missing something or this only works through the datetime ranges and via `gnuplotrb`?

Thanks

[2015-10-09 04:42] v0dro commented on #26
Yes the problem is that nyaplot (which is what is used in the default #plot function) does not yet support DateTime plotting, so plotting can be done be gnuplotrb.

Gnuplotrb has been modified to support Date DateTime ranges. You might want to first convert your normal `Index` to a `DateTimeIndex` to support better plotting of time series.

See the README for more details on DateTimeIndex.

[2015-10-09 04:42] #26 closed

[2015-10-09 04:45] kojix2 opened #27 "conflict with NArray's NMatrix"
Hi @v0dro

Thank you for your great gem!
But daru conflict with Tanaka's NArray.
[code]
daru.rb
[code]
daru/accessors/nmatrix_wrapper.rb
[code]
This work. But not cool.

[2015-10-09 05:01] v0dro commented on #27
Hmm thanks for reporting this. I havnt quite updated the nmatrix dependency every since the gem was newly updated.

We'll just need to change the `require 'nmatrix'` in daru to latest one that does not conflict with narray.

[2015-10-09 09:44] pedrocunha commented on #26
Cheers @v0dro.

[2015-11-09 08:07] dansbits opened #29 "from_sql not working"
DataFrame.from_sql is not working for me with the follwing:

[code]
I get this error:
[code]
This appears to be an issue with the way the dbi column_info method is being used in IO.from_sql.

I forked the repository and have a working version now but wanted to make sure this isn't a known issue before submitting a PR. Any guidance is appreciated.

Thanks!
Dan

[2015-11-09 16:57] v0dro commented on #29
Yes this is a known issue. I had ported this feature directly from statsample and couldn't write tests because of time constraints.

If you have a working version please send me a PR so that I can update the gem accordingly.

Also, don't forget to write tests!

Great work! Thanks!

[2015-11-09 18:45] dansbits commented on #29
Ok. I just created the PR. Let me know if you have any thoughts or concerns.

[2015-11-09 18:45] #29 closed

[2015-11-12 04:08] gnilrets opened #31 "Is there a way to specify dtype when reading from csv?"
I'm really loving the idea of this project.  My only concern is performance.  Reading from a 4,000 line CSV file is taking 7s (WAY too long if I'm going to try to scale to even small data sizes on the order of 100k rows).  I was going to try using NMatrix, but don't see how I could try that when reading from a CSV.  For example, how could I convert something like this to use NMatrix?

    df = Dar

[2015-11-12 08:27] v0dro commented on #27
Could send a PR changing `require 'nmatrix'` to `require 'nmatrix/nmatrix'`?

[2015-11-12 08:55] v0dro commented on #31
Daru is currently using the default ruby CSV library (written in pure ruby) for reading CSV files so thats a burden we cant avoid.

But there a bunch of options that you can specify to daru for speed, mainly things which avoiding cloning data or populating missing values.

For example, set the variable `lazy_update` to `true`. So `Daru.lazy_update = true` will delay updating the dataframe's missin

[2015-11-12 18:11] gnilrets commented on #31
Thanks for the quick response.  I tried some of your suggestions, but they didn't seem to help.  The best I could do was convert my CSV into a hash of arrays and create the dataframe from that (speed up of about 2x, which is still pretty slow compared to just reading the CSV, which is pretty slow compared to non-Ruby CSV readers).  I put up a gist with results here if you're interested: https://gi

[2015-11-12 21:38] gnilrets opened #32 "Poor scaling of filter functionality"
I'm finding really poor non-linear scaling with the filter functionality in a DataFrame.  Here's an example

[code]

Results:
[code]

When the number of records retained doubles from 800 to 1600, the time required to filter increases by almost a factor of 5!

[2015-11-12 21:56] gnilrets commented on #32
At least there is a workaround.  Instead of filtering the row, filter each vector individually and then recombine into a data frame:

[code]

Result:
[code]

[2015-11-13 18:29] v0dro commented on #32
Yes this mainly happens because filtering rows requires creating a new `Daru::Vector` object from each row, since the DataFrame is stored as columns internally.

An outstanding PR (https://github.com/v0dro/daru/pull/25) is trying to fix this but the current implementation might screw up non-numerical indexing.

A possible workaround might be simply passing an Array of boolean values to `#where`. H

[2015-11-13 18:34] gnilrets commented on #32
Ah, looks like I missed using 'where' on a DataFrame.  Thanks!

[2015-11-19 21:32] gnilrets opened #33 "Unexpected result of boolean operation between vectors"
[code]

The result is a vector where all of the elements are true, where I would expect all of them to be false.

[2015-11-21 15:14] v0dro commented on #33
The `and` clause you're using is Ruby boolean `and`, which cannot be modified. Moreover such piecewise boolean operations aren't currently supported on Vector. Use a `Daru::Core::Query::BoolArray` for that.

Or alternatively:
[code]

This operation will return a `BoolArray`.

[2015-11-21 15:14] #33 closed

[2015-11-23 14:08] gnilrets commented on #33
Thanks, this works

[2015-11-23 18:35] gnilrets opened #34 "group_by fails with nils"
Think it would be possible to support group-by when the value is nil?

Thanks!

[code]
[code]

[2015-11-26 19:25] v0dro commented on #34
Will look into it. Thanks for reporting.

[2015-12-07 22:06] gnilrets opened #36 "Is dup working properly?"
Given
[code]

I would expect that `dup` would create a new dataframe object with new vectors.  However, if I recode the vector in `df1`, the vector in `df2` is changed too.
[code]
Returns `true` when I would expect it to return `false`.

I can get the result I want if I `dup` each vector individually.  But this is cumbersome when I've got a larger dataframe.
[code]
Returns `false` as expected.

[2015-12-10 18:20] v0dro commented on #36
Ok we're using [`to_a` in dup](https://github.com/v0dro/daru/blob/master/lib/daru/dataframe.rb#L436) and I just realized that when you're using `Array#to_a` returns the same Array and not a duplicate.

Adding a `dup` ahead of the `to_a` should fix this. Could you send me a PR? Also add a test?

Thanks for reporting.

[2015-12-12 01:31] gnilrets opened #39 "Sorting vectors and dataframes with nils"
I was starting to work on figuring out a solution for sorting vectors and data frames with nil values.  I noticed you've got a pending test - https://github.com/v0dro/daru/blob/master/spec/vector_spec.rb#L488.

I'd argue that nils should be placed at the beginning of the vector.
1. SQL sorts nulls at the beginning.
2. Empty ('') and blank ('   ') strings are functionally similar to nil when dealin

[2015-12-13 16:02] v0dro commented on #39
Hmmm that makes sense. I'm good with placing nils at the top.

Additionally, sorting currently uses a handmade Ruby variant of quick sort, which makes it slower than say `Array#sort`. If you have a solution to doing this faster (maybe use `Array#sort` somewhere so things happen at C level and are fast) while keeping the functionality same, I'm all ears!

[2015-12-13 16:14] #34 closed

[2015-12-16 07:45] #36 closed

[2015-12-20 19:20] v0dro opened #40 "Specifying vectors and index should create DataFrame of said dimension"
Passing a 3 vector names to the `:vectors` option and a size 10 Array to the `:index` option should create a new 10x3 DataFrame filled with `nils`.

Example:
[code]

[2015-12-20 19:26] #40 closed

[2015-12-24 01:26] jrovegno opened #41 "DataFrame.from_excel name of first column nil"
To replicate the problem:

[code]

[2016-01-29 14:09] zverok opened #43 "Vector#[]= with an unknown index"
[code]

The error message displayed should precisely convey what went wrong.

[2016-02-05 13:45] sebastianiorga opened #44 "Daru::Core::GroupBy#apply_method sometimes chokes on nils"
Using `daru` from the master branch on github.
Example:

[code]

Things that combine to cause the problem:
1. `Vector#[]` returns a value when it receives a single integer index
2. `GroupBy#apply_method`, for this example, `@groups` is set to `{[:a]=>[0], [:b]=>[1, 3], [:c]=>[2]}
` so the call below to `slice = vec[*indexes]` just passes one value.
3. The next line, `daru/core/group_by.rb @ line 2

[2016-02-05 15:01] v0dro commented on #44
Thanks for raising this issue. Will look into it ASAP.

[2016-02-09 18:03] lokeshh commented on #41
I am getting error with `df[:col0]` itself. Is this supposed to happen?

[code]

[2016-02-09 18:28] #27 closed

[2016-02-09 18:48] v0dro commented on #41
Did you try `df['col0']`?

[2016-02-09 18:51] v0dro commented on #41
btw if you copy pasted his code he's used `df_xls` not `df`.

[2016-02-10 16:30] lokeshh commented on #41
Yes `df['col0']` is working perfectly. The reason I asked about `df[:col0]` was that I have seen in some libraries of Ruby that strings and symbols are used interchangeably, for example in Rails. That's why I was under the impression that `df['col0']` is same as `df[:col0]` but as it turns out it's not the case here.

[2016-02-11 13:19] sebastianiorga opened #48 "DataFrame#sort mutates its object"
[code]

The problem is in DataFrame#sort: in ruby Object#dup only performs a shallow copy of the object. So, for instance, the old object and the dupped object will both reference the same `@data` object. Which becomes a problem in DataFrame#partition(if using the quick sort alg) since, I think, that mutates the `@data` object.

The easy solution is probably something like ActiveSupport's deep_dup

[2016-02-11 14:00] sebastianiorga opened #49 "Sorting a DataFrame and then creating a pivot_table for it produces wrong aggregate values"
[code]

I'm still chewing on what the cause is. I think the problem is related to the difference between how GroupBy#get_group and GroupBy#select_groups_from work. GroupBy#select_groups_from produces incorrect dataframes that look like what pivot_tale is making use of. #get_group produces correct results.

The code below is while inside a pry session triggered by a binding.pry inside GroupBy#apply

[2016-02-11 19:03] lokeshh commented on #48
For me, this issue doesn't exist. Which version are you using? I have tried with `2.2.1` and `2.3.0`.

[2016-02-11 21:04] Emrys-Merlin opened #50 "recode_rows does not seem to work when Daru::DataFrame is indexed by DateTimeIndex"
Greetings,

I would like to recode a DataFrame indexed by a DateTimeIndex. This produces a

[code]
error. A minimal example reproducing the error looks as follows:

[code]

I am using daru-0.1.1 with ruby-2.2.1p85.
If I am missing any crucial information, I am very sorry. I will provide them as soon as prompted.
Best regards.

[2016-02-12 06:40] v0dro commented on #48
@sebastianiorga can you try with the current master on github?

[2016-02-12 09:36] sebastianiorga commented on #48
Doh. Works fine off master.

[2016-02-12 09:36] #48 closed

[2016-02-13 15:58] Deepakkoli93 commented on #50
Hi, I've been trying to fix this.
The problem seems to be with `relation_hash` of an index which is not being set in the constructor of `DateTimeIndex`.  But in `recode_rows` method of DataFrame it is required.

[2016-02-15 10:32] v0dro commented on #50
The problem is that `DateTimeIndex` does not have a custom `dup` method.

[2016-02-17 08:15] #43 closed

[2016-02-17 20:50] #41 closed

[2016-02-18 05:29] Deepakkoli93 commented on #50
Can you assign it to me?

[2016-02-19 17:28] v0dro commented on #50
Sure!

[2016-02-21 11:40] codeworm96 opened #56 "Link for nyaplot broken in the README"
Got a 404 for the nyaplot link in the Basic Usage-Plotting section.

[2016-02-26 04:04] gnilrets opened #59 "Default order of vectors"
What are your thoughts on removing the alphabetic sort of vectors when initializing new data and just go with the order they come in?

https://github.com/v0dro/daru/blob/master/lib/daru/dataframe.rb#L2336

I read a lot of data from CSV files and would prefer the columns to show up in the same order that they appear in the file.  Data typically comes in with the more important fields on the left (i

[2016-02-26 12:25] #56 closed

[2016-02-26 12:48] v0dro commented on #59
That line is called only when the DataFrame is initialized from a `Hash` without specifying the order of the vectors:
[code]

If you explicitly specify the `order:` option then it won't happen. Since you're talking about CSV files, I think we can add functionality that will first get the headers of the CSV file, and then pass those in the `:order` attribute of the dataframe so that the ordering of

[2016-02-26 14:16] #59 closed

[2016-02-26 20:05] lokeshh opened #61 "MultiIndex [] method working with invalid indexes"
[code]

But `:x` is not a valid index.

[2016-02-27 01:13] gnilrets commented on #39
Why do you use a handmade variant of quicksort rather than Ruby's native sort?

[2016-02-27 01:19] gnilrets opened #62 "Generic solution for sorting with nils?"
I've been working on a way to improve the performance of joins and have once again run into an issue with sorting data that contains nil values.  I've worked out what I think is a generic solution for sorting nil data.  It does involve monkey patching NilClass, but I think it's pretty tame.  Do you see any issues if we monkey patch NilClass and use `Sortable` when sorting DataFrames & Vectors?  (A

[2016-02-28 08:36] v0dro commented on #62
Looks like good solution, but won't the overhead of creating `Sortable` objects for each run of the `sort_by` create a GC bottleneck?

I'm good with monkey patching for now. We'll shift it to refinements once we drop support for Ruby 2.0. It's yet to be stable in the latest JRuby too.

[2016-02-28 08:44] v0dro commented on #39
The problem was that I couldn't figure out of a way to change the index along with the data, hence I went ahead with a hand made quick sort so that control could be maintained over the index objects as well.

Now that I think of it, I think zipping the indexes and data into tuples would do the trick, but I'm not sure if this can be extended to DataFrame.

[2016-02-28 10:13] lokeshh commented on #39
I think `[sort_by](ruby-doc.org/core-2.0.0/Enumerable.html#method-i-sort_by)` could be used to replace handmade variant. Isn't it?

[2016-02-28 13:54] v0dro commented on #39
Maybe only for `Daru::Vector`. DataFrame requires sorting only those specific columns that too in a nested manner.

[2016-02-29 10:32] lokeshh commented on #39
I went ahead and took the liberty to implement your idea. There's a speed up.

I am not sure what that means.

[2016-03-01 00:44] lokeshh commented on #39
Oh I get what it means now. I am thinking of sorting the `DataFrame` multiple times depending upon number of columns given. Say the columns to sort by are `[:a, :b]`. So, first we sort by `:b` and then by `:a` and we'll have the sorted `DataFrame`. Would that be fast?

[2016-03-01 00:46] dansbits opened #64 "Vector.uniq not working when pulling vector from DataFrame"
I'm getting an exception when I try to find unique values from a column in a data frame. My data frame is built from a csv similar to this:

[code]
An excel version of the data can be found here: http://www.udsmapper.org/zcta-crosswalk.cfm

If I run the following code:
[code]
I get the following error:
[code]

[2016-03-01 02:47] sunshineyyy opened #65 "Vector mode function bug"
`require 'daru'`
`foo = Daru::Vector.new [1,2,3,2,4,4,4,4]`
foo.mode gives 2 instead of 4.
This was discovered in this [stackoverflow question](http://stackoverflow.com/questions/35710144/is-ruby-statsample-mode-function-correct)

[2016-03-01 04:08] v0dro commented on #64
@Deepakkoli93 @lokeshh you want to have a look at this one? It's mostly to do with `Vector#uniq`.

[2016-03-01 04:10] v0dro commented on #39
Yea but when you sort by `:a` first, only the elements in `:b` that correspond to equal elements in `:a` should be sorted, the sort cascades onto successive vectors, and this order can change depending on the use case.

[2016-03-01 06:37] Deepakkoli93 commented on #64
i'll have a look at it.

[2016-03-01 07:14] v0dro commented on #32
A possible fix would be first creating a Boolean index based on the runs of the blocks of the filter method, and then passing this to `where`. I have noticed that Boolean indexing works much faster in many cases.

[2016-03-03 13:24] shahsaurabh0605 opened #68 "Vector describe function"
Currently Daru is having describe function for only dataframes and not for Vectors. describe function can be implemented for vectors. Here's how [panda](http://pandas.pydata.org/pandas-docs/stable/basics.html#summarizing-data-describe) implements this function for both vectors and dataframes.
I have already written down the code for this function. Thought it might be good if I open an issue first.

[2016-03-04 10:39] #68 closed

[2016-03-04 22:03] #65 closed

[2016-03-06 12:37] Deepakkoli93 commented on #64
@v0dro I think the `Vector#uniq` method is not removing duplicates.
[code]

I ran the code posted by OP printed `uniq_vector` and saw that there are some duplicates of the form 850 and 850.0, 820 and 820.0 etc.

Any suggestions?

[2016-03-06 16:10] Deepakkoli93 commented on #64
`@data.uniq` inside `Vector#uniq` is not removing duplicates to be precise

[2016-03-06 17:56] v0dro commented on #64
@Deepakkoli93 `850` and `850.0` are different objects. Them not being removed by `#uniq` is normal.
[code]
 The problem is that the `index_of` method is returning is the same result for both `2` and `2.0`:

[code]

The problem is that we're using `Array#index` internally which evaluates `2 == 2.0` as `true` and gives wrong result. Can you think of a work around for that?

And btw, if you're thinki

[2016-03-07 06:07] Deepakkoli93 commented on #64
Modifying `index_of` as follows did the trick
[code]

[2016-03-07 17:25] dansbits commented on #64
@Deepakkoli93 thanks for looking into this!

[2016-03-07 18:52] #64 closed

[2016-03-09 07:05] v0dro commented on #62
Has been resolved in #67 and #63.

[2016-03-09 07:05] #62 closed

[2016-03-09 07:05] #50 closed

[2016-03-09 07:06] v0dro commented on #39
Solved in #67 and #63.

[2016-03-09 07:06] #39 closed

[2016-03-09 07:17] v0dro opened #73 "Fix Travis builds going overtime"
Many Travis builds seem to be going on for hours at a stretch and eventually fail because they exceed the maximum allotted for builds.

https://travis-ci.org/v0dro/daru/builds/114568818
https://travis-ci.org/v0dro/daru/pull_requests

[2016-03-09 17:53] gnilrets opened #74 "Sorting a sorted dataframe produces the wrong result"
Applying a sort multiple times to a dataframe gives different results.

[code]

output:
[code]

[2016-03-09 18:01] gnilrets commented on #74
This was using Daru 0.1.2.  I just tested this using the current master branch and it works as expected (and is tremendously faster to boot!).  I would really appreciate a release as soon as you think it's ready.

[2016-03-09 19:23] v0dro commented on #74
Ok will do. @lokeshh is yet make some docs fixes in order to reflect the latest changes to sorting. I'll bump to 0.1.3 once he does that.

[2016-03-09 19:23] #74 closed

[2016-03-09 19:24] gnilrets commented on #74
Thanks!

[2016-03-15 17:08] shreyanshd opened #77 "Daru::Index creates buggy Index"
Daru::Index creates an buggy index as it accepts a Daru::Index object as one of the element in the array.
Example:

[code]
I think an error should be raised and Index should not be created.
What do you say? @v0dro

[2016-03-15 18:14] v0dro commented on #77
Why do you think that behavior is wrong? An index can be any valid ruby object.

[2016-03-15 18:25] shreyanshd commented on #77
This behaviour cannot be termed wrong. But how would you access the value on that index?
Also, the output isn't aligned.

[2016-03-15 20:38] shreyanshd opened #78 "Daru::Index#[] not returning proper sub-Vector on Integer Index"
On a Daru::Vector with index of datatype Integer, #[] method doesn't return the required Daru::Vector on passing Range as a parameter.

Here's an example

[code]

But on passing range (0,3) it is giving the necessary Vector.
[code]
Daru::Index#[] method is assuming that since the index is of type Integer, it is handling it as the default indexing scheme starting from 0.
But it is not the case here

[2016-03-15 21:14] v0dro commented on #78
It's supposed to be that way unless we find special use cases where the integer index needs to be that way.

[2016-03-15 21:14] #78 closed

[2016-03-15 21:15] #77 closed

[2016-03-15 21:15] v0dro commented on #77
why would you want to do such a thing?

[2016-03-23 17:18] gnilrets opened #81 "Vector metadata feature"
I'd like to be able to associate arbitrary metadata with vectors in a way that as vectors get duped and passed around between dataframes, their metadata remains intact.  A use case would be that I read a date from a CSV file.  Some of the dates may be invalid or contain special characters, so I need to start out by just reading it as a string.  Then after some cleaning and error handling, I want t

[2016-03-23 19:11] v0dro commented on #81
Sounds good. Can you give code samples of your intended API?

As a start, I think you can specify the metadata behavior with lambdas which are run when a specific type of data (in your case inside a string) occurs.

[2016-03-23 20:42] gnilrets commented on #81
Just an idea at this point that I thought would help DRY up some code I'm using with Daru.  If you're on board I'll work on something that could integrate with Daru.

[2016-03-24 03:58] v0dro commented on #81
Sure. But do keep it such that it does not affect the current functionality.

[2016-04-01 23:23] gnilrets opened #86 "Documentation style"
I'm only familiar with TomDoc (http://tomdoc.org/).  It looks like there might be two different styles of documentation going on (e.g., these two look very different to me: https://github.com/v0dro/daru/blob/master/lib/daru/dataframe.rb#L51, https://github.com/v0dro/daru/blob/master/lib/daru/dataframe.rb#L64).

Is there a convention you'd like to follow?

[2016-04-03 10:38] v0dro commented on #86
The first style is result of direct porting from statsample. The second is the one that is newly written and is to be followed in all future releases.

[2016-04-03 10:39] v0dro commented on #86
The first style is result of direct porting from statsample. The second is the one that is newly written and is to be followed in all future releases.

[2016-04-03 10:39] #61 closed

[2016-04-04 13:20] gnilrets commented on #86
There's a plugin - https://github.com/rubyworks/yard-tomdoc

[2016-04-04 18:38] v0dro commented on #86
Will this work on rubygems? I think we should stick to YARD for docs since it's very extensible and the tagging syntax is great for specifying how exactly you want your docs to render.

[2016-04-04 18:47] v0dro commented on #86
Check this out - http://gnuu.org/2010/05/12/whats-missing-from-tomdoc/

[2016-04-04 19:17] gnilrets commented on #86
I'm totally fine sticking with YARD.  I just haven't used it before so I've got a bit of research to do.

[2016-04-05 10:09] lokeshh commented on #86
@gnilrets One command that might be very helpful if you can't seen it already is `yard server --reload`. It let's you see the changes you make in documentation instantly.

[2016-04-07 02:12] jrovegno opened #91 "Daru::DataFrame.from_csv change original order of the columns"
[code]
why i can't keep the original order?
How can i read csv without change the order of the columns? or at least write the csv in arbitrary order?

[2016-04-07 05:37] v0dro commented on #91
Related to #59

@lokeshh @shahsaurabh0605 @shreyanshd can you have a look?

[2016-04-07 06:54] lokeshh commented on #91
I think once you change the order, it writes the CSV file in the order you mentioned. The problem is with loading the file. It doesn't follow the order of CSV file.

@v0dro I suggest we change `from_csv` to follow the order given in the CSV file by default. It would be good functionality to have. What do you say?

[2016-04-07 12:17] v0dro commented on #91
Yep. I agree.

[2016-04-08 07:08] #91 closed

[2016-04-10 20:46] #32 closed

[2016-04-14 18:18] lokeshh commented on #44
Fix 3 seems plausible to me since `Daru::Vector` know well to handle nils in methods such as `:mean`, `:sum`. For some methods such as `:min`, `:max` Daru shows an error because those methods do not handle nils. I propose we use fix 3 and make change in methods such as `:min` and `:max` so that they support computation with nils.

Pandas have the same behavior. For example:
[code]

[2016-04-15 23:34] gnilrets opened #100 "Release schedule"
So we've had some massive improvements to performance over the last two months.  Could we get a release?  Also, it looks like development has really picked up lately and I want to make use of those enhancements in the projects I've got that are using Daru.  What do you think about making biweekly or monthly releases?

[2016-04-16 00:37] gnilrets opened #101 "Room for improvement with sorting?"
Sorting was recently massively improved by @lokeshh (nice work!).  However, I wonder if there's still room for some improvement.  If I take a dataframe, convert it into an array of rows (array), sort that using `sort_by`, and then re-convert it into a dataframe, it's about an order of magnitude faster than `DataFrame#sort`.  While it's much faster, this "brute sort" method scales similar to `DataF

[2016-04-16 10:27] lokeshh commented on #101
I remember I made some trade offs which led down the performance of `DataFrame#sort` by a constant factor. To mention some of them:
- I had to change to use `sort` because `sort_by` doesn't worked out when order is reversed. Within sort I pass down array of values and comparison of array is expensive as compared to just values in `sort_by`.

- Further I had to involve array comparison to handle ni

[2016-04-16 17:44] #81 closed

[2016-04-16 17:51] v0dro commented on #100
Monthly looks good. How about we release a new version at the end of each month (given that things don't break and there are no features are incomplete)?

I havn't released a new version yet because GSOC is coming up and students are busy reviewing and contributing to daru. But I like your idea of scheduled releases.

A new version will be released by the 4th week of April for sure.

[2016-04-16 17:56] v0dro commented on #101
I have a wild idea of porting sorting to C for MRI and Java for JRuby. This will be insanely fast, though we'll need to make significant changes to daru and formalize a lot of things like conventions before moving away from pure Ruby implementations. Pandas does this by using numpy or cython in certain strategic places.

[2016-04-16 20:58] gnilrets commented on #100
Sounds good to me.  Thanks!

[2016-04-17 06:08] #100 closed

[2016-04-17 07:31] lokeshh commented on #101
Can sorting be implemented in nmatrix and used in Daru?

[2016-04-17 07:35] v0dro commented on #101
Yes that's the plan. But native sorting has not been implemented in nmatrix yet and it will also need to support missing elements.

The issue is open here: https://github.com/SciRuby/nmatrix/issues/454

[2016-04-24 16:43] lokeshh opened #105 "Daru::Vector#only_valid fails for gsl dtype vectors"
[code]

[2016-04-30 12:54] #44 closed

[2016-05-01 17:20] agisga opened #111 "Weird behaviour of `#clone` and `#delete_vectors`"
Cloning a data frame and deleting some columns:

[code]

Now `df_clone` looks as expected:

[code]

But `df` has two columns of `nil`s:

[code]

When using `#delete_vector` instead of `#delete_vectors`, I observe the same behaviour.

[2016-05-01 19:48] lokeshh opened #112 "Data Frame vector initialization using ranges without using to_a"
I think it would be great to have something like

[code]
instead of
[code]
What are your thoughts everybody?

[2016-05-02 13:28] gnilrets commented on #112
Both forms work when I try them.

[2016-05-02 18:57] v0dro commented on #112
Yep.

[2016-05-02 18:57] #112 closed

[2016-05-02 19:00] #105 closed

[2016-05-02 19:03] #111 closed

[2016-05-02 19:11] lokeshh commented on #112
Sorry, I should have had a look carefully. How about making it work for index initialization. The following doesn't work:

[code]

[2016-05-03 03:54] v0dro commented on #112
works!

[2016-05-03 05:59] lokeshh commented on #112
Do you mean I should work on it to make it work or do you mean it is working?

It doesn't work for me, shows me the following error:

[code]

[2016-05-03 11:51] v0dro commented on #112
I mean you working on it works fine. I know it doesn't work.

[2016-05-03 13:04] #86 closed

[2016-05-05 22:55] gnilrets opened #117 "DataFrame#rename_vectors deletes vector if source and target are the same"
I'll fix this in the next 1-2 days.  Just want to make sure it's fixed before the release.

[2016-05-06 07:01] #117 closed

[2016-05-06 18:34] gnilrets opened #120 "Difference between single and multiple field selection"
So something like this surprised me today.  I converted some code that I had written that used multiple vector references to one that only used one and it broke.  Something like the following.  I understand why this is happening (df[:a,:b] returns a dataframe and df[:a] returns a vector).  Any ideas for how we could clean it up to behave more naturally?

[code]

[2016-05-06 18:40] lokeshh commented on #120
Here's one crazy idea. Have df[:a] return a vector while df[[:a]], df[[:a, :b]] return dataframes.

[2016-05-07 07:22] v0dro commented on #120
There can be a custom `group_by` method for Vectors too. Its giving the `ArgumentError` because I think it's reverting to `Enumerable#group_by`.

Lokesh your idea might confuse MultiIndex infrastructure.

[2016-05-10 18:04] v0dro opened #122 "Improve JRuby testing"
Few things that come immediately to mind:
- Change travis for including JRuby.
- Make sure all the valid specs that are supposed to be running in JRuby are actually running.

[2016-05-12 14:35] v0dro opened #124 "All encompassing rake task for testing"
We should ideally have a rake task that does the following, and automatically generates a report of failures in each case:

- Run rspecs for each ruby version (2.0,2.1,2.2,2.3).
- Run rubocop for each ruby version.
- Generate a report of test failures sorted by Ruby version.

[2016-05-12 17:49] v0dro opened #125 "Research and implement a suitable tool for code coverage"
Code climate is something that immediately comes to mind but I'm open to other tools too.

[2016-05-16 12:24] zverok opened #127 "Read/write .csv.gz"
**Reason**: in R world, for example, its common thing to provide `.csv.gz` form of datasets for studying something. And it have a great sense: in many examples, `.csv.gz` files are 10-20 times smaller than respective `.csv` files.

Sample code to read data from `.csv.gz`:

[code]

One quick benchmark on my test data from other project:
- "kladr.csv" is 33'656'305 bytes
- "kladr.csv.gz" is 1'976'28

[2016-05-17 06:37] lokeshh commented on #122
This is the output I got running bundle install with jruby https://gist.github.com/lokeshh/b50ebccd7fcf430ea8d593ec8e6abe9f

Some of the things that needs change:
- Make Nyaplot jruby compatible
- Byebug doesn't work with JRuby, so it has to be removed
- Get some problems with Installing sqlite3 1.3.11 with native extensions
- Get some problems with Installing gsl 2.1.0.1 with native extensions

[2016-05-17 09:41] v0dro commented on #122
OK. Open an issue in nyaplot that it's not compatible with JRuby yet. I think it's some minor issue regarding ruby version which will need a small fix.

Let byebug be, but find other JRuby compatible alternatives for sqlite3 (I'm sure there is one since it's a widely used gem by the Rails community). We'll need to see if it's possible to not include byebug and gsl as development dependencies when

[2016-05-17 09:54] v0dro commented on #127
This can be in a `DataFrame.from_csv_gz()` function.

[2016-05-17 11:00] zverok commented on #127
BTW, in R its just `read_csv` (like, "we don't mind if your csv is packed"), but I'm not sure it is good approach :)

[2016-05-20 08:11] lokeshh opened #130 "Initialize DataFrame without specifying order"
I was working with DataFrame initialization and think following would be convenient to have. What are your thougts?

[code]

[2016-05-20 08:15] lokeshh opened #131 "Change #dv to #to_dv?"
Array or ranges can be initialized to `Daru::Vector` with `dv` method like

[code]

I think `to_dv` is better because its intuitive and easy to remember similar to `to_i`, `to_a`, etc.

[2016-05-20 09:41] zverok commented on #131
+1 to this proposition.
Also, I'm not sure it is a good practice to pollute Ruby objects with such a short names.
I'd prefer having `Array#to_daru_vector` by default, and `to_dv` shortcut defined in something like `daru/shortcuts` (not required by default).

[2016-05-20 16:33] zverok opened #133 "Inspect for very large numbers"
[code]

Definitely feels wrong.

[2016-05-20 17:58] v0dro commented on #133
Is it possible to show it as `40**40` instead of the large number?

[2016-05-20 18:04] zverok commented on #133
I'm not sure, but maybe scientific notation will play?..

[2016-05-20 18:06] v0dro commented on #131
Ok works. `to_dv` is better and more suited for a Ruby class change.

[2016-05-20 18:18] v0dro commented on #133
Yep that would also be fine. Something like `10E5` for ` 1000000.0`.

[2016-05-20 18:25] v0dro commented on #130
The first approach is alright (one with Vectors).

[2016-05-24 19:27] zverok commented on #125
Coveralls is pretty good. When code is covered with SimpleCov, instructions are pretty clear: https://coveralls.zendesk.com/hc/en-us/articles/201769485-Ruby-Rails, and provides pretty coverage badges (you can look for example at my [infoboxer](https://github.com/molybdenum-99/infoboxer) repo).

CodeClimate seems to have SimpleCov integration to, but I'm not sure how it is done, never tried: https:

[2016-05-25 15:12] v0dro commented on #125
Thanks. I'll have a look and integrate it.

[2016-05-27 08:11] zverok opened #137 "Proposal: get rid of missing_values concept completely"
**Reasons**:

1. `Vector#set_missing_positions` is needed on any vector update and is slow (entire `Daru.lazy_update` trick exists to fight it);
2. The concept is pretty confusing (and, to be honest, I'm not sure even inside Daru always used correctly -- there are ton of simple `nil`-checks here and there, and eventual "right" missing-data checks);
3. Ruby has native `nil`, which has the exact "th

[2016-05-27 08:56] zverok opened #138 "[API] Better support for SQL databases"
This is multipart proposal.

**First**: Change method name: `from_sql`s intuitive understanding is "from SQL database dump" (file or string, containing something like `INSERT INTO ... VALUES ...` -- such dumps any database could produce and in some context it is a common format for data exchange), which is not the case.

I think `from_db` could express the intention better.

**Second**: as far as

[2016-05-27 09:05] zverok opened #139 "[Cleanup] Drop unnecessary runtime dependencies"
There are two ugly fat dependencies which currently prohibit usage of daru in small-scale projects:
* reportbuilder (which tugs rtf, prawn, and whatnot);
* spreedsheet (which tugs ruby-ole, and is fat enough on its own).

Both of them are absolutely not necessary for core daru functionality, so they should be documented as optional dependencies (like nyaplot or gnuplot) and not go into mandatory o

[2016-05-27 10:18] zverok opened #140 "[API] Rename #dtype to #backend or something like this"
**Reason**: in many cases (like NMatrix), as well as intuitively, `container.dtype` reads like "type of data stored in this container" (like numbers or string or what). But Daru's `#dtype` means "storage backend", which is confusing.

[2016-05-27 10:23] zverok opened #141 "[API] Rename Vector#is_nil?"
As the method not returns boolean (the only thing that predicate methods should return), it definitely shouldn't contain question mark in the name.

So, my proposal here is `#is_nil?` => `#nils`, `#not_nil?` => `#not_nils`.

[2016-05-27 10:26] zverok opened #142 "[Cleanup] Vector#to_s and DataFrame#to_s should return something reasonable"
...now they are synonyms for `#to_html`, so, `puts Daru::Vector([1,2,3])` will produce pretty strange result for newcomer.

[2016-05-27 10:34] zverok opened #143 "[API] Vector: adding new values"
Here is the list of what feels right for me, ready to discuss!

I assume that Daru::Vector is a bit like Ruby's Array, and a bit like Hash. So:
* like Array:
  * `push(index, value)` to add index-value pair to the end of vector (and `<<` as a synonym);
  * (not sure) `<< value` -- pushes value + auto-calculated index (by `vector.index.last.succ`, for ex.);
  * `insert_after(lookup_index, new_index

[2016-05-27 15:36] gnilrets commented on #142
I think this is done so that `Daru::DataFrame.new({ a: [1,2,3] })` will produce a nice table output in iRuby.  Otherwise, the user would have to explicitly call `#to_html` in iRuby to see the nice tables.

When I'm not working in iRuby and I need to inspect data in a dataframe, I usually just call `#to_a`.

[2016-05-27 16:25] v0dro commented on #142
@gnilrets is right. However if iruby has some method that allows us to convert to iruby compatible pretty printing we can use that instead of `to_s`.

[2016-05-27 16:33] v0dro commented on #143
Well Vector/DataFrame don't function exactly like Array and are not designed to be expanded. It would involve a lot of unnecessary overhead like checking for missing value, updating missing value, size and indexing data structures internally and in general consuming more memory and time than is necessary.

You'd rather just use an Array, expand it as much as you want and then create a Vector from

[2016-05-27 16:34] v0dro commented on #141
Ok agreed.

[2016-05-27 16:37] v0dro commented on #141
now that you mention it, I just found a bug in the method. It's not working for missing values other than nil:
[code]

[2016-05-27 16:39] v0dro commented on #140
Agreed. How about `container`, or `data_store`? We'll also need to make some non-trivial changes in notebooks.

[2016-05-27 16:39] v0dro commented on #139
Will do.

[2016-05-27 16:41] v0dro commented on #138
Alright. We should keep compatibility with `from_sql` because many people use that. The enhanced behavior looks good.

[2016-05-27 19:13] zverok commented on #142
If I'm reading current IRuby's [code](https://github.com/SciRuby/iruby/blob/4fa06a9e828a2868af5441afab3773014eedb38f/lib/iruby/display.rb#L246) correctly, it outputs `obj.to_html` if object responds to `#to_html`, therefore no needs to output HTML for `#to_s`.

Moreover, if you'll read the file by my link from top to bottom, there is _no_ place where attempt to `#to_s` the object is made: the [las

[2016-05-27 19:24] zverok commented on #141
Which returns us to https://github.com/v0dro/daru/issues/137, and especially the bold statement:

;)

[2016-05-28 18:34] zverok commented on #143
Which **once again** return us to https://github.com/v0dro/daru/issues/137 ;)

What I think about (looking at real R code using dataframes heavily, which I now can access at work) is all-in-all Vector and DataFrame as just a new containers (which I personally would like to have as popular as an Array/Hash), and they should be as intuitive in that role as possible. And if daru's user wants to creat

[2016-05-28 18:45] zverok commented on #141
I think it's pretty easy to explain (and understand) something like "`Vector#nils` returns vector of booleans of same size as original, having `true` in places where original vector have `nil`, and `false` where it is not". WDYT?

[2016-05-28 19:42] v0dro commented on #137
@gnilrets @mrkn any comments here? I've come across some use cases where missing data was something apart from just `nil`.

[2016-05-28 19:48] v0dro commented on #143
Hmmmm you have a point, but I'd like to discuss this and #137 further before we come to any decisions. It can have far reaching implications for daru as a whole.

[2016-05-28 19:57] v0dro commented on #141
Ok I'm convinced.

[2016-05-28 19:59] zverok commented on #101
I looked into the matter lately, and was able to shorten the gap between "brute" and "native" to 4 times (for simplest cases "one column ascending sort"). It is just an experiments, so, there is no place where commit exists :)

But, thinking of it further, I assume even 10-15 seconds for sorting of 160k rows is pretty acceptable. Like, it is not the kind of speed when you became old while waiting

[2016-05-28 20:02] v0dro commented on #137
Btw I just remembered that some functionality in statsample depends on this particular feature. If we decide to support only `nil` as missing (and even maybe `Float::NAN`) we'll need changes in both daru and statsample.

[2016-05-28 20:06] v0dro commented on #142
Hmmm I'll just try that out in an iruby notebook and post it here.

[2016-05-28 20:09] v0dro commented on #137
This is how statsample looked before dataset was replaced with Daru::DataFrame - https://github.com/SciRuby/statsample/blob/63280a31849bb6320eecda04445cc43d34932ae8/lib/statsample/dataset.rb

[2016-05-28 20:13] v0dro commented on #142
@zverok you're right. It does indeed make use of to_html (not sure in which version they introduced this change).

I made some changes to my local daru install and here's the output:
![screenshot from 2016-05-29 01 39 03](https://cloud.githubusercontent.com/assets/2629909/15629741/b2d8d404-253e-11e6-85d3-f4d125a1bef4.png)

[2016-05-28 20:19] zverok commented on #137
I've just `grep`ed through statsample code, and it is not much of `missing_<anything>` features usage. I assume it should not be hard to update, and we all will benefit from this... Though, I'm sometimes feeling like being too pushing in SciRuby matters and need to slow myself a little :)

[2016-05-28 20:20] zverok commented on #142
Yeah, I've investigated the matters thorougly preparing my reality for IRuby compatibility :) Current behavior seems much more logical than relying upon `#to_s`

[2016-05-28 20:45] zverok commented on #31
@gnilrets can you provide your test CSV (if it is not some very private data)? I'm now checking performance here and there during refactoring, and maybe there could be some things that could be improved immedately.

[2016-05-28 21:27] zverok commented on #122
NB: In fact, Nyaplot is compatible with JRuby, but is not compatible with Ruby < 2, so it is easily installed with JRuby 9.0.x.x, but will not install to versions prior to that (which are equivalent to Ruby 1.9).

[2016-05-28 22:04] gnilrets commented on #31
I can't supply the CSV I used in that test.  But here's some publicly available data from medicare (too big to attach directly, but still only a few 10k records): https://www.medicare.gov/download/DownloaddbInterim.asp

[2016-05-28 22:21] gnilrets commented on #31
I got similar relative benchmarks using both some of the wide and long datasets.  Basically, Daru seems to take about 3-4x as long as just parsing the CSV.  My suspicion is Daru uses `CSV#by_col`.  If we process rows one-by-one to load a hash of arrays, we can improve the load process by about 2x.

[2016-05-28 23:54] mrkn commented on #137
I agree with that 'replacing missing values with nil or Float::NAN.

[2016-05-28 23:59] mrkn commented on #137
I think the concept of `set_missing_positions` can be divided to scanning whole dataframe and updating  index of missing values.
The current implementation does only scanning.
But updating index is enough for the almost point at which `set_missing_positions` is called.

[2016-05-29 09:57] v0dro commented on #31
Alternatively we can create a C extension over libcsv as an nmatrix plugin and use that for loading data into dataframes.

https://github.com/SciRuby/nmatrix/issues/407

[2016-05-29 10:00] v0dro commented on #122
I just figured that you can install dependencies according to interpreter with install_if or platform.

https://github.com/bundler/bundler/blob/dfdeb0f89e7e88fcdfd001da089f09af3a77d2b4/man/gemfile.5.ronn#L454

[2016-05-29 15:43] zverok commented on #31
Yes, but C extension is always somewhat like "last resort" (and JRuby guys will hate it, I suppose), so my first guess is always trying to profile/optimize Ruby.

Currently, I've investigated it to the point where it can be understood that CSV library itself performs pretty bad _when provided with `:numeric` converter_. I'll try to invent something simple-yet-clever around it :)

[2016-05-29 17:00] lokeshh commented on #143
I'm about to work on `Daru::Vector#[]=` and was wondering if this feature should be supported. For Data frames, this feature is supported.

[2016-05-29 18:15] v0dro commented on #31
No we'll keep it MRI specific. JRuby should have another library for CSV importing (I think jCSV from Rodrigo Botafogo can do the job - https://github.com/rbotafogo/jCSV

[2016-05-30 15:00] zverok opened #144 "Drop "default dataframe name" feature"
I'm not sure why it can be necessary or useful. Unnamed vectors are ok, why unnamed DFs are not?..

[2016-05-30 17:50] v0dro commented on #144
Alright agreed.

[2016-05-30 17:56] v0dro commented on #137
OK as per what @zverok is saying, we will drop support for missing values apart from nil and Float::NAN in future versions.

[2016-05-30 18:54] lokeshh opened #145 "Daru::Index#each doesn't return an enumerator"
I think `Daru::Index#each` should return an enumerator following the Ruby API. What do you think?

[code]

[2016-05-30 19:46] v0dro commented on #145
Yep.

[2016-06-01 08:00] #73 closed

[2016-06-01 08:02] #144 closed

[2016-06-02 12:31] v0dro opened #150 "Support different index types within MultiIndex"
Currently MultiIndex is quite limited in functionality. It does provide hierarchical indexing, but this is quite limited to having simple ruby objects for representing each level. It would be great to say, have a `DateTimeIndex` on the second level of an hierarchy for selecting elements by date on the second level and by normal indexing on the first level (the first level will be a `Daru::Index`).

[2016-06-02 16:56] zverok opened #152 "[API] Redesign of `DataFrame#group_by`"
Planned to do this myself, but, unfortunately, in upcoming weeks I will have much less spare time. So, just writing it here to not forget.

**The idea**: we don't need separate `Core::GroupBy` object. It adds to users confusion, code and tests complexity and makes grouping too rigid and fragile.

**The solution**:
**_Part 1_**: make `DataFrame#group_by` to produce DF with MultiIndex, like this:

[

[2016-06-02 17:05] zverok commented on #142
OK, I see several possible options for `#to_s`:

1. just synonym for `#inspect`;
2. more fancy table formatting (like [terminal-table](https://github.com/tj/terminal-table) allows);
3. short string of header-only, like "<Daru::DataFrame(3x5)>" and that's all.

Of them, opt.1 is the simplest we can do :), opt.2 produces the most reasonable result for `puts dataframe`, and opt.3 produces the most re

[2016-06-02 21:59] gnilrets commented on #152
I agree the `Core::GroupBy` is a little weird at first.  In general I like this, but I have a few comments/suggestions.

1 - The grouped vectors should remain in the dataframe as well as being part of the index, since we may need to refer to them as they appeared originally.  So in in your first example:

[code]

2 - For the last two examples, would you need to create a vector/dataframe for every

[2016-06-03 07:18] lokeshh opened #153 "Vector initialization failed when dtype is nmatrix"
Vector containing `nil`s can't be initialized using `:nmatrix` even though nmatrix supports `nil`'s.

[code]

(Discovered this while working with https://github.com/v0dro/daru/pull/134; writing it down in case I forget it.)

[2016-06-03 09:08] zverok commented on #152
About (1) I may agree (it looks a bit redundant, but in real-life cases I think it would be necessary).

About (2) -- one of my biggest concerns (and reasons I'm here) is: I want to have Vector/DataFrame as natural in Ruby community as Array and Hash are. This means both speed and usability.
One of the things I'm really aware of is that creation of Vectors and DFs on the fly for small reasons **sh

[2016-06-03 09:42] v0dro commented on #152
Yes looks good to me.

[2016-06-03 09:44] v0dro commented on #153
You'll need to specify `:nm_dtype` as `:object` or alternatively catch the error and change the required data type to `:object` from the default `:int32`.

[2016-06-03 09:53] v0dro commented on #142
I would go with `3.` simply because inspect is more of diving deeper into the data structure while `to_s` is like short stringified representation. `2` can also be done separately in a `#terminal_table` method.

[2016-06-03 12:45] v0dro opened #154 "Improve plotting to support 3D plots, map and bio plots"
Nyaplot supports 3D plotting, map plots and bio plots. Supporting these directly from daru would be great.

[2016-06-03 12:46] v0dro opened #155 "Library-neutral plotting interface"
Ruby does not have support for very good plotting libraries and therefore it does not make sense to be tied down to one (nyaplot in this case). We should explore more options and ultimately create a plotting interface that can function as a top level abstraction to libraries like nyaplot, gnuplotrb, rubyvis, etc.

[2016-06-03 13:02] zverok commented on #155
That is a super-cool idea; I'm thinking about something similar through several weeks... Though, I'm not sure that it should be a part of Daru, rather "meta-plotting" library with dependency on Daru and optional dependencies on all and every plotting libraries available.

[2016-06-03 13:09] v0dro commented on #155
That works too. Or it can be a separate extension to daru in the daru source that can be required with `daru/plotting`

[2016-06-03 21:33] v0dro opened #156 "Catch possible invalid options supplied to DateTimeIndex.date_range"
There should be some mechanism to capture invalid options passed to `DateTimeIndex.date_range` and tell the user about the correct options to be used.

[2016-06-04 12:12] lokeshh opened #157 "Use Guard for automatically running tests."
It would be great have something like [guard-spec](https://github.com/guard/guard-rspec) to automatically run the concerned specs whenever a change is made. This would **really** help to make TDD better.

[2016-06-04 12:15] lokeshh commented on #157
Any suggestions?

I was about to do it myself using `guard-rspec` but don't know how configure the `Guardfile`

[2016-06-04 13:34] v0dro commented on #157
Why not use guard itself? We'll just need to figure it out. Don't think there's a need for a new gem.

[2016-06-04 13:59] lokeshh commented on #157
Yes that's why I mean. Guard in not included as a gem in Daru yet.

[2016-06-04 20:13] lokeshh opened #158 "provide min/max with blocks"
`Daru::Vector#max` doesn't accept a block currently. For example with `Array#max` one can do:

[code]

[2016-06-04 20:15] lokeshh commented on #158
Also I think we should have something like Pandas `argmax()` and `argmin()`, they return the index value at which the value is maximum.

[2016-06-05 09:20] v0dro commented on #158
Let's call those methods `index_of_max` and `index_of_min`. And the block is a good idea.

[2016-06-05 09:21] v0dro commented on #157
Sure. Make a separate PR.

[2016-06-05 09:47] v0dro opened #159 "Sort by index"
A `sort_by_index` method in `DataFrame` and `Vector` that will sort based on the index and not values of data.

[2016-06-05 09:56] v0dro opened #160 "Allow .from_csv to accept URL"
The `DataFrame.from_csv` method only accepts file paths currently. Extend it to accept URLs.

[2016-06-07 14:50] zverok opened #162 "Introduce deprecation mechanizm"
(Please, don't be angry at me!)

Development of Daru is a huge work, and it is research work mostly -- researching approaches, best and most effective APIs and so on. So, not always the very first version of some feature/API/approach is the best. But people are starting to use them, and it is not always easy to just say "guys, the things were changed and your code is not working anymore! Deal with

[2016-06-07 19:04] v0dro commented on #162
Works! I would normally alias methods or keep the method and print into `STDERR` but this looks like a better way. Methods need to be deprecated carefully though.

[2016-06-08 01:59] mrkn opened #164 "Using Apache Arrow"
[Apache Arrow](https://arrow.apache.org) provides common representation of in-memory columnar data.
I think daru should use this to be interoperable with other platforms such as pandas.

@v0dro How do you think about that?

[2016-06-09 15:39] wlevine opened #166 "DataFrame#clone not maintaining order of Vectors."
[code]

The columns have the wrong label.

[2016-06-09 21:20] zverok commented on #160
Just found a pretty cool thing that could be in help somehow: https://github.com/seamusabshere/remote_table

[2016-06-10 07:24] lokeshh opened #167 "Sort by index"
There should be a function that can sort the dataframe and vector by index.

For example
[code]

[2016-06-10 07:25] lokeshh opened #168 "set as index"
There should be a function that can set a vector in dataframe as index.

[2016-06-10 07:59] lokeshh commented on #166
Changing `clone: false` to `clone: true` fixes the issue but @v0dro what does `clone` option do?

[2016-06-10 09:13] v0dro commented on #166
@wlevine the `#clone` function is meant to be a 'shallow' copy of the dataframe. It does not copy the underlying vectors by default.

If you want a full copy use `DataFrame#dup`. Also close this issue if it solves your problem.

[2016-06-10 09:13] v0dro commented on #166
@lokeshh The `clone` option specifies whether the Vectors are to be copied or not.

[2016-06-10 09:15] v0dro commented on #166
If it's `true` the Vectors will be copied otherwise it will be a shallow copy.

[2016-06-10 09:16] v0dro commented on #164
Works! How can we make this happen? I'm seeing a lot of work in this direction being done by Wes McKenny too. This should be great.

[2016-06-10 09:33] v0dro commented on #167
#159

[2016-06-10 09:33] #167 closed

[2016-06-10 17:04] lokeshh commented on #166
@v0dro This might not be related to this issue but just to want to know these things-
- Should the order of dataframe be the same as that of hash when the dataframe is created from hash?
- Should the order be preserved when the dataframe is cloned?

[2016-06-10 17:22] v0dro commented on #166
If you create a dataframe and don't specify the order, it will sort the keys alphabetically and the order will be alphabetical. However if you pass the `:order` option, it will adhere to `:order`.

Yes it should be preserved.

[2016-06-10 20:35] #166 closed

[2016-06-10 21:58] gnilrets commented on #164
Intriguing.  Would this only work with JRuby, or would it be possible to work with MRI too?

[2016-06-14 12:43] v0dro opened #170 "Use ParaText for parsing CSV files fast"
We can shift to using paratext for parsing CSV files very fast: https://github.com/wiseio/paratext

It claims to parse CSV's at 2.5 GB per second, which is huge. Of course the actual wrapper will need to rest in a separate gem. Daru `from_csv` can use the paratext wrapper if it is available.

https://github.com/wiseio/paratext/issues/27

[2016-06-14 21:35] gnilrets opened #171 "Joins fail with empty or nil data"
Found two cases where joins are failing

1 - The left dataframe is empty:

[code]

2 - The left or right dataframe contains nil values for the join keys:

[code]

[2016-06-15 08:02] zverok commented on #171
I'll fix this today. It was me who rewrite the join last time :(

[2016-06-15 13:25] gnilrets commented on #171
Oh, I thought it was me.  I should mention that this was pre-0.1.3 (I'm using abf306cade053e5700cb3c43fcf83b4ad1cfaa30 from April 22).  I haven't tested this against the latest master branch because I didn't think much had changed with joins.

[2016-06-15 13:43] zverok commented on #171
OK, in current master only one of two fails:
[code]

Will look at it.

I've rewritten the join logic when tried to satisfy strict Rubocop requirements.

[2016-06-23 19:20] agisga opened #172 "`#filter_rows` gets rid of vector names"
Example:

[code]

That is, the vectors of the returned data frame don't have names anymore.

[2016-06-23 20:37] zverok opened #173 "[Cleanup] Reduce variable caching"
Some examples:
* `@vectors` in DataFrame;
* `@size` in DataFrame and Vector.

Their calculation is 100% trivial, and I have an (easily verifiable) theory that performance drawback, if any, would be insignificant. And code would be seriously simpler, reducing probability of bugs like those: https://github.com/v0dro/daru/issues/172.

[2016-06-23 20:38] zverok commented on #172
#173 now, thanks :) I've procrastinated writing this proposal for several weeks.

[2016-06-24 06:26] lokeshh commented on #137
Why are we supporting `Float::NAN` in addition to nil?

[2016-06-24 07:21] v0dro commented on #137
It so happens that numerical libraries like nmatrix frequently use Float::NAN for representing missing data in a floating point matrix.

[2016-06-24 07:25] v0dro commented on #173
`@vectors` and `@size` are created only when the DF/Vector is created. In case of `@vectors` how do you propose to store order?

[2016-06-24 07:42] v0dro commented on #172
https://github.com/v0dro/daru/commit/dc53f4ee976185291b730119b00e3a56d52b3b25

[2016-06-24 07:42] #172 closed

[2016-06-24 07:59] zverok commented on #173
And they need to be synchronized on order change or adding/removing rows. Which can lead to all kind of unintuitive behavior, like this:
[code]

Just naturally, as an order of vectors in `@data` array. For all I know, changing order of _small_ array (even containing _large_ objects) should be pretty cheap operation. Like,
[code]

PS: On a side note, this part of an API seems really unfortunate to

[2016-06-24 16:47] v0dro commented on #173
Hmmm ok so according to you the basic problem is that we're storing vector names in two different places, the actual names of vectors in the `@data` array and in the `@vectors`? But what if it's indexed on something other than simple names? Say `DateTimeIndex`? It requires querying by year/month/day etc. What if indexing is eventually made extensible enough to let users create their own index clas

[2016-06-24 17:05] v0dro commented on #31
#170

[2016-06-25 12:15] zverok commented on #173
Hmm, that makes sense, forgot about it (even funnier considering I've recently done rendering of DFs with multi-index column names). That complicates matters, of course.

Maybe you are right. But maybe if internals would be 2D matrix, the operations of add column/remove column became expensive, which is pretty bad.

I'll close this and will look into matters when I'll have more time (maybe after G

[2016-06-25 12:15] #173 closed

[2016-06-26 16:29] v0dro commented on #173
Sure. I think we should explore the way in which pandas stores data.

[2016-06-26 17:06] lokeshh opened #174 "Regular expression matching for vectors"
I feel like we should have a function to match regular expression like we have `eq`, `lt`, etc.

It would work as follow:
[code]

[2016-06-26 17:18] lokeshh opened #175 "Transform a vector at values passing a particular condition"
`#where` is used to list vectors that pass a particular condition. May be it would be equally good to have something in Daru that lets you do transformation to a vector for values that specify a particular condition.

It would work as follow:
[code]
`dv.match` comes from [this](https://github.com/v0dro/daru/issues/174) feature request and I assume `convert_to_week` is a method to convert week to d

[2016-06-27 00:57] gnilrets commented on #174
What about just a generic function-to-boolean array process.  Something like
[code]

`dv.recode_bool` would take anything "truthy" and convert it to `true`, otherwise `false`.

That being said.  I would also prefer not having to rewrite `dv` numerous times while filtering.  My dataframe names are usually pretty long and it's a bit annoying to have to reuse these long names all of the time.  What I

[2016-06-27 15:47] v0dro commented on #174
`recode_bool` looks good to me. It's very generic and can be used in a variety of use cases. The `#match` function can be a wrapper over that just calls the regexp matcher on each element of the Vector internally using `#recode_bool`.

@gnilrets your implementation of `where` might be feasible for Vectors but for DataFrames it would be tough since you need to select the vector which you want to us

[2016-06-27 15:59] v0dro commented on #175
Nifty.

[2016-06-29 17:25] #124 closed

[2016-06-30 06:34] lokeshh commented on #162
Running `deprecate` gives me an error. Do we have to include any gem?

[2016-06-30 06:39] lokeshh commented on #162
Oh Sorry! I just saw now that we have to do `extend Gem ::Deprecate`

[2016-07-01 18:43] lokeshh opened #176 "Wrong message when assigning invalid index"
[code]
`dv` is not a DataFrame as mentioned in the error message.

[2016-07-01 23:22] gnilrets opened #178 "Many-to-Many joins no longer work"
This test fails now:
https://github.com/v0dro/daru/commit/760fb19d5e65e1e4231777fdb18f8fd4284b6e79#diff-9a856a5cbb8265463fa1bb64f02258e1L33

[2016-07-02 18:06] #171 closed

[2016-07-02 18:07] v0dro commented on #178
@zverok

[2016-07-02 19:09] zverok commented on #178
Yeah, I see :( Sorry, guys, I'll fix today or tomorrow.
Shame on me.

[2016-07-06 05:53] #178 closed

[2016-07-06 12:07] v0dro opened #180 "rake all does not install dependencies"
Upon running `rake all` I got the following error:

[code]

Ideally everything should be automated.

[2016-07-06 15:04] #139 closed

[2016-07-06 16:30] v0dro commented on #168
`DataFrame#set_index` does that.

[2016-07-06 16:30] #168 closed

[2016-07-06 21:27] #145 closed

[2016-07-09 18:03] lokeshh opened #183 "df#merge changes string names to symbol names"
[code]
This is unexpected behavior since the name was `'a'` in `df1` but became `:a` in `df` upon merging.

[2016-07-10 20:12] #183 closed

[2016-07-11 15:58] ShallmentMo opened #185 "Is there a way to easily transform an array of hash to DataFrame?"
I have some JSON data like this:
[code]
And is there a way to easily transform an array of hash to DataFrame like this:
[code]
just like what we can do in pandas of python.

[2016-07-11 18:16] v0dro commented on #185
Yes.
[code]

Go through the notebooks in the README for further information.

Also please direct further user level questions to the SciRuby mailing list: https://groups.google.com/forum/#!forum/sciruby-dev

[2016-07-11 18:16] #185 closed

[2016-07-11 18:22] zverok commented on #185
I believe that just `DataFrame.new()` should work.

[code]

[2016-07-14 17:48] lokeshh opened #186 "Set a base category after ordering and renaming categories"
There's is one enhancement and one bug with category data

1. The enhancement is that Daru should set the first category as base category after setting the category order.

2. The bug is that if base category is renamed then a new base category is not substituted in place of it.

[2016-07-20 19:54] lokeshh commented on #186
3. Also need a function to remove unused categories.

[2016-07-20 20:01] lokeshh opened #187 "Get vector using instance method when name is string"
[code]
I propose to let let vectors with string names similarly processed. WDYT?

[2016-07-20 20:31] gnilrets commented on #187
I can think of at least one edge case which would be weird:
[code]

Not sure about everyone else, but I strongly prefer the array accessor method getting vectors - `df[:a]`.

[2016-07-20 20:37] gnilrets commented on #187
Something that's always bothered me about this is that when you use `df[:a]` you get a vector, but when you use `df[:a, :b]` you get a dataframe.  This could be a problem if I'm creating a new dataframe from a variable list of vectors and it's possible for that list to just have one element.  What would everyone think about using `df[:a]` to return a dataframe and `df.a` to return a vector?

[2016-07-20 20:39] zverok commented on #187
This thing is something I've wanted to discuss a long time ago :) Considering not-so-easy Ruby's String/Symbol dychotomy, it could be (maybe) reasonable for all real-life cases to make them indistinguishable from internal point of view (like infamous `HashWithIndifferentAccess`).

Most of the times, when somebody has `:a` and `'a'` vector in the same dataset, it does NOT what he/she wanted, but ra

[2016-07-21 07:30] zverok commented on #187
This thing is normal for Ruby:
[code]

[2016-07-21 07:47] lokeshh commented on #187
I've encountered the same problem. You can use `df[:a..:a]` if you want a dataframe and not a vector. Generalizing it you can do something like following:
[code]
I think we can also create another method for this type of usage.

[2016-07-21 08:06] v0dro commented on #186
Could you split this into two different issues - one for the enhancement and one for the bug?

[2016-07-21 08:09] v0dro commented on #187
It does not make sense to return a DataFrame with a single vector because:
- As @zverok pointed out, when you select a single element, the result is an element of a type that makes up that collection (in this case `Daru::Vector`).
- DataFrame still involves duplication of indexes and is heavier than Vector. Thus it would be unnecessary overhead.

We can overcome this problem by having a `to_df` me

[2016-07-21 08:15] v0dro commented on #187
@lokeshh about your original issue:

The `df.vector_name` syntax is more of a convenience syntax. We should support all sorts of vector names irrespective of whether are symbols or strings.

@gnilrets the edge case that you pointed out (where there's a symbol and string name in the same dataframe) will most likely be a fault on part of the user and even if it is intentional the user can easily use

[2016-07-21 15:11] gnilrets commented on #187
`to_df` on vectors would be a great workaround.

As far as the string/symbol, I agree that it would be more natural to internally convert strings to symbols when using `df.a`.

[2016-07-21 17:48] lokeshh opened #188 "Delete unused categories"
It would be convenient to have a function to remove unused categories.
For example:

[code]
It would be nice to remove categories like `:c` which do not occur.

[2016-07-21 17:49] lokeshh opened #189 "Set a valid base category after renaming categories"
The base category should change after renaming categories. For example,

[code]
Since `:a` category exist no more, the base category should change.

[2016-07-21 17:49] lokeshh opened #190 "Re assign base category on reordering"
It makes sense to re assign base category after re-ording the categories. For example:

[code]
It would be nice to have the base category set to `:c` because it occurs first in the new order.

[2016-07-21 17:49] #186 closed

[2016-07-21 17:50] lokeshh commented on #186
Splited it to three issues:

#190 #189 #188

[2016-07-21 17:53] v0dro commented on #190
@agisga do you agree with this behavior? I will mark this as an enhancement if yes.

[2016-07-21 17:55] v0dro commented on #189
Seems logical.

[2016-07-21 17:57] lokeshh commented on #188
Also remember to reassign base category if it gets removed.

[2016-07-23 04:08] agisga commented on #190
I think the suggested behavior is okay (I don't think this issue is very significant, because the user can set the desired base category by hand anyway).

[2016-07-23 12:46] v0dro commented on #190
Ok cool.

[2016-07-24 18:09] lokeshh opened #191 "Unexpected broken lines in dataframe display in iRuby"
There are these random broken lines that are appearing at certain places. For example look at output of cell 6 of [this notebook](http://nbviewer.jupyter.org/github/lokeshh/sciruby-notebooks/blob/cat_notebooks/Data%20Analysis/Categorical%20Data/examples/%5BExample%5D%20Formula%20language%20in%20Statsample-GLM.ipynb)

[2016-07-24 18:55] v0dro commented on #191
Cell 6 seems fine to me:
![screenshot from 2016-07-25 00 24 49](https://cloud.githubusercontent.com/assets/2629909/17085777/458142dc-51fe-11e6-9b23-62e43a85c64c.png)

[2016-07-24 18:59] v0dro commented on #180
Sounds good! Call it `rake spec setup` so it's obvious. The task for running specs can be renamed to `rake spec run`. This can be done by setting up rake to detect command line arguments: http://stackoverflow.com/questions/825748/how-do-i-pass-command-line-arguments-to-a-rake-task

[2016-07-24 18:59] v0dro commented on #180
The default when running just `rake spec` should run both `rake spec setup` and `rake spec run`.

[2016-07-25 03:10] lokeshh commented on #191
![img](http://i64.tinypic.com/w8x1ys.png)

[2016-07-25 03:33] lokeshh commented on #180
Would `rake spec run` run the specs for all Rubies. How will one run specs for only one Ruby version? Currently `rake run_all` run specs for all Rubies and `rake spec` run specs for only one Ruby version.

[2016-07-25 04:11] lokeshh opened #192 "Rserve failures"
I get these two failures on running `rake spec` after cloning Daru repo on a cloud computer.

[code]

Do I need to open a port or something?

[2016-07-25 08:54] v0dro commented on #180
Oh. Missed that. How about:
* `rake spec` runs the specs for only the current Ruby version (same behaviour as is right now).
*  `rake spec run all` running specs for all the Ruby versions.
* `rake spec run -v 2.2` will run specs for Ruby 2.2. You can of course put any version of Ruby there.
* `rake spec setup` does the test setup for all Ruby versions.

We'll just trust the user for running `rake

[2016-07-25 08:55] v0dro commented on #191
That's weird. Can you write a similar HTML table and see if it displays correctly in the same environment?

[2016-07-25 08:57] v0dro commented on #192
I think Rserve needs R installed. See this: https://github.com/v0dro/daru/blob/master/CONTRIBUTING.md#installing-daru-development-dependencies

Let me know if it works for you.

[2016-07-25 11:34] lokeshh commented on #192
Its working. Thanks!

[2016-07-25 11:34] #192 closed

[2016-07-25 13:33] lokeshh commented on #180
@v0dro Which answer are you referring to in the link: http://stackoverflow.com/questions/825748/how-do-i-pass-command-line-arguments-to-a-rake-task

The standard way of passing arguments to rake is something like `rake task[arg1, arg2]`.

[2016-07-25 13:51] lokeshh commented on #180
Although using the trick mentioned in [this answer](http://stackoverflow.com/a/14078271/2623749) this is possible.

[2016-07-25 19:22] v0dro commented on #180
Yeah I like the approach in the answer you posted more.

[2016-07-28 09:54] lokeshh commented on #137
So how would the new API look like. Currently we have:
- `only_valid` to print only the valid values. This will now print values except `nil` and `Float::NAN`
- `has_missing_data?` to tell if there are missing values.
- `missing_positions` give positions of missing values. Should we cache the missing positions as currently done by `@missing_positions`?
- `exists?` returns true if a value is there

[2016-07-28 15:16] gnilrets opened #197 "Get rid of vector metadata"
This was my half-baked idea.  It didn't work out quite the way I wanted it to in the project I thought I needed it for so I'm not using it.  Probably best to get rid of it to remove bloat and let users handle metadata on their own.  Unless there are any objections, I'll try to find some time to remove it.

[2016-07-28 16:30] sunderwood opened #198 "Proposal: Function for filling in missing data"
I would like to be able to fill or pad the nil values in vectors or data frames. I work primarily with time series data and being able to roll values forward to fill the "missing" spaces is very useful. I have used the python Pandas library before and [Pandas fillna function](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html) allows me to fill nil values with a sca

[2016-07-28 16:56] zverok commented on #197
+1 for this. This was one of my first question when I've started to work with Daru.

[2016-07-28 16:59] agisga commented on #137
@lokeshh I agree with you. Apart from the methods you mention, I have also found the data frame methods `#missing_values_rows`, `#clone_only_valid` and `#dup_only_valid`, which I think are worth keeping if possible.

[2016-07-29 05:20] #191 closed

[2016-07-29 05:21] lokeshh commented on #191
I'm closing it for as I have lost access to my old linux environment. Will reopen once I set it up again.

[2016-07-29 05:25] lokeshh commented on #137
@agisga I'll keep that in mind. Thank you :+1:

[2016-07-29 05:59] #190 closed

[2016-07-29 06:13] v0dro commented on #137
Not print. It returns a new data structure without missing values.

Yes.

Yes caching would make it much faster. We should explore optimizing storage of missing positions in a later issue.

OK works.

Yep.

Yes. In a vector.

OK. Indexes of the missing data can be found using missing_positions anyway.

OK

This is debatable. Maybe we can optimize it somehow (my earlier comment) or remove it and po

[2016-07-29 07:22] v0dro commented on #197
Ok works. Lets remove it.

[2016-07-29 07:23] v0dro commented on #198
Yes. That would be useful.

[2016-07-29 10:22] zverok commented on #137
To be honest, the proposal was targeting serious simplifications of APIs and concepts. It may be to extreme, but what seems a "happy path" for me, is the following:

1. Consider only "Ruby native" missing concept (`nil`)
  * `Float::NaN` could be transparently converted into `nil` on assignment...
  * ...or left intact, without any special processing (see below about it);
2. Get rid of _all_ speci

[2016-07-29 16:26] v0dro commented on #137
Hmmm I like @zverok's idea. @lokeshh how would you go about this? The caching of missing data should still happen so you will need to treat calls to `include?`, `reject` etc. differently if the arguments are `nil` or `Float::NAN`.

About treating only `nil` as missing: the problem is that `nil` is an object and `Float::NAN` is a floating point number. Should we decide to switch to nmatrix for stor

[2016-07-29 16:28] #188 closed

[2016-07-29 17:04] agisga commented on #137
My main concern is that I want to be able work with missing values directly on data frames rather than iterating through the vectors.

For example if I want to check that a data frame has missing values, it would be inconvenient to call #include on every vector (that's why I like the method #has_missing_data for data frames).
Or a lot of times I want to extract a new data frame that contains only

[2016-07-30 04:17] lokeshh commented on #137
`#include?` and `#reject` in dataframe perform different functions. Lets stick to `#has_missing_data` and `#dup_only_valid` for dataframes while we use the method names like `#include?` and `#reject` as suggested by @zverok. What do you think?

[2016-07-30 04:23] lokeshh commented on #137
Now that I think about it more, lets change `#has_missing_data?` in `Daru::DataFrame` to `#include_values?(*values)` and `#dup_only_valid` to `#reject_values(*values)`. It makes more sense because this way we can map the methods related to missing data used in `Daru::Vector` to `Daru::DataFrame` by adding "values" suffix. Also it makes sense to have something like `#include_values?` because here t

[2016-07-30 04:53] lokeshh commented on #137
Ok. I think this shouldn't be difficult. First I will create `include?`, `reject`, etc and later cache them for `nil` and `Float::NAN`.

This can be tricky since the deprecated methods would require `@missing_positions` and if we do not remove `@missing_positions` then there will be no speed up.

[2016-07-31 09:34] lokeshh opened #204 "Better error message to address invalid column in dataframe"
[code]

Instead of saying "Specified index `:c` does not exist", I think it would be better to say "Specified vector `:c` does not exist".

[2016-07-31 12:59] v0dro commented on #137
How will the missing positions be kept updated without `set_missing_positions`? If we don't cache the missing positions, we'll need to run through them every time the method is called. Something tells me that we CAN get away with leaving this to the user.

 @gnilrets @mrkn what do you think? Would it be justified to leave caching of missing positions to users? That way we can also get rid of `Daru

[2016-07-31 13:01] v0dro commented on #137
You can use `include_values?` in dataframe for knowing if a particular value exists. `include?` can accept Vectors.

[2016-07-31 13:09] #189 closed

[2016-08-01 08:52] mrkn commented on #137
I think missing points cache is reasonable to process missing values as fast as possible for the too large data frame.

In machine learning, we often replaces missing values with representative values of vector in missing data imputation process.

[2016-08-01 15:46] v0dro commented on #137
How about having methods like `fillna` in `daru/shortcuts`? It will just be a wrapper over `replace`.

[2016-08-02 02:52] dansbits commented on #138
Just throwing my cents in here.

1. I don't have any strong opinions on naming for the method but I'd be curious to hear more rationale for the change. The pandas method is `read_sql` so I don't think it's non-standard to use sql instead of db. Do you have any examples of other libraries which use db instead of sql? I agree that continued support of from_sql or at least a deprecation period would

[2016-08-02 04:51] dansbits opened #206 "Reset index function"
Is there a function on the data frame similar to the pandas `reset_index` method for adding the values in the index to the dataframe. I often find myself wanting to re-incorporate the index back into my dataframe after using group_by.

I don't see anything and wanted to check before trying to add it.

[2016-08-02 17:40] lokeshh commented on #137
I was thinking, lets just rename methods like `include?`, `reject` which are to be implemented in `Daru::Vector` to `include_values?`, `reject_values`, etc. because of the following reason:
- It will match the terminology of corresponding methods in `Daru::DataFrame`
- `reject` is defined by Enumerable to only accept a block and making it doing two things i.e. accept a block as well as accept argu

[2016-08-03 06:27] v0dro commented on #137
Hmmm @zverok what do you think about this?

[2016-08-03 06:28] v0dro commented on #206
Should be a good addition. How will the new vector that the index will create be named? Also, the new index that the dataframe will get will be numbered from zero right?

[2016-08-03 09:13] zverok commented on #137
@v0dro @lokeshh  Seems pretty reasonable to me

[2016-08-03 10:24] zverok commented on #138
Not sure about it. That was rather "personal taste-based" than "example-based" suggestion. But it can be considered other way round: `from_sql` means import from _SQL database_ (in constranst for some No-SQL or specialized databases). So, I suppose, current name should work also.

Yeah, I think it is. First, not everyone is familiary with SQL (and there would be constant need for some users for re

[2016-08-03 14:24] gnilrets commented on #138
I also prefer `from_sql`.  Not everything that supports SQL(-like) syntax is a "database".  For example, Salesforce and Apache Spark are not traditional databases, but can both be accessed using a SQL-like syntax.

[2016-08-03 17:15] lokeshh commented on #138
I think we can use [ActiveRecord](https://github.com/rails/rails/tree/master/activerecord) gem to support queries such as

[code]

which is way simpler than (SELECT * ...) and quite popular because of Rails.

[2016-08-04 19:10] v0dro commented on #138
+1 to @lokeshh though the implementation of that would need to be looked into. And I agree with @gnilrets about `from_sql`. We should ideally be able to swap out the underlying SQL adapter in the future in order to accommodate for Spark or Salesforce.

@zverok agreed.

[2016-08-05 07:00] v0dro opened #209 "if-then style syntax for easy assignment of values"
The `where` clause for DataFrame should be enhanced such that it supports assignment of particular values in a particular set of `Vector`s of the DataFrame.

For example, say we have this dataframe:
[code]

There should be a new `where=` method that takes a boolean index as first argument and name(s) of the columns as the second argument. The value to the RHS of the `=` will be assigned to whateve

[2016-08-05 07:39] zverok commented on #138
@lokeshh

How do you imagine it? If by adding direct integration/dependencies, I'd be pretty much against it.

[2016-08-05 07:54] v0dro opened #210 "Allow 'mask' dataframes and vectors into where clause"
This issue is complimentary to #209 .

The `where=` clause will only accept BoolArray as the first argument. However, it should also be able to accept dataframes that contain vector names similar to that of the calling dataframe and make the assignment only where there's a `true` against an index. Something like a 'mask' dataframe.

For example, consider this dataframe:
[code]

The following synta

[2016-08-05 15:21] gnilrets commented on #209
Isn't this just....

[code]

`recode_rows` is a lot more generic and flexible (although the current implementation is too slow).  For example, what if you want to assign multiple columns to different values based on some condition, or you want to set the value of some column to the value of another, if some condition is met, like:

[code]

I just wonder what is to be gained by adding another synta

[2016-08-06 14:31] zverok commented on #209
@gnilrets I guess problem is every other DataFrame library allows to do this. Maybe it is "just another syntax", but they would continue to ask, I suppose on those typical tables "pandas vs daru" we'll just look bad.

@v0dro I have a big consideration about the topic.

In fact I think @gnilrets is right in sense that designing new standalone feature is less useful approach than try to upgrade exis

[2016-08-06 18:50] v0dro commented on #209
Hmmmm makes sense. Closing this.

[2016-08-06 18:50] #209 closed

[2016-08-06 19:02] #197 closed

[2016-08-06 19:05] v0dro commented on #138
Maybe put in a separate gem (`daru-activerecord`?) that depends on both activerecord and daru for doing this.

[2016-08-09 19:29] kozo2 opened #211 "pandas.Index.isin equivalent for daru"
daru can take only an index for `Daru::Index#include?(index)`
On the other hand `pandas.Index.isin` can take a list.

I request the `pandas.Index.isin` equivalent for daru.

[2016-08-16 11:42] lokeshh opened #213 "Display problems when vector is empty"
There are display problem with empty vector.

For example:

[code]

[2016-08-16 11:50] lokeshh commented on #213
Same is the issue with category vector.

[2016-08-19 16:31] lokeshh opened #214 "Installing daru on a fresh system"
There are couple of problems faced after installing Daru on a new computer.

- It produces some `NameError`.

[code]
The above error goes away on installing `reportbuilder` gem

- Second is this one:

[code]

This one is the cause of build failure in Statsample [here](https://github.com/SciRuby/statsample/pull/55).

It goes away after one do `require 'erb'`.

The issue can be reproduced doing the

[2016-08-19 18:15] v0dro commented on #214
This should not have anything to do with reportbuilder. `ArrayWrapper` uses the [`Forwardable` module](https://github.com/v0dro/daru/blob/master/lib/daru/accessors/array_wrapper.rb#L6).

I changed that line to `::Forwardable` and added a `require 'forwardable` and it worked.

Did that too. Pushing in a while.

Need to think of a foolproof way of testing deployment of daru on new systems hmmm....

[2016-08-19 18:23] v0dro commented on #214
Should be fixed with https://github.com/v0dro/daru/commit/be6cea41da684830b3eb012f6d660c52d47b2477

[2016-08-19 18:23] #214 closed

[2016-08-19 23:41] gnilrets opened #216 "Left joins broken again :("
[code]
Output:
[code]

But of course we wouldn't expect the `nil`s there in the result.....

[2016-08-20 00:51] lokeshh commented on #216
Going back in the history, it seems to me broken since https://github.com/v0dro/daru/commit/760fb19d5e65e1e4231777fdb18f8fd4284b6e79

[2016-08-20 04:13] #216 closed

[2016-08-20 07:19] #120 closed

[2016-08-20 07:26] v0dro commented on #213
https://github.com/v0dro/daru/commit/d1d778961b9577fe55d622cb84f86e3e65ec4c49

[2016-08-20 07:26] #213 closed

[2016-08-20 08:34] v0dro opened #219 "DataFrame.from_html to read HTML tables"
Having a `DataFrame.from_html` method would be great for reading HTML tables into dataframes directly from URLs.

[2016-08-20 08:41] v0dro opened #220 ":skiprows options for DataFrame.from_csv"
Passing `:skiprows` as an option and providing a number as a value should skip the number of rows that are specified from the CSV file being read.

For example: `Daru::DataFrame.from_csv(path, skiprows: 8)` will skip the first 8 rows.

[2016-08-20 08:43] #137 closed

[2016-08-20 08:44] v0dro commented on #141
@lokeshh has this been taken care of in your missing values PR?

[2016-08-20 08:46] lokeshh commented on #141
No

[2016-08-20 08:59] v0dro opened #221 "Better DataFrame summary without reportbuilder"
The `DataFrame#summary` method uses the `reportbuilder` gem for creating a summary of the data. This gem, in addition to being a dependency, was designed keeping `Statsample::Dataset` in mind, which daru moved away from a long time ago.

Thus, a custom implementation for summarizing dataframe contents should be created that does not depend on reportbuilder and shows ample information about the dat

[2016-08-20 10:20] v0dro opened #222 "'name'"

[2016-08-20 10:23] #222 closed

[2016-08-20 10:25] v0dro opened #223 "'name' attribute for index"
Addition of an additional 'name' attribute to indexes will simplify their identification and make it easier to know what exactly the index means when printing a data structure.

`MultiIndex` should support having separate names for each level (might be related to https://github.com/v0dro/daru/issues/150).

[2016-08-23 11:34] chart-linux opened #227 "concatenation between vector and dataframe"
Daru::DataFrame cannot concatenated with Daru::Vector. The inverse is also true.

Pandas can do it.
http://pandas.pydata.org/pandas-docs/stable/merging.html#concatenating-with-mixed-ndims

[2016-08-23 14:15] gnilrets commented on #227
Daru can concatenate dataframes with a different set of vectors.  Use `#to_df` on anything that might be a vector and you should be able to concatenate them.

[2016-08-23 14:17] gnilrets commented on #227
@v0dro - Makes me think we might want to litter many of the dataframe methods with `#to_df` at the beginning to force anything that might be a vector into a single-vector dataframe.

[2016-08-23 16:43] lokeshh commented on #141
Should `#nils` return `true` for places where value is `Float::NAN`? Perhaps we can implement a more generic function like `values?(*values)` which would return `true` for positions which have any value in `*values`. For example:
[code]

Also, should we return an array or vector?

[2016-08-23 18:16] v0dro commented on #141
Return a `BoolArray`.

[2016-08-23 18:19] v0dro commented on #227
That can be a quick fix for now. A more long term solution would be implementing those methods natively for Vector.

[2016-08-23 19:46] lokeshh commented on #141
Ok... And What will be a good name? We cannot name is `values?` because as Victor mentioned it isn't returning a true/false?

[2016-08-23 21:18] chart-linux commented on #227
@gnirets Thanks, I'll concat with that solution 😄

[2016-08-23 21:36] zverok commented on #141
I'd say that temptation to make it question-marked is big, but we should resist!
Therefore, the name maybe should inform exactly what it does, like `existance_vector` or `equality_vector` or something like this?

[2016-08-23 23:47] chart-linux opened #229 "DataFrame's indifferent acces"
It might be more user-friendly if Daru::DataFrame supports Hash's indifferent access.

For example:

[code]

Above code results in DataFrame like below:
![untitled](https://cloud.githubusercontent.com/assets/3054386/17913121/f4a68100-69d2-11e6-94b3-74080c2bcfcc.png)

This behavior is a bit confusing. By introducing something like [ActiveSupport's HashWithIndifferentAccess](http://api.rubyonrails.o

[2016-08-24 09:30] genya0407 opened #230 "DataFrame#union method"
When I concatenate two DataFrames, their index information disappears.

For example:

[code]

Above code results in the below DataFrame.
![untitled](https://cloud.githubusercontent.com/assets/3054386/17925633/a8d0859a-6a28-11e6-8e16-a40bcb73bee8.png)

[2016-08-24 09:40] chart-linux opened #231 "Inner/outer join of DataFrame."
It is impossible to inner/outer-join DataFrames (like this: [Set logic on the other axes](http://pandas.pydata.org/pandas-docs/stable/merging.html#set-logic-on-the-other-axes)).

[2016-08-24 12:38] chart-linux commented on #231
I'm sorry, I figured out how to perform join 😅 .

[2016-08-24 12:38] #231 closed

[2016-08-24 14:24] gnilrets commented on #230
That's by design.  Consider what would happen if both dataframes had the same index: you'd still want the two dataframes to be stacked.

If the indexes are important, consider converting them into a dataframe vector prior to concatenating.

That being said, perhaps we could write a `#union` method that would preserve the indexes and have some standard way of handling collisions.  For example, `df1

[2016-08-24 15:54] v0dro commented on #230
Hmmm I agree with @gnilrets. @chart-linux could you change the name of your issue to reflect `DataFrame#union`? I'll mark it as enhancement once you do.

[2016-08-24 15:56] v0dro commented on #229
It's too much overhead for daru to store everything as a string or symbol and then access it. It's more simple and straightforward to have the user take care of such things. Also, index names can be numbers, strings, symbols or arbitrary Ruby objects. How do we handle all of this without introducing overhead?

[2016-08-25 03:21] chart-linux commented on #229
I got it.

[2016-08-26 02:59] chart-linux opened #233 "'indicator' option for DataFrame#join method."
I request 'indicator' option for DataFrame#join method. Like [pandas's one](http://pandas.pydata.org/pandas-docs/stable/merging.html#the-merge-indicator).

[2016-08-26 11:17] #187 closed

[2016-08-26 16:05] chart-linux opened #234 "joining on index"
I request some means to join two `Daru::DataFrame` on their index.
Like: [pandas's one](http://pandas.pydata.org/pandas-docs/stable/merging.html#joining-on-index).

[2016-08-27 02:59] lokeshh commented on #157
This is done.

[2016-08-27 02:59] #157 closed

[2016-08-30 18:38] v0dro opened #238 "#frequencies for non-category vector should be consistent with that of category vector"
For category:

[code]

For non-category:

[code]

The `#frequencies` for non-category vectors should work in a similar manner as that for category vectors and both should be able to accept a `:hash` argument that will let them return a `Hash` containing the frequencies.

[2016-08-30 18:46] #233 closed

[2016-08-31 14:48] v0dro opened #239 "Category contrast_code has different default for :full than in implementation"
The [docs](http://www.rubydoc.info/gems/daru/0.1.4.1/Daru%2FCategory%3Acontrast_code) specify that the `:full` option is `true` by default but in the implementation it's `false` by default.

Also, `:full` is an option, not a `param` (in the docs).

[2016-08-31 15:28] gnilrets opened #240 "SystemStackError for larger filters"
Something very bad is happening with filters.  I recently upgraded a bunch of my code to 0.1.4 and I started getting SystemStackErrors with some of my larger dataframes.  Here's how it can be reproduced:

[code]

[2016-08-31 17:06] v0dro commented on #240
Having a look.

[2016-08-31 17:08] v0dro commented on #240
This error usually happens if a recursion is involved, but there is none here. Investigating now.

[2016-08-31 17:17] v0dro commented on #240
@zverok @mrkn have you come across something like this before?

[2016-08-31 17:22] v0dro opened #242 "Suppress warnings if Daru.error_stream is nil"
We should have a module variable called `Daru.error_stream` whose default will be set to `STDERR`, and which can be changed to `nil`. If the user sets it to `nil`, all warnings that are currently printed with `STDERR.puts` should be suppressed.

[2016-08-31 17:30] v0dro commented on #240
Interesting answer: http://stackoverflow.com/questions/11544460/how-to-get-a-backtrace-from-a-systemstackerror-stack-level-too-deep

[2016-08-31 17:38] v0dro commented on #240
@gnilrets I just learned about `caller.length` from that answer and it appears that the problem happens at the `Array#values_at` function called [here](https://github.com/v0dro/daru/blob/master/lib/daru/core/query.rb#L78).

[code]

@mrkn I think we just found a bug in Ruby. It's probably a recursive call internally in MRI that is causing this bug.

[2016-09-04 02:21] lokeshh opened #245 "Reorder vectors in a dataframe"
I want to reorder vectors in a dataframe. For example:

[code]

[2016-09-04 14:46] v0dro commented on #245
Works. My only sugesstion is that the method name should be something descriptive like `DataFrame#reorder_vectors`.

[2016-09-07 18:15] v0dro opened #246 "where clause should support missing data."
When `#where` is called on a Vector/DataFrame, it should not fail if the data contains missing data.

[2016-09-09 23:11] yemartin opened #250 "`pivot_table` regression"
Commit 760fb19d5e65e1e4231777fdb18f8fd4284b6e79 broke `pivot_table`. The following used to work up to commit 2ee4c4c1d0a3d8a11316e569b55967bd601771e5

[code]

[2016-09-10 02:17] v0dro commented on #250
@zverok

[2016-09-10 14:02] zverok commented on #250
Looking at it.

[2016-09-12 14:09] yui-knk opened #259 "Should we support duplicated keys in an index?"
[code]

`Index#initialize` uses `@relation_hash = index.each_with_index.to_h.freeze`,
this causes

[code]

[2016-09-13 17:41] gnilrets opened #261 "Joins turn `false` into `nil`"
[code]

All of the values that should have stayed `false` have been converted to `nil`.

[2016-09-17 09:51] lokeshh commented on #245
Is `order=` fine?

[2016-09-17 10:00] lokeshh commented on #239
I think this is fixed.

[2016-09-17 14:45] #239 closed

[2016-09-17 14:47] v0dro commented on #245
Alright. When `order=` is used, the new order passed should contain all the vector names that were present in the previous order. That way `order=` will be different from `vectors=`, which allows you to change the names of the vectors.

[2016-09-17 15:00] #250 closed

[2016-09-17 15:03] #240 closed

[2016-09-17 15:11] v0dro commented on #259
Yes that's right, but that will require restructuring a lot of internal code and data structures which would only make sense if users actually want duplicate entries into the index. This is open to discussion and we can decide on something once we get some feedback.

@gnilrets @mrkn @zverok

[2016-09-17 16:26] zverok commented on #259
To be honest, at this point I'm feeling like I started to lose entire index idea.
My understanding was going through those stages:

1. We have a 2d table with named columns and rows (The DataFrame), ok
2. Natural row indexing would be just (0,1,2,3...)
3. Rows could be named or labelled somehow, which is incredibly useful, because now you can say "give me row for Jan 11" or "give me row for Depart

[2016-09-17 16:45] lokeshh commented on #259
@v0dro, @yui-knk I think if you need to index with a column that can take duplicate values then I think `Daru::CategoricalIndex` will best suit your need. In fact, this one of the core uses of Categorical Index.

@zverok

I think its helpful when say you want to divide the dataframe with a categorical property. More often we identify the entries with a unique property such as `id`. In such cases n

[2016-09-17 17:01] zverok commented on #259
@lokeshh To be honest, for me your example still looks like just usual MultiIndex usage would be 1000 times more consistent (not needing an explanations for dummies like me, saying "ok, index is something consisting of unique values, unless that's a CategoryIndex"). Like, you have your source dataframe, you do "some operation", and you have it indexed with MultiIndex having first "column" (value o

[2016-09-17 17:02] zverok commented on #259
(But I am not a data scientist, this entire "categories" thing for me is terra incognita at most)

[2016-09-17 17:06] zverok commented on #152
Comments added by this commit: https://github.com/v0dro/daru/pull/257/commits/96028865536466b219625b36aea05514e8730c86 should be considered on `group_by` redesign: it will affect `pivot_table` behavior (and, if everything will work, affect in a good way!)

[2016-09-17 17:09] lokeshh commented on #238
Can we skip the `:hash` argument because I one can always simply chain `to_h` at the end?

[2016-09-17 17:26] lokeshh commented on #259
@zverok You have a point assuming the definition of index as something to uniquely identify each row. So, I think it all boils down to whether you think about index as something which uniquely identifies each row or not. I don't know how data scientists think about index but in database terminology at least, key or index can take non-unique values. Its the primary key or primary index which has to

[2016-09-17 18:00] gnilrets commented on #259
So I understand an index as a unique identifier to the row. Isn't that how vectors in a data frame line up in to rows?

But what can you accomplish with a vector with non unique indexes that you can't accomplish with a data frame with two columns?

[2016-09-17 18:05] lokeshh commented on #259
@gnilrets Vector with non unique indexes guarantees fast retrieval which data frame with two columns does not.

[2016-09-17 18:12] gnilrets commented on #259
I'm not sure I understand how the concept "guarantees" it will be faster, particularly if we start overloading it with functionality we don't strictly require to manipulate data.

[2016-09-17 18:32] lokeshh commented on #259
@gnilrets  For instance see [this use case](https://gist.github.com/lokeshh/e72e6ab6ca90e886c493c74167caae8e). Here we often want to retrieve the rows with index `:idx`. Now if we index it with categorical index then the access will be much much faster. This is the example with only two columns used and with more columns the performance gain will be even more.

[2016-09-17 18:39] gnilrets commented on #259
What prevents us from refactoring #where to be as fast?

[2016-09-20 08:55] #245 closed

[2016-09-20 08:57] v0dro commented on #238
Ok works. Don't have the `:hash` argument. But don't change any current behavior for category vectors, though.

[2016-09-20 08:58] v0dro commented on #152
OK I'll have a look.

[2016-09-20 23:01] lokeshh commented on #259
@gnilrets Nothing.

I think in fact we should optimize `#where` irrelevant of whether week have `CategoricalIndex` or not.

So the question rises whether we should drop `CategoricalIndex` because other things can accomplish the same?
Inspite of my surrender to that all things which are accomplishable via `CategoricalIndex` can still be accomplished though other things, I'm still of the opinion tha

[2016-09-20 23:11] gnilrets commented on #259
I've never used pandas, so maybe I just don't get the utility of having categorical indices.  But I think I've been able to handle selecting, joining, grouping, and aggregating data using a concept of a categorical variable that is functionally equivalent to a simple string variable.

[2016-09-24 04:11] yemartin opened #267 "Tag `v0.1.4.1` missing"
I just noticed the latest gem version is `v0.1.4.1`, but the latest tag found in GitHub is `v0.1.4`. Maybe the tag was not pushed to GitHub?

[2016-09-24 04:46] yemartin opened #268 "`Daru::DataFrame.rows` regression: cannot create empty data frames."
Commit 760fb19 broke creating empty data frames with `Daru::DataFrame#rows`. The following used to work up to commit 2ee4c4c.

Note: this is important because if `source_data` is retrieved dynamically from a database, we have no control when the result may have no rows.

[code]

[2016-09-24 07:06] zverok commented on #268
I'm on it.
I'm a big fan of breaking things (and probably fix them afterwards)

[2016-09-24 18:13] v0dro commented on #267
I'll have a look.

[2016-09-25 12:58] mrkn commented on #259
Since `CategoricalIndex` is an "index", it can keep looking up items by category values faster than using `#where`.

[2016-09-25 15:27] zverok commented on #259
To be honest, the more I think of this "categorical" things, the more I became confused. We borrowed it in total from `pandas`, I know, and it was a lot of great work, but...

For me, there are two things are mixing constantly: categorical vector as a concept (you can explain it to other programmers, not being into statistics, as "it's just a enum, nothing new!"), and, like, details of implementat

[2016-10-09 15:23] lokeshh commented on #246
Could you share a case where it fails?

[2016-10-09 15:26] lokeshh commented on #180
This issue is fixed.

[2016-10-09 15:28] lokeshh commented on #9
This is done :)

[2016-10-12 10:56] #176 closed

[2016-10-12 10:56] #9 closed

[2016-10-12 10:56] #180 closed

[2016-10-12 10:58] v0dro commented on #246
Here you go:
[code]

[2016-10-12 10:59] #261 closed

[2016-10-14 05:30] dylandy opened #272 "Return a Daru::Vector if multiple values present in mode."
I found that mode function can only return a single value even when the input vector has multiple modes. Is it a better choice for return a list of mode values rather than return a single value ?

[2016-10-15 06:36] v0dro commented on #272
Good idea. It will return a `Daru::Vector` incase of multiple values.

[2016-10-15 06:38] v0dro commented on #272
Example:
[code]

[2016-10-15 06:40] v0dro commented on #268
@zverok any update?

[2016-10-15 06:43] v0dro commented on #162
This has been introduced so I'm closing this issue.

[2016-10-15 06:43] #162 closed

[2016-10-15 09:33] zverok commented on #268
Oh damn. I've fixed the issue the next day after it was reported and just forgot to do a PR (some family problems distracted me). Shame on me.

[2016-10-17 20:34] dsisnero commented on #164
Maybe contribute a ruby binding of https://github.com/wesm/feather

[2016-11-03 07:37] #238 closed

[2016-11-06 06:10] genya0407 opened #280 "'to_csv' method"
I think method name 'write_csv' is little confusing.

If you know 'from_csv' method, you will assume 'to_csv' method, not 'write_csv'.

I think we need method alias 'to_csv'.
In addition, 'read_csv' alias might be good.

[2016-11-11 17:01] v0dro commented on #280
Adding an alias seems like a good option to me.

[2016-11-16 04:54] lokeshh commented on #259
I just read about index maintenance cost and share a new insight with you. Making the `#where` fast by default isn't a good idea because would slow down the update operations like insert/deleting a row and many more because of index maintenance cost (every time a row is inserted the index has to be rebuild that is making the `#where` fast).

[2016-11-21 16:10] gnilrets opened #281 "Serious group_by bug"
Looks like there's a pretty serious bug with group_by when the index isn't a sequential set of integers.

[code]

I think the problem is the way that group_by is making use of indexes:
[code]

The groups for the `"a"` category reference indexes `[0, 1, 2]`.  The group_by code is confusing order in the dataframe with the index.  So it first attempts to find index 0, which doesn't exist so it assume

[2016-11-23 12:25] v0dro commented on #281
Ok that's bad. Marking as a major bug. @lokeshh @zverok I believe either of you had worked on this? Any leads?

[2016-11-23 12:46] zverok commented on #281
Taking a look today.

[2016-11-23 18:30] zverok commented on #281
#282 should be the fix.

[2016-12-04 10:10] genya0407 opened #283 "`Daru::Index#[]` 's behavior is very confusing"
`Daru::Index#[]` behaves as follows:

[code]

From the behavior of `index[0..1]`, I assumed that `index[]` takes **position** as argument and returns **value** of `index`.

In other words, `Index#[]` sometimes takes **position** as argument and at other times takes **value**.

Is there any special reason for this confusing (at least for me) behavior ?

[2016-12-07 18:54] v0dro commented on #283
I think @lokeshh can answer this best.

[2016-12-07 19:24] lokeshh commented on #283
`Daru::Index#[]` method in Daru takes **values or positions** as it arguments and is supposed to give **only positions** as its output. In case the input is both a valid value and a valid position, argument is assumed to be a value.

The reason for this behavior is this. `Daru::Vector#[]` also accepts both **index value or position** as its argument and return a **vector value** with preference gi

[2016-12-08 07:08] genya0407 commented on #283
@v0dro @lokeshh  I got it. Thanks!

However, I still think those behaviours are confusing.

My suggestion is: `#[]` method take only **index value**, and if we wanna access by **position**, we use `#at` method.

How do you think about it?

[2016-12-16 14:09] v0dro commented on #283
If you're using integer index only why not use only `#at`?

However, I like this proposition. The `#[]` method can raise an error if the *index value* is not found, irrespective of the kind of object that the index value is.

@zverok @gnilrets WDYT? I think @zverok has talked about this before too if I remember correctly...

[2016-12-16 15:30] gnilrets commented on #283
We've had several unexpected bugs arise (see the last group_by issue last week) due to `#[]` serving two purposes.  I strongly prefer using `#at` for *position* and `#[]` for *index value*.

[2016-12-16 18:42] kozo2 opened #286 "Rubygems release request"
I confirmed that https://rubygems.org/gems/daru/versions/0.1.4.1 does not fill `Guido` to Lisa's supervisor.
https://gist.github.com/kozo2/5e17baeadf84d71b075bdad215e4bda1/9238fd2ac216c991af5f09eb3c7576b86ffd0a34

While the current master HEAD 70882a9d122f81700e90c4aa2839345207f08d72 works well https://gist.github.com/kozo2/5e17baeadf84d71b075bdad215e4bda1

Could you publish new release to rubygem

[2016-12-17 11:01] v0dro commented on #283
Alright then. Marking this as an enhancement.

[2016-12-17 11:03] v0dro commented on #286
On it.

[2016-12-17 13:25] lokeshh commented on #283
Shall we also do the same for Daru::Index#[]?

[2016-12-18 07:53] v0dro commented on #283
@lokeshh Yeah works for me. I think we should. Will remove confusion once and for all.

[2016-12-18 15:30] krishnak9 commented on #221
I am new here. I have a doubt about this "n valid" does that mean the number of column values which are not "nil" or something else.

[2016-12-18 18:33] krishnak9 commented on #221
I am new here . I have a doubt regarding what `n :1
 n valid:1` signifies here. Does this mean number of rows and number of rows which are not "nil" in a column.

[2016-12-19 14:39] v0dro commented on #221
`n valid` is number of elements that are not `nil` or `Float::NAN`. `n` is number of elements.

[2016-12-19 16:59] krishnak9 commented on #221
Thanks. I want to solve this issue. Will reach out for more help if I got stuck somewhere :smiley:

[2016-12-23 17:02] genya0407 opened #287 "Comparison Operator for Daru::Vector"
`Daru::Vector#>` , which is method alias of `Daru::Vector#gt` , should be much convenient, but it seems that there isn’t such method. Is there any supecial reasons ?
Of course, I think other comparison operators should be also exist.

What I imagine:
[code]

[2016-12-23 17:18] genya0407 commented on #283
Maybe I should have propose earlier, but another solution is creating new method that **only accepts index value**.

In other words, we will have three methods `at`, `of`, and `[]`:

- `at` only accepts **position**
- `of` only accepts **index value**
- `[]` accepts both.

There might be more suitable name for `of` method...

@v0dro @gnilrets How do you think about this?

[2016-12-24 21:48] gnilrets commented on #283
I think that `[]` should be predictable.  It currently isn't because if an index doesn't exist then it falls back to position and there is no predictable relationship between index and position.  I also think it should accept an index since that seems to be the default reference mechanism.

[2016-12-25 20:09] v0dro commented on #287
Works. There's no real reason why its not there. I guess I'm lazy.

[2016-12-25 20:13] v0dro commented on #283
I also don't think we should go for `of`. `[]` and `at` should be sufficient.

I can't think of use cases where a method that accepts both index and position is being used when dedicated methods exist for that purpose. If such a need does arise we can simply build a wrapper over `at` and `[]` (not the current versions of these methods, of course).

[2016-12-26 09:24] krishnak9 commented on #221
In DataFrame the summary is generated by ReportBuilder by using the report_building method of vectors. So we have to remove the ReportBuilder from there too and use a custom method there also. Then we can call that custom method for DataFrame summary too which includes mean,median,mode etc info too about the vectors. Am I missing something here?

[2016-12-29 13:37] zverok opened #289 "Read data by URL"
Another one stolen from our competitors (as #127). They can do this:

[code]

With Ruby's `open-uri`, it would not be too hard to reproduce, and, again, not that useful -- but "cool looking" on demos.

[2017-01-07 06:22] v0dro commented on #221
Can't really understand what you're trying to say. If you're asking if you'll need to replace report builder in vectors, then yes, you'll have to do that too.

[2017-01-07 06:24] v0dro commented on #289
Works.

[2017-01-10 14:09] zverok commented on #49
On current daru:
[code]

[2017-01-10 14:09] #49 closed

[2017-01-10 14:17] genya0407 opened #294 "`group_by` drops vector name in `@data`"
Dataframes generated by `group_by` don't keep their original column name.

For example:

[code]

It seems that vector name is kept.

However, vectors in `@data` don't keep their name:

[code]

[2017-01-10 14:24] zverok commented on #294
Never liked this dichotomy of "dataframe vector names"/"data vector names", but seems there is no clear better way. And yes, looks like a bug.

[2017-01-10 14:50] genya0407 commented on #294
It seems that this bug happens when we pass `Daru::Index` as `order` property when initialize `Daru::DataFrame`.

[code]

[2017-01-10 15:19] zverok commented on #24
Seems to be fixed long time ago!

[2017-01-10 15:19] #24 closed

[2017-01-10 18:37] #287 closed

[2017-01-17 23:48] db579 commented on #272
I've implemented this to return a `Daru::Vector` as suggested but would it not be better to return an array of 1 or more values so that the return type is always consistent as doesn't need to be checked for on the calling side?

[2017-01-19 13:15] zverok commented on #272
@db579 Let's postpone this question or put it in a separate GitHub issue for discussion (I believe, we have several places with the same concept). In fact, the idiom is not unusual for Ruby:
[code]
Though, in this case user explicitly requires one value or range of values, unlike the `#mode`.

[2017-01-20 15:58] #268 closed

[2017-01-20 16:00] #272 closed

[2017-01-28 13:22] #294 closed

[2017-01-29 09:26] v0dro opened #298 "Open SQL databases by specifying file name"
Currently the `.from_sql` method requires a `DBI::DatabaseHandle` object for loading data from an SQL database. In case you have a `database.db` file in your system, it becomes cumbersome to load this data.

There should be support for loading a database from such a file with the `Daru::DataFrame.from_sql` method.

Example:
[code]

[2017-01-30 11:37] zverok commented on #298
Probably related: https://github.com/SciRuby/daru/issues/138

[2017-01-30 12:18] Varunram commented on #289
@v0dro Do we add this as an extension?

[2017-01-30 18:18] v0dro commented on #289
Extension as in?

[2017-01-31 12:25] v0dro commented on #286
v0.1.5 has been released.

[2017-01-31 12:25] #286 closed

[2017-01-31 12:25] #267 closed

[2017-01-31 13:18] kozo2 commented on #286
Thanks

[2017-02-04 21:17] anshuman23 commented on #289
Submitted the PR for this issue. I will also work on #127

Please let me know if I there is anything that I can improve on in the PR.

[2017-02-06 06:23] athityakumar commented on #298
@v0dro @zverok - Can we use `ActiveRecord` gem here to connect with SQL database and collect table responses as an `object` / `'list`? After receiving an `object` of a table, we can probably then tweak the `from_sql` function of `Daru::DataFrame` module.

[2017-02-06 10:38] athityakumar commented on #246
If this issue hasn't been fixed yet, I can work on this - if assigned.

Ping @lokeshh @v0dro

[2017-02-06 12:22] athityakumar commented on #283
@v0dro - If this hasn't been fixed, I'd like to fix this. :smile:

[2017-02-06 12:33] athityakumar commented on #234
If I've understood properly,

Input

[code]
Then, desired output is something like

[code]

Right? I'd like to work on this. :smile:

[2017-02-06 12:57] athityakumar commented on #234
I had a look at the `core/merge.rb` file, however I'm not able to make out how to check the `join` function on console (irb). Any help would be appreciated.

[2017-02-06 13:46] athityakumar commented on #219
@v0dro : Scraping gems like `mechanize` / `Nokogiri` can be used to get the data from html, but those html files can have any type of structure of tags where tables and data are located right? How can we get the exact data from html files - do we assume a a particular structure of the html files?

[2017-02-06 17:32] zverok commented on #298
@athityakumar Well, I am definitely against adding ActiveRecord as a dependency for a Daru core. In attempt to support any DB possible, with direct dependency on some abstraction layer/ORM, probably companion gem like `daru-db` could be created. @v0dro, WDYT?..

(And, BTW, if to decide on what to depend for database access, I'd prefer much more lightweight Sequel library.)

[2017-02-06 18:35] zverok commented on #219
As for me:

1. It seems like nokoigiri should be enough
2. Daru should not depend on Nokogiri (as it is large binary gem, not always easy to install). So it should probably be a part of separate "daru importers" effort, as discussed in mailing list.
3. I believe investigation and clarification of requirements is a natural part of this tickets, so the order of proceeding should probably be the foll

[2017-02-06 18:41] athityakumar commented on #219
@zverok - I understood the part of using Nokogiri functionality and keeping Daru dependent on Nokogiri. However, the real issue is that - even if Nokogiri is used, we won't be able to get a proper desired output. Web scraping is done through specific searches for proper nodes that are parsed by Nokogiri from classes / divs that are actually present on the html file. And, for each website, this `se

[2017-02-06 19:41] zverok commented on #219
Well, that's why I am saying about **gather some (different, yet real) examples of table data on the web** above. I assume (maybe wrongly) that this thing _could_ be imagined:

[code]
(it is a [climate table](https://en.wikipedia.org/wiki/Chiang_Mai) on Chiang Mai page) could produce some reasonable output. Just by:
* skipping table headers;
* considering all `<th>`s as a parts of indexes (columns

[2017-02-07 10:27] v0dro commented on #234
You can start a session with `rake pry` and then call `join` on your DataFrame like `df.join(....)`.

[2017-02-07 10:36] v0dro commented on #298
@zverok is correct. We should not add extra dependencies.

For this particular issue I think you can get away with just checking if the extension of the file name is `.db`. If that is the case, you can a library for loading the database from the file.

Daru currently uses `dbi` and `sqlite3` as development dependencies. `dbi` can use different database adapters for loading data. If you can use `db

[2017-02-07 10:38] v0dro commented on #246
The expectation is that missing data (as in `nil` or `Float::NaN`) should be supported by the `where` clause irrespective of the kind of data in the vector/dataframe.

You can check out the README for more example of `where`.

[2017-02-07 10:40] v0dro commented on #219
Here are some leads: http://pandas.pydata.org/pandas-docs/version/0.19.2/generated/pandas.read_html.html

Notice the gotchas.

[2017-02-07 10:42] v0dro commented on #219
Try to make our HTML importer as robust or better than the pandas one. As @zverok says, it would be beneficial to first go over some examples of HTML tables.

[2017-02-07 18:10] athityakumar commented on #219
Hmm - I went through the [html importer code](https://github.com/pandas-dev/pandas/blob/v0.19.2/pandas/io/html.py) of `pandas` and found that they are simply parsing and finding `<table>` , `<th>` and `<td>` tags for importing list of tables, with an option to search for a table with particular query strings.

Though this wouldn't be as reliable as traversing through nodes of html `div class` / `d

[2017-02-07 23:08] dshvimer commented on #298
I am going to see what can be done with DBI. If that does not work, I think between sqlite3 and [this dbf gem](https://github.com/infused/dbf) we can have a large portion of database file types covered.

In regards to a companion gem, how big would ```daru-db``` have to be? Would it need to support relational, no sql, and file based db's?

[2017-02-08 19:54] ananyo2012 commented on #221
Hello I am new here. Can I take a try to solve this issue? I have read the contribution guidelines and did the setup.

[2017-02-09 07:47] zverok commented on #219
What you are writing, is mostly correct, except probably for this:

Yes, Mechanize is "simplifying" wrapper around Nokogiri, yet it adds unnecessary level of abstraction, while being less flexible than Nokogiri. So, I'd really advice you to get familiar with Nokogiri. And, in any case, remember that we can't make Nokogiri (or Mechanize) a strict dependency for Daru.

[2017-02-09 08:02] athityakumar commented on #219
Actually, I learnt `Nokogiri` even before learning `Mechanize` as I didn't know during my initial days that `Mechanize` gem even existed. But ever since I found a gem of a gem (pun intended :wink:) called `Mechanize`, I've been working with only `Mechanize`- but yeah, it's always better to work with the basics.

I don't understand - maybe I'm missing out on the difference in terms `dependency` and

[2017-02-09 08:08] zverok commented on #298
As I've already wrote in PR,

E.g., it is a necessary step to check:
* what are most common formats database files are published?
* what database files format are supported by popular competitors (pandas and R's database-handling libraries)?

We'd be really happy if you could spend some (not much, yet decent) effort to answer and dicsuss those questions.

[2017-02-09 08:24] ananyo2012 commented on #221
I made a PR #305 to solve this. Please have a look.

[2017-02-09 08:33] zverok commented on #219
I mean, when you do `gem install daru` it should NOT install nokogiri, because it is large compiled gem not always easy to install (and not always necessary). Basically, there are two ways to achieve this goal:
1. As it is done with other optional libraries, do something like `require 'nokogiri'` inside `from_html`, catch `LoadError` and throw meaningful exception saying something like "Nokogiri i

[2017-02-09 11:52] athityakumar commented on #219
Sure. Currently, `Nokogiri` is already mentioned as a development dependency in the gemspec file [here](https://github.com/SciRuby/daru/blob/master/daru.gemspec#L77-L81) and in the `Gemfile.lock` file. So, we can just add the code for `from_html` with rescue statements to take care of `LoadError`.

BTW, is this `from_html` module to be added into `lib/daru/dataframe.rb` or at some other file?

[2017-02-09 11:53] #141 closed

[2017-02-09 14:11] v0dro commented on #219
`strict dependency` = `runtime dependency`.

Why would it exist inside `dataframe.rb` when there is `io.rb` which contains all the `from_*` methods?

[2017-02-09 14:22] athityakumar commented on #219
Thanks for the clarification, @v0dro . :smile:

I'd like to work on this issue - I'll send a PR for the same by next week. (Have some exams coming up in the next 2 weeks)

[2017-02-09 14:29] #281 closed

[2017-02-09 14:29] v0dro commented on #219
Works.

[2017-02-09 22:51] dshvimer commented on #298
@zverok, I just wanted to make sure the PR was referenced here.

Other database file formats exist, however they do not support SQL in the traditional sense. If we wanted to support them it does not make sense to add the functionality from within ```DataFrame.from_sql```. There are utilities that allow querying of these formats with SQL like syntax, however it is just syntactic sugar. I took a loo

[2017-02-10 12:43] athityakumar opened #307 "Add a parent from_file module"
### Discussion

After modules like `from_html`, `from_csv` , `from_json`, `from_sql`  have been done and tested, we can have a universal `from_file` module which maps to these children functions depending on the `end_with?` clause.

### Pros

The user will now have to use only the `from_file` parent module and not the children functions.

### Cons

The user will now have to keep the file name with

[2017-02-10 17:11] v0dro commented on #307
I think it would be too confusing to read. What if you create the path file from some object and pass the object to `from_file`, in which the reader will have no idea what source the data is being read from. `from_file` is also very ambiguos. What if you're supplying a `DBI` object or URL?

Moreover, each of the `from_*` functions have vastly different interfaces, the only commonality being the fi

[2017-02-10 17:11] #307 closed

[2017-02-10 18:33] v0dro opened #308 "Add tests for testing block_given? functionality of DataFrame.from_csv() method."
The `DataFrame.from_csv` method currently has a provision for accepting blocks and performing some manipulation on a row that has been read before loading the data into a dataframe.

However, there are no tests in `io_spec.rb` for testing this.

Tests should amply test error conditions too.

[2017-02-13 06:05] lokeshh opened #309 "Fix Travis icon on README"
The Travis icon shows build unknown in the README file.

[2017-02-13 06:16] athityakumar commented on #309
The Travis CI icon in the README is pointing to @v0dro 's fork of `daru`. Changing it to SciRuby should do the job.

[2017-02-14 15:13] zverok commented on #309
Closed via https://github.com/SciRuby/daru/pull/310

[2017-02-14 15:13] #309 closed

[2017-02-15 15:06] zverok commented on #308
@v0dro is there a real life reason for this functionality, in the first place?

[2017-02-18 20:19] zverok commented on #298
Now, @v0dro, it is probably a question to you: what use cases you've had in mind when creating this GitHub issue?

[2017-02-25 19:16] v0dro commented on #308
I recently saw a PR that attempted to remove the line containing `block_given?` and the specs passed since there was no test of this sort.

[2017-02-25 20:43] zverok commented on #308
Yes, I understand why we need the test, if functionality exists.
But my question is WHY the functionality exists?

[2017-02-27 19:09] v0dro commented on #298
Basically, I had a SQLite file `database.db` which I found hard to read into a DataFrame without a lot work and reading documentation.

An SQL database file is still just a database, and opening it in a dataframe should not be much of a hassle.

[2017-02-27 19:14] v0dro commented on #298
@dshvimer I saw the pandas example of opening an SQLite database, and found it to be quite satisfactory. However, it is common practice to share test databases (mostly SQLite) on web in the form of `.db` files and opening at least SQLite files should be a trivial thing to do in daru, hence this issue.

@zverok I think we can get away by implementing read-from-file only for simple SQL databases, gi

[2017-02-27 19:23] zverok commented on #298
But was it SQLite? Or something else? That's what I am trying to understand -- is there case for data distributed in format of "sqlite db"?

[2017-02-27 19:47] v0dro commented on #308
Say you have a CSV column that contains dates in the form `DD MONTH YEAR` (example `12 february 2016`) and you want to convert this to a `DateTime` when you read the file to a dataframe by using your own conversion logic. The easiest way to do it would be by passing a block to `from_csv` that can modify the data as it comes.

[2017-02-27 19:55] v0dro commented on #298
Yes. It was SQLite.

[2017-02-27 19:59] v0dro commented on #298
This one specifically: https://github.com/pratapvardhan/pycon-2015/blob/master/data/aapdonation.db

[2017-02-27 20:06] zverok commented on #298
OK, let's say that SQLite is our choice. I'll re-review everything from this point of view tomorrow.

[2017-02-27 21:35] gnilrets commented on #308
I process a lot of CSV files and have gotten into the habbit of reading all fields as strings and doing conversions after it's built into a dataframe.

[2017-02-27 23:17] dshvimer commented on #298
If we need to load this directly from the web, I may need to make some changes.

May need to consider [this](https://github.com/SciRuby/daru/issues/289) issue as well

[2017-02-28 21:10] zverok commented on #308
Got it, thanks :+1:

[2017-03-01 02:15] v0dro commented on #308
@gnilrets for smaller dataframes and simpler usage scenarios I think passing a block is more readable and straightforward.

[2017-03-01 02:29] v0dro commented on #298
No you don't need to load from the web. Its sufficient to expect the user to have downloaded the file onto their machine.

[2017-03-02 05:30] Shekharrajak commented on #234
If no one is working on it then I want to try to work on it.

[2017-03-03 06:14] Shekharrajak commented on #160
We can use `open-uri`

[code]
and then we can use `file.csv`,

[code]
right ?

[2017-03-03 08:01] Shekharrajak commented on #211
[code]
Output must be `true`, isn't it ?

[2017-03-03 11:31] zverok commented on #160
@Shekharrajak This issue is already worked on https://github.com/SciRuby/daru/pull/300 -- though, the last movements was 2 weeks ago... So, I am not sure.
@anshuman23, do you plan to finalize your PR or what?..

[2017-03-03 13:03] Shekharrajak commented on #160
Thanks for info.

[2017-03-03 16:44] anshuman23 commented on #160
@zverok - Sorry for not informing you earlier, but it completely slipped my mind. My college exams had started just a day after I last committed changes. However, they get over by Monday the coming week. So I will finalize the PR by Tuesday or at most Wednesday positively. Most of the requested changes are almost ready on my end.

[2017-03-04 16:28] v0dro commented on #234
@Shekharrajak yes you can.

[2017-03-05 10:22] ananyo2012 opened #316 "Connect method for ActiveRecord Database Connection"
We can have a connect method for establishing ActiveRecord connections for use in `from_activerecord` method by simply passing the db name, username and password as arguments. As of now we have to establish database connection manually.
[code]

[2017-03-05 11:53] #246 closed

[2017-03-05 12:19] v0dro commented on #316
@mrkn WDYT?

[2017-03-05 12:22] mrkn commented on #316
@ananyo2012 I want to see a code example of your suggestion.

[2017-03-05 12:32] zverok opened #317 "Enchance specs style"
Our specs had grown "organically", and many of them use outdated style of testing things (all bootstrap & several checks is made inside single example, tons of hard-to-read large objects created on the fly, instance variables are used instead of `let` and so on).

What should be done in this ticket is:
* Refactoring of specs in accordance with [BetterSpecs](http://betterspecs.org/) guidelines;
* M

[2017-03-05 12:34] zverok commented on #316
I believe the main use case for `from_activerecord` is "I already have a connection" (from inside Rails app, or something). But I'm open to use cases/code examples for this feature.

[2017-03-05 13:47] zverok opened #318 "Make all inline docs proper YARD"
...Many of documentational comments have "working yet outdated" style, which confuses novices.
That should be fixed in according to YARD [guides](http://www.rubydoc.info/gems/yard/file/docs/GettingStarted.md).

[2017-03-05 18:16] #221 closed

[2017-03-05 23:24] ananyo2012 opened #319 "Kernel dieing for iruby notebook"
Whenever I try to start a new instance of iruby notebook inside the daru root directory the kernel dies and restarts and this goes on. I am unable to run any commands in the notebook. Here is the screenshot.
![screenshot from 2017-03-06 04-45-07](https://cloud.githubusercontent.com/assets/10486343/23592505/1fa9f858-0228-11e7-8bc2-76dbbc19c96a.png)
This is similar to this stackoverflow question: ht

[2017-03-06 04:41] dshvimer commented on #317
I am interested in tackling this. I will be working on it this week. Is one PR per spec file ok?

[2017-03-06 17:33] zverok commented on #319
No, we should not (or maybe in a `development` group only).
It is iruby's problem that it is hard to run system-wide, not daru's. Adding new hard dependency to solve it is not acceptable.

[2017-03-06 22:48] dshvimer commented on #317
I think that since this a fairly large task. More than one person can contribute at any given time. I will list the files that I am working on as I begin to work on them and others should do the same.

[2017-03-07 09:10] zverok commented on #317
Yes, please list your progress & PRs just in this issue.

[2017-03-07 12:47] db579 commented on #319
This could probably be solved with more thorough guides to installing dependencies and getting them working on various systems in a readme or common issues wiki type thing?

[2017-03-08 05:22] ananyo2012 commented on #319
@zverok We can add this as an development dependency. Thoughts on this ?

[2017-03-09 13:56] ananyo2012 commented on #316
In `lib/daru/IO/io.rb` we can have
[code]
This can be called before calling the `Daru::DataFrame.from_activerecord` method to establish connection.

[2017-03-09 16:46] ananyo2012 commented on #298
Can someone explain how the sql data source is tested? I don't see the sql database in the test suite but the `db_name` is used is the spec.

[2017-03-09 17:30] ananyo2012 commented on #283
I want to take up this issue.

[2017-03-09 18:38] ananyo2012 commented on #283
What should be the output for multiple keys like `index[100,200]` ? In case one of the index is valid and the other one is not what should be the output?

[2017-03-10 12:44] zverok commented on #283
What regular Ruby's arrays return in this case?

[2017-03-10 13:05] ananyo2012 commented on #283
Regular ruby arrays show a range of values between the comma separated indices, i.e. providing a range or comma separated values give the same output in arrays.

[2017-03-10 13:09] zverok commented on #283
Well, I believe when first index is valid, then everything from this index to the end of Index should be returned.

[2017-03-10 13:23] ananyo2012 commented on #283
Should it raise an error if the first index is invalid or should it return nil as in regular Ruby arrays?

[2017-03-10 13:27] zverok commented on #283
Just `nil`

[2017-03-10 15:49] genya0407 commented on #283
I think `IndexError` should be raised.

Reasons:

1. `Daru::Index#[]` raises error when given invalid argument.

[code]

2. `array[100, 200]` and `index[100, 200]` has different meanings.

`array[start, length]` means `array[start...(start+length)]`.
On the other hand, `index[index1, index2]` means `Daru::Index.new([index[index1], index[index2]])`.

Examples:

[code]

Thanks.

reference: https://r

[2017-03-10 20:02] ananyo2012 commented on #283
Well I think we should return nil for indexes that don't exist and the positions for indexes that exist as that was discussed

[code]

[2017-03-10 20:10] ananyo2012 commented on #283
Also should we deprecate range options in `Daru::Index#[]` to avoid ambiguity? As it is already available in `Daru::Index#at` and makes more sense there.

[2017-03-11 07:53] genya0407 commented on #283
Why `Daru::Index#[]` should return `nil` ?

If `IndexError` is raised, users can notice that they specify wrong index.
However, if `nil` is returned, error will raised from other place.
I think this will complicate debug process.

If you have any advantages of returning `nil`, please tell me it.

Thanks.

[2017-03-11 13:04] zverok commented on #283
Well, most of the time we a copying Ruby array's/hashes behavior. Just to be consistent. Returning `nil` instead of errors is OK for `Array#[]` and `Hash#[]` -- I believe, that's because when index is taken from variable, you can have data in one case, and just "no data" in another, and it is not an "error".

[2017-03-11 13:23] zverok commented on #298
@ananyo2012 SQLite database is created dynamically on the fly: https://github.com/SciRuby/daru/blob/master/spec/support/database_helper.rb#L11

[2017-03-11 13:23] zverok commented on #298
BTW, this issue should be considered closed :)

[2017-03-11 13:23] #298 closed

[2017-03-12 09:19] genya0407 commented on #283
OK. I undestand the advantage, and agree with it.

[2017-03-13 06:34] v0dro commented on #319
No. This is purely an iruby issue and should be dealt with in the iruby issue tracker. The Kernel will die before daru can even be required. What's the use of introducing a development dependency in daru?

Check out the iruby issue tracker, many people have posted this problem and offered solutions.

[2017-03-13 06:34] #319 closed

[2017-03-13 06:36] v0dro commented on #316
@mrkn ping!

[2017-03-13 18:07] athityakumar opened #320 "Linear Programming - Algorithms for DataFrames"
Given that `Daru` is going to work on analyzing DataFrames, it seems logical to me to include LPP (Linear Programming Problems) algorithms - like `Simplex`, `Big M`, `2 phase simplex`, `Dual simplex`, `Revised simplex`, `Primal-dual`, etc.

I wasn't able to find any such LPP methods in `pandas`, but this may be because `pandas` is able to work with `numpy` `ndarray`s. However, I don't think this i

[2017-03-13 18:12] gnilrets commented on #320
I think I'd rather see Daru be really good at dataframes.  By good, I mean that manipulating dataframes - reading, writing, filtering, joining, grouping, transforming - should be fast and bug free.    For this LP work, it would make more sense to build it into a separate package - e.g., "Daru Data Science Library"

[2017-03-14 15:01] v0dro commented on #320
I agree with @gnilrets. We can probably have a separate gem that specifically caters to this need.

[2017-03-15 02:09] dshvimer commented on #317
[code]

[2017-03-16 14:29] Shekharrajak opened #322 "save converted dataframe to particular html file"
User must be able to pass "path of html file" to store converted `df`.

E.g.

[code]

the output of `df.to_html` will be saved in `html_file_path.html`.

[2017-03-16 14:38] Shekharrajak commented on #322
Also the output of `to_html` is not understandable in iruby notebook. It comes something like this

[code]

[2017-03-16 14:52] zverok commented on #322
What is the (frequent) use case? How this is better than `File.write 'something.html', df.to_html`?

What do you mean by "not understandable"? What have you expected and how actual output is different from your expectactions?

[2017-03-16 15:17] gnilrets commented on #322
I agree with @zverok, there's no need to have this functionality in Daru, as any user can easily write it to a file themselves.

@Shekharrajak - I think I know what you're talking about with it not being understandable in iRuby.  If you want to use `to_html` in an iRuby notebook, use `IRuby.display` and specify the mime type.  I often do this when I want to see more than the default number of reco

[2017-03-16 17:23] Shekharrajak commented on #322
@zverok Yes , we can do this. There is not much use case right now.

In IRuby or using terminal, we get output with html tags, which is not readable.

<img width="1005" alt="screen shot 2017-03-16 at 10 17 59 pm" src="https://cloud.githubusercontent.com/assets/5774448/24009122/fa47013a-0a99-11e7-9af5-f66a925b7093.png">

If we see this in Pandas then output is more readable :

<img width="626" alt=

[2017-03-17 12:11] zverok commented on #322
For default output (like in pandas), just don't do `to_html`, it returns exactly "raw HTML string" output, as you can see.
If you'll just do
[code]
-- you'll see pretty HTML output.
And if you'll do
[code]
...you'll see
[code]
(That is what `df.to_html` does in pandas, returning method object instead of calling it)

[2017-03-17 12:11] #322 closed

[2017-03-17 14:16] Shekharrajak commented on #322
Thanks @zverok .

[2017-03-17 14:53] mrkn commented on #316
I don't think your `activerecord_conn` method is not useful for AR users.

The parameters of AR::Base.establish_connection is not only the combination of adapter, user, password, and db_name, but it also accepts other optional parameters such as DBMS-specific connection parameters.

Also this method can be called with one `url` parameter, the example value is: `mysql2://db_user:db_pass@localhost:3

[2017-03-17 15:44] Shekharrajak commented on #318
Do we need to change [these kinds of comment syntax](https://github.com/SciRuby/daru/blob/master/lib/daru/dataframe.rb#L222) to YARD ?

[2017-03-17 15:50] zverok commented on #318
Yep. It should be `@option` [tag](http://www.rubydoc.info/gems/yard/file/docs/Tags.md#option), in fact

[2017-03-17 15:52] Shekharrajak commented on #234
I think `join` must work `on` the index as default, right ?

[2017-03-18 07:05] Shekharrajak commented on #223
How to display with Index name in irb :

right now it is coming like this :
[code]

I want this :

[code]

[2017-03-19 13:23] v0dro commented on #234
@gnilrets WDYT?

[2017-03-19 14:07] #211 closed

[2017-03-19 16:41] Shekharrajak commented on #210
I didn't understand this syntax `df.where(df_mask) = -1000`

I think `df.where(df_mask)` must return :

[code]
And then we must have some method to replace `NaN` with `-1000`, isn't it ?

[2017-03-20 14:33] dansbits opened #324 "#group_by with boolean gives `ArgumentError: comparison of Array with Array failed`"
I was recently trying to get a count of true and false values in a column of my data frame and received `ArgumentError: comparison of Array with Array failed` when I tried to run group_by using only that column. I thought this might be something with my data set but the below example reproduces the error.

[code]

[2017-03-20 14:38] dansbits commented on #320
+1 I like the idea but but it doesn't seem like core functionality for Daru.

[2017-03-20 14:52] zverok commented on #324
I believe it is due to the fact that currently `group_by` for some reason sorts groups, and booleans can't be compared with `<=>`.
This redesign ticket is somehow related: https://github.com/SciRuby/daru/issues/152

[2017-03-20 14:54] gnilrets commented on #234
Makes sense to me...

[2017-03-23 05:23] ananyo2012 commented on #316
@mrkn Yes I guess the different formats in the AR connect method gives it enough flexibility as per the database and environments. But for a first timer approaching the codebase it is pretty hard to know how it works around. It would be great if we can simplify things for them. Can we improve the documentation for this a bit or atleast giving the link you have pointed out in the docs?

[2017-03-25 09:48] Shekharrajak commented on #234
It took me time to understand the `core/merge.rb`, since there is no examples/docs added in file.

1. I see that `merge` is defined in `dataframe.rb` with no `option`. But as we know `merge` + some condition is called different types of `join`.

2. `merge` must be defined in `core/merge.rb` and same kind of(like `join`), `option` must be used in `merge` as well.

3. One special case will be when t

[2017-03-25 17:21] GusAndrianos commented on #308
I want to work on this. I'm looking for something I can do for GSoC and I think it's a good fit.

[2017-03-25 20:22] Shekharrajak commented on #230
I think this issue must be closed, right ?

[2017-03-26 09:55] v0dro commented on #308
@GusAndrianos yes this would be a great and simple issue to start with. Have you had a look at the source code yet? You should hurry up with your proposal since the deadline for submitting the final proposal is 4th April.

[2017-03-26 10:13] GusAndrianos commented on #308
@v0dro This wasn't what I had in mind for GSoC so having to submit patches for every organization I am interested in kind of caught me off guard. I'll try to solve this quickly as this is the only thing missing from my proposal. :)

[2017-03-26 11:11] v0dro commented on #320
Closing this issue. Maybe we should discuss in the mailing list about making a separate gem for this purpose.

[2017-03-26 11:11] #320 closed

[2017-03-26 11:26] GusAndrianos commented on #308
@v0dro That's awesome, I haven't really found anything that fits me better than SciRuby.

[2017-03-26 11:34] v0dro commented on #234
If I understand you correctly, you are basically proposing that parts of `join` should be included into `merge` right? Why is that? You can very well do the same thing by specifying options to `join`.

The purpose of this issue is to come up with suitable APIs to join two dataframes on index.

Also, how is your first example (in the section below `Problem with merge`) any different from the first?

[2017-03-26 11:34] v0dro commented on #230
Good find.

[2017-03-26 11:34] #230 closed

[2017-03-26 11:55] #159 closed

[2017-03-26 13:41] Shekharrajak commented on #234
Actually my [above comment](https://github.com/SciRuby/daru/issues/234#issuecomment-289201378) is not much related to this issue, but I think that if 'joining on index' is fixed then using `inner` join (default join for `merge`) `merge` can be done (default `on: index`).  So we don't need to solve separate `merge` issue .

[2017-03-26 15:23] GusAndrianos commented on #308
I am a bit confused. My test should check if a block of code can be passed and perform some action on a row already imported right?
How do I pass this row into the `from.csv` method?

Can you give a usage example? I'm stuck on this for a while now.

[2017-03-27 13:16] GusAndrianos opened #325 "Passing blocks into from_csv method doesn't work unless &block added as parameter."
Hello guys. I'm working on #308 but whenever I try to pass a block to test the code, it doesn't work. It only works if I add `&block` into `from_csv` and the methods it calls.

After using a simple block like `{|x| x.each{|row| row.each{|elem| puts elem}}}`
the test fails, because
[code]

Has anyone actually used a block of code for modifying the rows before creating a new DataFrame?
Honestly I th

[2017-03-27 17:12] ananyo2012 commented on #283
So I am going by these definitions. `Daru::Index#[]` will return index object if positions are given as argument and return positions if argument is index values and return nil if no values are found. No error is raised. Some examples

[code]

Daru::Index#pos returns positions corresponding to a valid index value. It only accepts valid index value as arguments. If an invalid index or position is g

[2017-03-27 17:18] #325 closed

[2017-03-27 17:31] ananyo2012 opened #327 "Define JSON importer/exporter"
I think this is a good time to work on this. There is already a `to_h` method for dataframe and vectors but no such `File.write` method for json. API calls mostly follow json formats so the importer should be able to read json data from api calls. We can start off by a simple `write_to_json` method and `from_json` method in `Daru::IO` module. Since Ruby comes with json we don't need to add any ext

[2017-03-27 21:20] zverok commented on #327
As always, I propose to think on some _real_ data examples. Just one, yet pretty interesting point is OpenWeatherMap. Here is API sample: http://samples.openweathermap.org/data/2.5/forecast?lat=35&lon=139&appid=b1b15e88fa797225412429c1c50c122a1 (here are docs: https://openweathermap.org/forecast5). Ideally, we need to be able doing something like...

[code]

Ideas?

[2017-03-28 17:20] v0dro commented on #234
Why should the default be changed from `:inner` to `:index`? Is there any compelling reason?

What exactly do you mean by this?

[2017-03-31 10:50] v0dro opened #328 "Use of broadcasting data strucutures for daru internals."
Currently, daru uses Arrays for storing data inside Vectors, which are collectively stored inside a dataframe.

However, this approach reduces the speed of most mathematical operations due to everything being a Ruby object and all the looping operations happening in Ruby.

I would like to explore alternatives to re-implementing daru's internal data structures in something like `NMatrix` or `Numo::

[2017-03-31 17:11] gnilrets commented on #328
Could you clarify what is meant by "broadcasting data structures"?

I've recently been playing around a bit with PyArrow and so far it seems like a performant internal data structure.

https://pyarrow.readthedocs.io/en/latest/
https://www.slideshare.net/wesm/python-data-wrangling-preparing-for-the-future
https://github.com/SciRuby/daru/issues/164

If it were integrated into Daru, it may open open

[2017-04-01 10:08] v0dro commented on #328
Broadcasting would basically involve changing the internal data structures in such a way that they are more efficient and reduce copying of data whenever possible. For example, pandas uses numpy internally, which supports broadcasting and hence makes pandas fast.

This will mainly involve choosing an appropriate matrix library like Numo::NArray or NMatrix and integrating them with daru. Some chang

[2017-04-03 00:41] kou commented on #328
FYI:

Apache Arrow is implementing `Tensor` object:

  * https://www.slideshare.net/wesm/memory-interoperability-in-analytics-and-machine-learning#23
  * https://github.com/apache/arrow/pull/438

Pandas will use it in 2.0:

  * https://www.slideshare.net/wesm/memory-interoperability-in-analytics-and-machine-learning#25
  * https://github.com/apache/arrow/pull/477

I'm working on Ruby bindings of A

[2017-04-07 02:22] athityakumar commented on #158
I believe this issue can be closed now, as it has been taken care of by PR #303 . :smile:

[2017-04-07 18:16] #158 closed

[2017-04-09 13:46] Shekharrajak commented on #152
For part 1, I think we should make MultiIndex having same number of layers as number of element to be grouped. So now `employee` will be MultiIndex having MultiIndex name as `employee`. Then using `.groups` or `.get_group` we can map the `Index` and then other `df` vectors, right ?

[2017-04-10 14:15] zverok commented on #152
Right.

I don't think that we will need methods with those names, standard DF API should be enough for everything that `get_group` currently does.

[2017-04-10 21:07] Shekharrajak commented on #152
Thanks @zverok , I have done some work on Part 1 in https://github.com/SciRuby/daru/pull/330 . Please have a look.

[2017-04-13 09:37] user919lx opened #331 "Vector method 'at' can't work when index is DateTimeIndex"
For examle, this code can't work
[code]
system tells  `'key': undefined method '[]' for nil:NilClass (NoMethodError)`

I have found the reason. DateTimeIndex's constructor doesn't call super.

I add follow code then everything is OK.
[code]

[2017-04-19 10:41] #223 closed

[2017-04-24 10:42] zverok opened #336 "Drop support for Ruby 2.0"
I believe we can allow ourselves to it now :)

This not only means specifying 2.1 as a minimum version in the Gemfile, but also switching from option hashes to proper keyword arguments everywhere, which will greatly enchance documentability and discoverability of features.

On this change, version should be bumped at least to 0.2, I believe.

PS: As a side note, I believe 0.x becames to be a bit o

[2017-04-24 21:13] athityakumar commented on #130
Fixed with PR #329 - I think this issue can be closed now. :smile:

[2017-04-24 21:14] athityakumar commented on #289
Fixed with PR #334 - I think this issue can be closed now. :smile:

[2017-04-25 08:53] zverok commented on #289
:+1:

[2017-04-25 08:53] #289 closed

[2017-04-25 09:03] #130 closed

[2017-04-25 09:40] v0dro commented on #336
Agreed. And yes, we should have a roadmap. Maybe we take inspiration from JRuby for this purpose? I've heard quite a few people talk fondly about their release schedules and roadmap.

[2017-04-25 10:21] zverok commented on #336
Let's probably schedule the roadmap creation for August/September? When GSoC will be finished and we'll know where we are.

[2017-04-26 05:46] sivagollapalli opened #337 "CSV reading performance issue."
I just tried to read a csv file of size 42.6 MB which consists of 550241 records. When I tried with daru here is following statistics

[code]

if I do the same with python then it shows as follows

[code]

Since Github doesn't allow a file to upload more than 10 MB so I couldn't upload. But you can get the data from https://www.kaggle.com/venkatramakrishnan/india-water-quality-data

[2017-04-26 10:28] zverok commented on #337
Unfortunately, that is for now "how it is". Nothing is broken in library itself that easily can be optimized. When profiling this case, most of the time spent into Ruby's CSV parser, in things like converting strings to numbers and so on. There are some plans/efforts to replace Ruby's default CSV library with something faster, but none of them are close to implementation.

[2017-04-27 07:02] user919lx opened #338 "DateTimeIndex bug"
#### Code Sample
[code]

#### Problem description

excute above codes then return error : `NoMethodError: undefined method '[]' for nil:NilClass`

I use daru in my project but for some data missing middle date like above ,it makes error.
It seems  DateTimeIndex has many bug, but I have to use it for some reason.So sad.

#### Expected Output
`Daru::Vector(0)`

[2017-04-27 11:48] zverok commented on #338
There was (?) a generic problem with empty DateTimeIndex, that probably nobody have tried to use. I believe I fixed it in https://github.com/SciRuby/daru/pull/339.

[2017-04-27 11:48] #338 closed

[2017-04-29 15:55] v0dro commented on #336
Yes. Works.

[2017-04-29 16:04] v0dro commented on #337
I think we should shift to a C based CSV parser like paratext. See https://github.com/SciRuby/daru/issues/170

[2017-05-01 03:25] pedrorio opened #341 "#tail and #head not working for Daru::DataFrame"
Hello, I was trying to backtest some bitcoin investing strategies and the #tail and #head methods do not work unless I specify a Daru::Vector.

For instance, `p df[0].tail works` but `p df.tail` does not.

I was using daru from rubygems and changed the gem source to this github repo but the #summary method also broke. I am using a Daru::DateTimeIndex index.

Here is my error:
[code]

[2017-05-01 09:14] v0dro commented on #341
Thanks for your report. We'll have a look shortly.

[2017-05-09 12:15] zverok opened #342 "Erroneous behaviours of MultiIndex"
Shown at https://github.com/SciRuby/daru/pull/340

[code]

Problems:
1. one-level MultiIndex should not be a thing
2. MultiIndex with repeated tuples should not be a thing

[2017-05-09 12:17] zverok commented on #341
@pedrorio could you please show us the DataFrame you are working with?.. Basic tests for `#head` and `#tail` seems to be working, as well as my manual testing.

[2017-05-09 12:48] sivagollapalli commented on #242
@v0dro Apart from https://github.com/SciRuby/daru/blob/master/lib/daru.rb#L87 nowhere we are using `STDERR.puts` to print warning messages. I think we can allow an error message if gem didn't installed. Hence I avoided.

[2017-05-09 17:22] cpankaj commented on #341
DataFrame head and tail doesn't work if it has DateTimeIndex

You can reproduce using below code
[code]

[2017-05-11 10:33] v0dro commented on #242
@sivagollapalli the reason for this issue is that the errors show up in people's logs every time they require daru in some app. Therefore it makes sense to be able to set a switch.

Setting the switch to `nil` will supress warnings once and for all.

[2017-05-11 19:42] zverok commented on #327
As discussed with @athityakumar in mail, there is a time to think more clearly about what is necessary here. Some statements:

1. **Default representation:** We can't decide whether "array of hashes" (each hash is a row) or "hash of arrays" (each column is key: array of values) is more natural, it depends on situation. So, we should probably _always_ support both options for import and export. For

[2017-05-13 15:30] v0dro opened #344 ".from_excel should support .xlsx file extension"
The `DataFrame.from_excel` method does not support loading XLSX files since the `spreadsheet` gem does not support it.

We should write new functionality so that XLSX can be supported using the `rubyXL` gem.

[2017-05-13 15:33] v0dro commented on #344
@athityakumar you should incorporate this into your project if nobody submits a PR before the coding period.

[2017-05-13 15:53] jeydurai commented on #344
It will be good to look at write_excel as well for xlsx .

[2017-05-13 16:12] zverok commented on #344
@jeydurai Ideas on how far it should go? Like styling of output and something something?

[2017-05-13 16:33] jeydurai commented on #344
1) While reading as daru dataframe and writing back as excel, it should preserve the original formatting on both ways.
2) Should be able to read the default sheet (selected one) if we call for read_excel function in daru object, in addition to which, there should be a functionality to create an Excel object, by which, any specific sheet can be read by giving the sheet name with an option to specif

[2017-05-13 17:09] zverok commented on #344
@jeydurai Thanks, that is pretty informative list, we'll work our way on it.

@athityakumar I believe you should be really interested in this discussion :)
@Shekharrajak for you it is also may be useful (as "export to Excel with pivot tables" COULD be part of "views" rather than exporters, but it is a point to discuss again).

[2017-05-15 05:01] athityakumar commented on #344
@v0dro - Sure, I'll try to accommodate these features in my project timeline.
@zverok - Yes, I'm looking forward to this. :)
@Shekharrajak - Regarding (4) and (5), we can consider using the [pivot-table](https://github.com/edjames/pivot_table) gem.

@jeydurai - Thanks for this list. Feel free to add more, if you come across any more potential use cases - my coding period starts from May 30th. I'll

[2017-05-15 05:28] athityakumar commented on #327
Agreed - the example especially looks good. :+1:

Giving xpath-like option with [jsonpath](https://github.com/joshbuddy/jsonpath) gem to users will definitely make the `from_json` module user-friendly for nested JSONs (which most social-media graph APIs provide).

[2017-05-15 07:04] jeydurai commented on #344
@athityakumar I will surely come back in a day or two in order to add more use cases.
@athityakumar For the use cases of (3), the following syntax may be helpful.
**Reading:**
xlsx = Daru::DataFrame.ExcelFile(PATH\FileName.xlsx)
df_sheet1 = xlsx.parse('Sheet1')
df_sheet2 = xlsx.parse('Sheet2')
OR
df_sheet1 = xlsx.parse(0)
df_sheet2 = xlsx.parse(1)

**Writing:** (suggested use case looks like savin

[2017-05-16 08:48] athityakumar commented on #327
@zverok - Regarding the exporter, should using `from_json` and `to_json` recreate the json source? That is, should

[code]
recreate the json source `x`?

Or maybe if a user wishes to recreate the json source,
[code]
would be an easier way out?

[2017-05-16 12:28] Shekharrajak commented on #344
We can create pivot table using the gem [pivot_table](https://github.com/edjames/pivot_table) as suggested by @athityakumar  and using `Daru::Formatters::Table.format(data, headers: headers, row_headers: row_headers)` , we can get the table.
I tried one example: [gist link](https://gist.github.com/Shekharrajak/8cde827a623cea588b3ac6afdc2cfc6d)

[2017-05-16 14:45] v0dro commented on #344
pivot_table gem looks too inflexible and heavy to me. Moreover there will be the overhead of copying data from daru to the other gem. Maybe you can port some of the code from there to daru?

[2017-05-16 19:52] zverok commented on #344
I also don't think we need any external gem for building pivot tables. We have everything you can need for this in Daru already.

I believe that writing several dataframes to several sheets IS a usecase, yet @athityakumar's proposal (with atomic writes, each "write this DF to that file, N sheet" is separate op) is good enough for starters. As far as I know, XLSX files opening/closing doesn't have

[2017-05-16 20:13] zverok commented on #327
I am not sure what's the scope of your question. You mean, char-by-char correspondence? I don't think it should be the _first_ goal, though, it is an interesting side-task (which by the way validates equivalent power of importer and exporter).

[2017-05-17 01:25] athityakumar commented on #327
Yes, I was asking whether the equivalent power of importer and exporter should (or can) be provided to JSON. Because, for creating a complex nested JSON from a DataFrame (`to_json`) - the missing data have to be provided manually (unless we store them as a class variable, which wouldn't be good either), and there's no other way apart from the user manually mapping and manipulating the hash given b

[2017-05-17 04:15] zverok commented on #327
Yes, seems so.
If the user needs structure like
[code]
...then the most simple option would be, probably, just construct something like
[code]
...and then merge it with some `metadata`. But probably in this case also useful thing would be method like `as_json`, which will return not string, but plain Ruby structures (hashes and arrays) which will be easier to merge with other data.

[2017-05-17 07:32] Shekharrajak commented on #344
Thanks for suggestions. I think we must extend the [DataFrame#pivot_table](https://github.com/SciRuby/daru/blob/master/lib/daru/dataframe.rb#L1615) features accordingly.

- option `:agg` - Function to aggregate the grouped values. Default to *:mean*. This must be changed if there is only single value to return then that will be added in column value (`String`, `Symbol`). Means it must not be restr

[2017-05-23 11:35] arbox commented on #164
There is actually an open issue for that: https://github.com/wesm/feather/issues/282

[2017-05-24 08:31] cpankaj opened #346 "DataFrame skew and kurtosis implementation"
Feature request for **kurtosis** and **skewness** measure of DataFrame and Vector

pandas ref:
skew: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.skew.html
kurtosis: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.kurtosis.html

[2017-05-31 08:13] parthm opened #349 "Loading a headers only csv should create empty DataFrame with headers"
Trying to load a CSV with only headers errors out right now. It would be better it an empty DataFrame is created with the headers.
Daru: 0.1.5
Ruby: 2.3.3
File attached as zip as CSV attachments are not supported.
[column_headers_only.zip](https://github.com/SciRuby/daru/files/1040675/column_headers_only.zip)

As it stands now a the CSV file needs to be loaded and checked if empty before we can lo

[2017-05-31 11:26] zverok commented on #349
Accepted.

[2017-06-05 05:28] parthm opened #351 "Convenient way of setting new/existing column: df[:colx] = 1.0"
It may be worthwhile having ```df[:c] = 1.0``` as a convenient method of setting a new column and existing columns. Right now it errors out.

Daru: 0.1.5
Ruby: 2.4.0

[code]

While we can do ```df[:c] = [1.0] * df.nrows``` it's probably more intuitive and clearer to do ```df[:c] = 1.0```, especially for new users from other libs like pandas.

Behavior for pandas.

[code]

[2017-06-05 16:06] zverok commented on #351
I love the idea. Accepted :)

[2017-06-08 11:37] info-rchitect commented on #337
What about [smarter_csv](https://rubygems.org/gems/smarter_csv/versions/1.1.0)?

- able to process large CSV-files
- able to chunk the input from the CSV file to avoid loading the whole CSV file into memory
- return a Hash for each line of the CSV file, so we can quickly use the results for either creating MongoDB or ActiveRecord entries, or further processing with Resque
- able to pass a block to

[2017-06-08 11:47] info-rchitect commented on #349
As a temporary workaround I did this:

[code]

[2017-06-08 13:46] info-rchitect commented on #337
Here is a ~10x speed-up improvement workaround over the default :from_csv method.  The CSV file in this case is ~65k rows and 40 columns.

![image](https://user-images.githubusercontent.com/26782653/26931628-c82f2bea-4c26-11e7-898c-7c60ee6dcbe9.png)

[2017-06-08 16:16] info-rchitect opened #352 "Inheriting from Daru::DataFrame?"
Hi,

I want to inherit from Daru::DataFrame to create a generic Dataset class.  The limitation (could be my knowledge for sure) is currently that I can't seem to figure out how to pass options via super to ask the DataFrame to instantiate via the 'from_csv' or 'row' methods.

[code]

I can workaround this by forcing users to instantiate Datasets via a wrapper method but having this ability via sup

[2017-06-13 06:37] parthm opened #353 "from_csv should support loading specified columns as date columns"
CSVs frequently contain multiple date columns. These are not necessarily indexes. It would be good if from_csv function provided an easy way to load column(s) as dates. As it stands now, the CSV needs to be loaded and the columns converted in to dates.

For reference, [Pandas read_csv](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv) function supports a `

[2017-06-13 07:57] parthm opened #354 "lag should support negative arguments"
At the moment, if we call ```vector.lag -1``` the vector returned has all nils. It would be better if lag supported positive as well as negative shifts.

[code]

Behavior for [pandas shift function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.shift.html#pandas.Series.shift) for reference:

[code]

[2017-06-13 15:20] v0dro commented on #337
@athityakumar can you explore if it is possible to optimize from_csv using @info-rchitect's method?

[2017-06-13 15:24] v0dro commented on #352
Can't you directly use the class method `from_csv` inside `initialize`? It is not possible to include CSV reading from `DataFrame#intialize` since the method is already performing too many functions and adding more functionality like this would add confusion to the API.

[2017-06-13 15:25] v0dro commented on #353
This would be a great feature.

[2017-06-14 10:10] athityakumar commented on #337
@v0dro - Sure, I'll try re-creating the benchmarks and get back in a couple of days.

[2017-06-15 03:24] parthm opened #356 "Vector#macd should return macdhist in addition to current macd and signal"
Current implementation of Vector#macd returns macd and macdsignal. It would be good if it returns macdhist / histogram in addition to these values to be in line with standard practice, e.g. [TA-Lib wrapper for python](https://mrjbq7.github.io/ta-lib/func_groups/momentum_indicators.html) has the following signature ```macd, macdsignal, macdhist = MACD(close, fastperiod=12, slowperiod=26, signalperi

[2017-06-15 07:00] athityakumar commented on #337
Hey all. Please find the benchmark results for importing from csv below, which was done on @sivagollapalli's input csv file, which should create a `<550242*8> Daru::DataFrame`.

@v0dro - As suggested by @zverok, the default options of `#from_csv` (mainly `converters: :numeric`) are slowing it down. Would it be better if it isn't set as default?

- The approach suggested by @info-rchitect itect doe

[2017-06-15 08:25] athityakumar commented on #327
@zverok - I've submitted a Pull Request for JSON Importer, with support for parsing from specific x-paths as per this issue. Please review https://github.com/athityakumar/daru-io/pull/21 whenever you're free 😄

[2017-06-16 11:43] zverok commented on #352
To be honest, I am not sure that you are doing the "right" thing from architectural point of view. `Daru::DataFrame` will hardly make a good base class for anything except "dataframe with a few more features", it was never the point of the design.

[2017-06-16 15:00] zverok commented on #327
OK, let's close this ticket, than, and for any further considerations continue in `daru-io` project.

For the record, I am not very happy about the fact that ton of PRs were merged without me :(
Of course, I am guilty myself, because I've been absent almost for 10 days at important period, but in future feel free to at least ping me and ask about it -- I was "kinda" online, so at least I could say

[2017-06-16 15:00] #327 closed

[2017-06-16 15:02] zverok commented on #327
...and in fact you merged it AFTER that I've wrote I am back and reviewing everything. It is pretty weird. I have a lot of consideration about that one, and will review it now, and you'll need to plan fix my notes later, when you'll have time.

[2017-06-16 15:07] athityakumar commented on #327
Sorry @zverok, I merged them only after it was approved by at least one of the mentors. I'll definitely take this in consideration in the subsequent PRs. I'm genuinely sorry. I'll definitely take your reviews for all these merged PRs. Please feel free to review. 😄

[2017-06-18 23:38] info-rchitect commented on #352
Hi,

Thanks for the inputs.  Regarding using Daru::DataFrame as a base class, it is needed so "business logic" and methods can be applied in a standardized manner.  A simple example is creating a JMP like 'split' method using the pivot_table method or doing proprietary calculations on the dataframe.  I just ended up allowing users to pass in a source argument that can be any type of supported file

[2017-06-19 10:15] info-rchitect opened #358 "Ability pivot table and keep the group_by columns in the DataFrame"
Hi,

I noticed the pivot_table method removes group_by columns and uses them as the index in the newly created DF.  Is there a way to do the pivot table and keep the group_by columns in the resulting DF?  This would ensure any columns dependent on the group_by columns maintain their source of data.

regards

[2017-06-20 12:19] zverok commented on #337
Converters is definitely slow in CSV. So probably we should go around them (or around entire library) for any reasonable speed improvements.

[2017-06-20 17:33] parthm commented on #354
I suppose this can be marked as fixed as its closed in #355

[2017-06-20 17:48] parthm commented on #280
This was also a bit confusing to me as well as a new Daru user. The `write_csv` api wasn't discoverable after using `from_csv` as I was expecting `to_csv`.

While @v0dro makes a fair point about `to_x` being something that should return a new object, could we consider the suggestion of the `read_csv` alias in the original note? This would enable `read_csv` <-> `write_csv` symmetry and hopefully ma

[2017-06-20 18:38] zverok commented on #354
:+1:

[2017-06-20 18:38] #354 closed

[2017-06-20 19:11] zverok commented on #280
This, actually, could make sense.

[2017-06-20 19:20] zverok commented on #280
Updated issue name.

@athityakumar I believe that could be part of your work for daru-io. In fact, `read`/`write` seems pretty consistent pair of methods (for reading and writing files)... and for reading and writing variables (e.g. `dataframe.method_name # => string with json`), `from`/`to` could be reasonable. It looks like reasonable API, no?..

[code]
Maybe this explicitness could be better, t

[2017-06-20 20:06] zverok commented on #352
I am still not 100% sure about use case, but probably one of your options is having `DataFrame` as an instance variable of your object, and use `Forwardable` module to delegate _some_ of methods to it.

`DataFrame` itself is not ready for being base class, because, for example any of its methods that return `DataFrame`, will still return them, not an instance of child class (and `Vector`, not some

[2017-06-20 20:10] zverok commented on #358
Makes sense.

[2017-06-20 20:12] zverok commented on #152
Not sure why it is closed. I pressed the wrong button?.. :philosoraptor:

[2017-06-21 09:19] parthm commented on #337
I wonder if `:converters` need to be re-looked at from a design perspective. Currently `:numeric` is supported but that's a bit of a special case IMHO. From a design perspective, If you look at issue #353 regarding date column support in CSVs, should the date column support be a new `:converter` or a `date_columns` argument to the `from_csv` function as mentioned in the report? I feel whatever sol

[2017-06-21 10:09] athityakumar commented on #337
@parthm - `Daru::DataFrame#from_csv`'s  `:converters` sets the default as `:numeric`, and passes it onto stdlib `CSV`. Hence, I don't think `date_columns` should be clubbed with `:converter` option, but rather be a separate `date_columns` option.

I partly feel that de-coupling converters from CSV parsing might be better. But, we also have to consider that someone who has been using a specific CSV

[2017-06-21 13:30] info-rchitect commented on #358
I will take a shot at it

[2017-06-21 13:34] info-rchitect commented on #352
yes you may close the issue, thanks for the discussion.  My app still uses DataFrame as a base class, I just intercept the results and manage what to do with the resulting DF.  There is some performance overhead, but most of the time I am doing lots of transforms (pivots, concats, joins, etc.) and only need to convert the last DF into my object.

[2017-06-21 13:36] #352 closed

[2017-06-21 15:12] gnilrets commented on #337
I understand how automatic conversion could useful for quick ad hoc data analysis, but as an ETL developer using Daru, I need to maintain tight control of my data types (e.g., I want my job to fail early if I get a CSV file containing a string in a date column; or, I want to make sure that leading zeroes are retained for business id columns).  To this end, I have turned off all automatic type conv

[2017-06-22 14:09] wowinter13 opened #359 "The idea of integrating main types of distribution in gem"
In Python we can easily create vectors with normal distribution in one string using numpy:

[code]

While in Ruby we should use Distribution gem:
[code]
Distribution gem contains a lot of ways for normalization. And it's a little overhead to include it if we just want to use basic functionality.
Because normal Gaussian distribution is often used as a basic function for a lot of statistic and ML ta

[2017-06-22 14:41] parthm commented on #356
Thanks for merging the PR. We can probably close this now.

[2017-06-22 19:24] #356 closed

[2017-06-23 04:41] parthm commented on #359
In the python example I see numpy as the distribution gem equivalent. Something like pandas would be the Daru equivalent.

`Daru::Vector` supports array or range arguments to `new` for easy creation. I would think if the distribution gem provided an easy way (alias/shortcut) of creating the distribution in the as an array it might significantly simplify vector creation. E.g. `Daru::Vector.new(Dist

[2017-06-23 09:13] zverok commented on #359
TBH, I don't see any value in bundling.
It is how proper Ruby gems work: they solve one task, and solve it well (or die trying). We are not building some "framework for everything" here.
You _almost_ can make your code simpler this way:
[code]
...except for the fact Daru expects block to accept 1 argument. This syntax working should be a reasonable improvement request ;) But probably even to Distr

[2017-06-23 10:30] info-rchitect opened #360 "Stacking vectors?"
Is there a built-in method for 'stacking' vectors?  Stacking being taking N columns and turning them into rows with a label column and a value column.  I have implemented a quick and dirty version but it is not optimized and still running fro last evening!  So I was hoping someone might have done this type of manipulation in Daru before.  The terminology comes from JMP btw.  thx!

[2017-06-23 11:44] zverok commented on #360
Can you please show what do you mean? Source + result of the operation?

[2017-06-23 13:40] wowinter13 commented on #359
Okay, thank you, guys!
I will rethink how to fix ``` &rng ``` & other methods of normalization in Distribution and PR solution in the near future.

[2017-06-23 13:55] arbox commented on #359
Actually if one needs only the Normal distribution and sees the whole bunch of other implementations as overhead why not to extract the code and build a targeted `normal_distribution`  gem? That's the solution which makes things simpler in my view of this world :)

[2017-06-23 15:23] gnilrets commented on #360
We have a #concat method for vectors, but it also requires an index.  You can fake it with something like this:

[code]

[2017-06-23 15:25] gnilrets commented on #360
Reread your question and I may have jumped too quickly.  I assumed by stacking you meant concatenation.  But it sounds like you're actually talking about transposing?  But yes, an example of input and expected output would help.

[2017-06-23 16:10] athityakumar commented on #280
@zverok - Here are some pros and cons that I have in my mind regarding this. Feel free to discuss. 😄

##### Pros

- Having the `to_` and `write_` methods distinct actually makes sense for file formats, especially when integrating with a web framework. This is a REALLY HUGE pro. 👍
- Simplifies initialization of daru-io modules, as arguments are now explicitly in a certain format. daru-io developers

[2017-06-24 18:10] info-rchitect commented on #360
Hi,

So here is how I implemented it in my child Dataset class which inherits from Daru::DataFrame.

[code]

Produces this:

[code]

Calling my 'stack' method produces this:

[code]

So it is essentially a way to transpose some columns while grouping by others.  Here is what I do in my stack method (assume the Regexp passed as the arg found 'stack_columns' and the method defaults to using all othe

[2017-06-25 13:03] MitsunChieh opened #361 "Can two vector with numbers combine without nil?"
In https://github.com/SciRuby/daru/blob/master/lib/daru/maths/arithmetic/vector.rb#L65

Two vectors with same index can be added.
But if one vector has the index and the other one doesn't, it will return nil.
Can some other methods just set the nil value as zero, so that they can be added?

[2017-06-25 15:14] zverok commented on #361
@MitsunChieh What's your usecase? Even being the author of the comment in the method, it is hard for me currently to imagine an abastract situation :)

[2017-06-30 09:09] parthm opened #362 "symbols as column headers via symbol_headers=true|false option to from_csv"
While reading a CSV, it might be convenient to optionally have headers be symbols instead of strings. As of now I just read the CSV and convert the convert the headers using the code below.
[code]
This allows us to conveniently access vector content `v[:foo]` and dataframe vectors `df[:bar]` which arguably is a more ruby like way to access values. This is intuitive as symbols are frequently used a

[2017-06-30 14:37] gnilrets commented on #362
You can use whatever header converters you want by options to the standard Ruby CSV parser (http://ruby-doc.org/stdlib-2.0.0/libdoc/csv/rdoc/CSV.html#method-i-header_converters).  Here's one way to get what you want:

[code]

[2017-06-30 14:49] parthm commented on #362
Ah. Perfect. Thanks for pointing it out @gnilrets . I was not aware of that.

[2017-07-03 16:30] v0dro commented on #359
Doesn't make sense to bundle distribution with daru. Close this issue?

[2017-07-03 16:49] v0dro commented on #280
I like @zverok 's idea. @athityakumar you should go ahead with that. Just make sure you document this properly.