[2017-07-03 16:54] v0dro opened #363 "Central place to view all documentation and examples"
Since daru is growing pretty fast, it becomes cumbersome to update all the documentation consisting of comments in the code, notebooks (stored in another repo) and blog posts.

We should probably create a github page for daru `daru.github.io` where all this can exist in a centralized manner. The code docs will be updated from the codebase, blog posts can take the form of articles (or maybe a separ

[2017-07-03 17:20] v0dro commented on #360
What use cases does this method have? Will it be useful to a larger audience of data engineers?

[2017-07-03 17:34] v0dro commented on #361
Maybe you can replace the `nil` values with `0` in the resulting vector using `replace_nils`.

http://www.rubydoc.info/gems/daru/0.1.5/Daru/Vector#replace_nils-instance_method

[2017-07-03 17:34] #361 closed

[2017-07-03 17:36] v0dro commented on #362
I think problem is solved. Closing.

[2017-07-03 17:36] #362 closed

[2017-07-03 19:45] wowinter13 commented on #359
Yea, close this issue.

[2017-07-04 09:38] athityakumar commented on #344
Submitted PR https://github.com/athityakumar/daru-io/pull/28 for XLSX Importer. Please review. 😄

[2017-07-05 10:54] zverok commented on #280
TBH, now when I have time to think, I am not sure about the idea. But now my mind travels as follows:

* `from_something` could (should be treated like the first argument is an _instance_ of something. Examples: instance of a JSON string (`from_json`, with `from_json_string` implied but shortened), instance of an SQL DB connection (`from_db` or `from_sql` or `from_ar`, depending on exact case). We

[2017-07-05 19:38] info-rchitect commented on #360
The general use case is to create many layers of metadata within a single column which can then be used to  create variability charts.  JMP has a dedicated menu option for this table transform if that lends any credibility to the enhancement.  I would be glad to do a PR if someone can at least check the code I posted for any suggestions on speeding it up.  Below is an example of a JMP variability

[2017-07-05 19:53] info-rchitect commented on #363
great idea!  would there be blog posts on using daru with iruby?

[2017-07-06 14:33] parthm commented on #127
It might be worth having an option like `compression : {‘infer’, ‘gzip’, ‘bz2’, ‘zip’, ‘xz’, None}, default ‘infer’` for `from_csv`. This is how [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) handles this. This way even if only `gz` support gets implemented initially, it can be extended to support other formats as well going forward without any API c

[2017-07-06 15:39] v0dro commented on #280
I think the present functionality of `from_` should stay. It has become quite widespread due to talks/blogs/notebooks and will confuse users. The `from_*` methods can be extended to say "give me any object from which I can read data". This object can be the filename or the DB adapter object depending on the importer.

Lets stick to providing the 4 methods for each adapter. If one of them does not

[2017-07-06 15:41] #359 closed

[2017-07-06 15:41] v0dro commented on #363
Yeah. You can see notebooks in the README as an example as of now too.

[2017-07-06 15:43] v0dro commented on #127
I like what @parthm is saying. I think we should use his suggestion for the implementation. @athityakumar can you add this issue to the daru-io repo?

[2017-07-06 16:41] athityakumar commented on #127
@v0dro - Acknowledged. Filed an issue to track this in daru-io. Should `from_csv` redirect to `from_csv_gz` depending on the extension, or would it be better to have a `compression` option?

[2017-07-06 17:22] athityakumar commented on #219
@v0dro - I think this can be closed. 😄

[2017-07-06 17:26] athityakumar commented on #160
I think this issue can be closed, as this has been fixed by PR #334.

[2017-07-06 18:57] v0dro commented on #127
A compression option is better.

[2017-07-06 18:58] #160 closed

[2017-07-06 18:58] #219 closed

[2017-07-10 11:49] info-rchitect commented on #360
What is the consensus on this feature?

[2017-07-10 12:55] info-rchitect opened #365 "Method missing for Vectors"
Hi,

Wonder what people think about allowing Vector method_missing to interrogate the values within it via respond_to? and if so then execute the method.  The use case for me is adding new columns to a DataFrame.

[code]

In the case above it is just getting a substring of Vector with strings in it.  How do folks handle this now?

thx

[2017-07-10 14:37] gnilrets commented on #360
My vote is that it is a useful operation.  Since we already have "pivot" operation, can we call this one "unpivot"?

[2017-07-12 15:21] v0dro commented on #365
You can simply add new vectors to a DataFrame by specifying a new vector name and assigning an Array or Vector using `=`.

[code]

If you assign a Vector to `a[:c]` it will match the indexes with the dataframe and then create the new vector.

[2017-07-12 15:21] v0dro commented on #365
The only constraint is that when you assign an `Array` the length of the array should be equal to the column size of the dataframe.

[2017-07-13 22:36] db579 commented on #337
@gnilrets do you expect csv "booleans" to convert to Ruby booleans or stay as strings? Pandas seems to default to converting to booleans while Daru seems to keep them as strings.

[2017-07-13 23:48] gnilrets commented on #337
I guess if you're using automatic conversion, then yes, they should convert to booleans.

[2017-07-14 10:02] db579 commented on #337
What do you mean by automatic conversion? I just used the standard 'Daru::DataFrame.from_csv(file) and expected that they would convert but it seems they don't.

[2017-07-14 10:21] v0dro commented on #360
@info-rchitect yes I'm also for implementing this issue. Sorry I've been on vacation so couldn't read your comments properly previously.

Regarding the code that you've posted, using the `where` clause in place of `filter_vectors` is much faster. You can then work with the `BoolArray`, and generate the actual vector by passing the `BoolArray` to the `[]` method. Can you try using that and see if t

[2017-07-14 15:16] gnilrets commented on #337
By default Daru uses automatic conversion from the core Ruby CSV reader.  Sounds like it might not be doing so for booleans.

[2017-07-14 15:23] db579 commented on #337
Should I raise an issue for that?

[2017-07-18 02:28] v0dro commented on #337
@db579 works!

[2017-07-18 13:11] db579 opened #371 "From CSV should support automatic boolean conversion"
The Ruby CSV reader doesn't seem to have an automatic boolean converter when reading CSVs and so Daru also doesn't have this. Pandas does it by default and it seems like it would be a handy option to have rather than writing your own block each time.

https://github.com/SciRuby/daru/issues/337

[2017-07-20 15:09] Shekharrajak commented on #342
@zverok , can you please show some examples and expected output ?

[2017-07-20 16:41] #153 closed

[2017-07-22 14:57] zverok commented on #342
@Shekharrajak, I believe that:
1. Creating 1-el MultiIndex should be either impossible (error), or silently converted into just Index
2. Attempt to create MultiIndex with repeating tuples should be prohibited.

[2017-07-22 15:03] zverok commented on #342
E.g.:
[code]
And
[code]

[2017-07-22 16:25] Shekharrajak commented on #342
Thanks! I think for 1st example v2 will be good.

For 2nd example:  I think, it should allow repeating index values. Means in 2nd example `df ` must be :

[code]

So when user want values in index`k`  :

[code]
That means

[code]

not this :
[code]
So that we can access the rows using `df[:a][:k]` , means :
[code]

Is it good idea ? @zverok

[2017-07-22 16:42] zverok commented on #342
I believe, index _by definition_ should be unique (it becames complicated with "category indexes" and I do not feel clearly understanding matters, but generic rule is simple: "index is unique names for rows"). But it is just my opinion.

@v0dro @lokeshh WDYT?

[2017-07-26 13:18] kinnrot opened #374 "[Array] sum of empty array should be 0, currently is nil"
With daru [].sum #=> nil
without [].sum => 0

[2017-07-26 13:21] kinnrot commented on #374
whoops, looks like its in statsample

[2017-07-26 13:21] #374 closed

[2017-07-27 20:09] info-rchitect commented on #365
thx

[2017-07-27 20:09] #365 closed

[2017-07-27 20:11] info-rchitect commented on #360
yes will do, thanks very much.  the PR has been delayed while I get my system admins to install some gems.  stay tuned...

[2017-07-27 20:19] info-rchitect opened #375 "Adding column gets "undefined method 'flatten_columns'" error"
Hi,

I  pivoted a dataframe and now want to add in some columns that were lost in the pivot.  I keep getting an error that I don't understand, any help is appreciated.

[code]

thx in advance

[2017-07-29 12:16] info-rchitect commented on #360
@v0dro the where method seems to work on specified vectors, whereas I would like to filter the dataset based on the name of each vector.  Could you show me an example?

[2017-08-03 12:36] db579 opened #376 "Is it expected that dataframe.row behaves differently for single and multiple index values?"
Dataframe.row gives your result as a new vector if you specify a single row index but as a dataframe if you provide multiple row indexes. Is that expected? Seems inconsistent?

[code]

[2017-08-03 13:10] #371 closed

[2017-08-03 13:34] zverok commented on #375
Hey, sorry for the late response.
Can you please show initial data and entire process?.. I've tried to start from your shown DF, but everything seems to work:
[code]

[2017-08-03 14:39] zverok commented on #376
Yes, it is deliberate inconsistency. Ruby's Array works exactly the same way:
[code]
In simple functionality, we always try to follow Ruby's default collections behavior. For rubyists, it will produce least surprise, even despite the inconsistency.

[2017-08-03 14:39] #376 closed

[2017-08-03 15:19] gnilrets commented on #376
@db579 - Daru a `#to_df` method you can use if you want to ensure that the result is always a dataframe.  `df[:a]` will return a vector, but `df[:a].to_df` will return a dataframe with a single vector.  Likewise `df.to_df` returns `df`, so if you are dynamically selecting vectors and there's a chance you may only select one, it's safe to add `#to_df`.

[2017-08-03 18:05] v0dro commented on #342
Pandas allows repeating values in index. However, since we haven't come across a concrete use case where this functionality is useful, I think there is no need to spend effort on making it happen. We will most likely need to change the underlying data structure for storing the index (its currently a Hash) and making it as fast as a Hash (in pure Ruby) will be a challenge.

[2017-08-04 06:04] v0dro commented on #360
Can you connect them with `and`?

It be something like:
[code]

[2017-08-04 06:45] #220 closed

[2017-08-04 10:24] lokeshh commented on #342
I would argue that most accepted view of index is that it is a data structure that improves the speed of data retrieval operations on a database table at the cost of additional writes and storage space to maintain the index data structure. (see https://en.wikipedia.org/wiki/Database_index)

Also see https://github.com/SciRuby/daru/issues/259#issuecomment-260853948

[2017-08-04 10:37] lokeshh commented on #342
@zverok `CategoricalIndex` is there to deal with duplicate indexes, so I think its fine if we restrict `Index` and `MultiIndex` to be unique but I can't agree with the definition that it should be unique because the widely accepted view of index is

[2017-08-04 10:56] rainchen commented on #170
+1

[2017-08-04 21:38] info-rchitect commented on #375
Hi,

Here is the code I use in my spec tests:

[code]

Thanks for the help!

[2017-08-05 08:00] v0dro commented on #342
Lokesh has a point. However lets put off the uniqueness issue until someone comes up with a concrete use case.

[2017-08-05 15:21] baarkerlounger commented on #242
I think this can be closed given the PR merged above?

[2017-08-05 15:21] baarkerlounger commented on #283
Can this be closed given the PR merged above?

[2017-08-05 15:21] baarkerlounger commented on #341
This is fixed and should be closed.

[2017-08-05 15:22] baarkerlounger commented on #331
This is fixed and should be closed.

[2017-08-05 15:23] baarkerlounger commented on #142
Think this can be closed given the above merged PR.

[2017-08-05 17:27] zverok commented on #375
Hm. I've tried it on latest Daru:

[code]
It have printed this:
[code]
I wonder what am I missing here :(

[2017-08-05 17:30] zverok commented on #342
I don't believe "database index" is a good metaphor here: in this case it should be auxiliary structure, added to dataframe for easier access (and we could have 10 different indexes for different types of access).

Dataframe index is rather an _unique names for the rows_ as far as I can understand, and therefore https://en.wikipedia.org/wiki/Index_(publishing) is better comparison.

[2017-08-06 00:15] athityakumar commented on #349
This has been fixed in daru-io with https://github.com/athityakumar/daru-io/pull/33

[2017-08-06 00:23] gnilrets commented on #342
I'm still struggling with understanding why indexes more complex than sequential integers are really necessary for dataframes.  Ideally, `#where` on a single vector should be as performance as any index lookup, especially since we're restricted to only one index per dataframe.

[2017-08-06 04:36] lokeshh opened #381 "Daru::Vector#to_s doesn't work when name is Symbol"
[code]

[2017-08-06 04:56] lokeshh commented on #342
@gnilrets We cannot increase the lookup performance of `#where` because it costs us additional updates and writes which are expensive. This is the whole point of having an index. Index gives us faster lookup but with an additional cost.

[2017-08-07 12:12] info-rchitect commented on #375
thanks @zverok.  I too am able to run it as a standalone script but when I run the same code within my application in fails.  After scrubbing the source code on Github I foudn the issue.  Somehow, I suspect a find and replace operation ended up changing the 'flatten' method to 'flatten_columns'.  Sorry for the false issue.  Good news is that I will now be able to submit my first PR.

[2017-08-07 12:12] #375 closed

[2017-08-07 15:10] #242 closed

[2017-08-07 15:59] #341 closed

[2017-08-09 00:01] athityakumar commented on #280
@v0dro @zverok - Now that a sample Rails example showcasing daru-io & daru-view is under development [here](https://github.com/Shekharrajak/daru_examples_io_view_rails), I think that `to_format` should simply return a string rather than returning a `Format` object. For example, have a look at [this PR](https://github.com/Shekharrajak/daru_examples_io_view_rails/pull/6/files/22e9df696faf3bdfa72608f

[2017-08-09 09:44] #331 closed

[2017-08-09 09:45] #142 closed

[2017-08-09 09:45] #349 closed

[2017-08-09 09:49] #381 closed

[2017-08-09 11:20] v0dro opened #384 "Port slow parts to Rubex"
Rubex is nearing a phase where it can be used in Ruby gems, and I think a great way to test it would be to port some slow parts of daru to Rubex to speed them up. Which parts are best for porting is to be discussed in this issue.

[2017-08-09 11:48] zverok commented on #384
I recommend to look at [ChunkyPNG](https://github.com/wvanbergen/chunky_png)'s approach, at least at the beginning. Their speed-up extension, [OilyPNG](https://github.com/wvanbergen/oily_png) is distributed as a separate gem, that just replaces some performance-critical methods with compiled ones.

[2017-08-09 13:01] v0dro commented on #384
Interesting!

[2017-08-11 06:50] baarkerlounger commented on #384
I think `.where` would be a great candidate. It's extremely slow on large data sets.

[2017-08-11 06:51] baarkerlounger commented on #351
Think this can be closed given the above merged commit.

[2017-08-11 08:48] #351 closed

[2017-08-11 08:50] v0dro commented on #280
How about `to_format.to_s` returning the `String`?

[2017-08-11 10:20] arbox commented on #384
Just a short question: did anybody conduct systematic profiling for DaRu?

[2017-08-11 11:39] zverok commented on #342
At least, because of "special" indexes (MultiIndex, which is easy to slice by part of tuple, and DateTimeIndex, where you can query the entire year). I believe that notion of Index in the meaning we use it in Daru cames from spreadsheets/accounting, and typical tables looking like

| | Observation1 | Observation2 | Observation 3|
|-|--------------|--------------|--------------|
| **Subject1** | va

[2017-08-11 20:12] athityakumar commented on #280
Hmm, then - all the respective classes would have to be monkey-patched with `to_s` of our convenience (and overriding the existing `to_s` if it exists). For example, `to_csv` returns a `CSV` object whose `to_s` might be different from our need. Wouldn't this be unnecessarily complex? Or, how about just keeping different `to_s` , `to_format` and `write_format` for each Exporter?

`to_s` => String t

[2017-08-12 11:48] v0dro commented on #384
@arbox Not really.

[2017-08-12 11:51] v0dro commented on #280
Yes. The `to_s`, `to_format` and `write_format` approach is good. The `to_s` method will return the same string that will be written to file by `write_format` right?

[2017-08-12 12:03] athityakumar commented on #280
@v0dro - Yes, `to_s` will directly return a string that can be written into the `write_format` file.

[2017-08-12 20:14] athityakumar commented on #280
Um, sorry for not thinking about this one minor issue. Should this `to_s` be available only from `Daru::IO` and not be monkey-patched into `Daru::DataFrame`? If it's to be monkey-patched, maybe something like `df.to_format_s(args)` / `df.to_format_string(args)` will do? If no monkey-patching is required, then something like `Daru::IO::Exporters::JSON.new(df, args).to_s` will do.

@v0dro @zverok -

[2017-08-14 17:27] v0dro commented on #317
@dshvimer any update on this? Are you going to work on `io_spec`?

[2017-08-14 17:46] v0dro commented on #154
@Shekharrajak can you link this issue into your repo?

[2017-08-15 03:31] parthm opened #386 "In Daru 0.1.6 Vector.new([5, 4, 3, 2, nil]).min / max breaks due to nil"
Tried upgrading to Daru 0.1.6 and got the following error:

[code]

Still trying to narrow this down to a smaller workable example. The app works fine with 0.1.5. As it analyzes lots of data I am unsure at this point as to whats causing the issue.

[2017-08-15 04:05] parthm commented on #386
Got this narrowed down to change in behavior of min:
This works with 0.1.5.

[code]

With 0.1.6 this fails:

[code]

[2017-08-15 04:14] athityakumar commented on #386
Acknowledged, @parthm. Thanks for opening this issue. I think this has crept in from a2702d7 - the `Daru::Vector#min` currently calls the default `Array#sort` without checking for `nil`. Changing the `data = @data.data.to_a` to `data = @data.data.to_a.compact` in  `Daru::Vector#min` (and `#max`) should do it, I think.

[2017-08-15 06:23] parthm commented on #386
Thanks for checking the commit @athityakumar . Just tested out max. Looks like this issue impacts max as well.

Daru 0.1.5
[code]

Daru 0.1.6
[code]

[2017-08-15 06:24] parthm commented on #386
Closed due to bad click. Re-opening. Sorry.

[2017-08-15 10:40] v0dro commented on #386
@athityakumar can you send a patch ASAP?

[2017-08-15 10:44] v0dro commented on #280
Just monkey patch `to_format_string` and document it nicely.

[2017-08-16 02:18] athityakumar commented on #386
@v0dro - Sent a patch via PR #387. Please review. 😄

[2017-08-19 14:54] zverok opened #390 "Vector#set doesn't work for Category vectors"
[code]
I believe the reason is category vector, while imitating being the same vector, cleans up `@data` variable. Probably it is not the only broken method for category vectors.

Showcased by https://github.com/SciRuby/daru/pull/388

@lokeshh WDYT?

[2017-08-20 10:07] rainchen commented on #198
how is this going?
Is there an elegant way of updating missing data like pandas fillna function do?

currently I have to do sth like this:

[code]
comparing to `full['Embarked'].fillna('S',inplace=True)`

I'm expecting there is an one-liner solution for daru.

[2017-08-22 06:42] parthm opened #391 "DataFrame#vector_sum should ignore nils"
`Daru::DataFrame#vector_sum` makes the sum `nil` if the row contains a `nil`. It may be worth while ignoring the `nil` entries for sum.

Note that the last row below shows the sum as `nil` instead of `5`.

[code]

`Vector#sum` ignores nil and presents the sum correctly. `DataFrame#vector_sum`  ignoring `nil` would make the behavior more consistent.
`Vector#sum` below ignores the 10th entry which i

[2017-08-22 06:56] parthm opened #392 "Empty DataFrame creation"
Is there a way of creating an empty DataFrame? Not sure if my understanding of DataFrame is limited here. If not, it may be good to create an empty DataFrame with `DataFrame.new`. The use case for this is when you want to create an empty DataFrame and add columns from multiple data sources. Something like below

[code]

Currently `DataFrame.new` fails with the below error:
[code]

At the moment I

[2017-08-22 11:42] zverok commented on #392
TBH, this example:
[code]
...doesn't looks like a pretties Ruby code possible to me; and I am not sure that creation of row-less and column-less DataFrame is really semantically meaningful... Though, creation of empty dataframes should be definitely simplified.

[2017-08-22 14:14] parthm commented on #392
@zverok , yeah, probably the code can be better. I was merely using that as a use case of why we might need an empty `DataFrame`.

Looking into the source code, I realized that empty DataFrame is already supported. The approach is:

[code]

It would be a nice enhancement to have `Daru::DataFrame.new` be equivalent to `Daru::DataFrame.new({})`. Seems more discoverable. Thoughts?

[2017-08-23 04:48] zverok commented on #392
Aknowledged.

[2017-08-24 19:46] v0dro commented on #198
@lokeshh?

[2017-08-24 21:18] tramuntanal opened #393 "Matrix.column_count returns nil after require 'daru'"
The bug appears in two forms.
1. If the Matrix was created before requiring 'daru' `colum_size` doesn't work:
[code]

2. If the Matrix is created after requiring 'daru' `colum_count` doesn't work:
[code]

I can't find any reference to `#column_count` or `#column_size` in the Daru code.

[2017-08-25 03:19] lokeshh commented on #198
See http://www.rubydoc.info/gems/daru/Daru/DataFrame#replace_values-instance_method

[2017-08-25 03:37] lokeshh commented on #390
@zverok Yes, `:set` method is missing for category vector. We have to fix this.

[2017-08-25 11:07] zverok commented on #393
Aknowledged. It is nasty bag, caused by [backports](https://github.com/marcandre/backports) gem requireing. Unfortunately, it is not that easy to fix: backports required not only in daru itself, but also in `packable` gem, required by `nmatrix`. I've did a [PR](https://github.com/marcandre/packable/pull/9) to packable, but I am not sure when it could be merged :( Only after that we can proceed wit

[2017-08-26 15:40] Ronaq13 commented on #386
If it is not fixed in previous patch, then I would like to take this bug.
I am a newbie, can you please guide.

[2017-08-27 02:22] parthm commented on #391
Looking into the tests, there seems to be a [specific test](https://github.com/SciRuby/daru/blob/4879ff3bd2c863c7a874e7064b87363a6347473c/spec/dataframe_spec.rb#L3194) to ensure that the sum is `nil` if the row contains any nils. So, I assume this is intended behavior at least for some use cases.

It may be worth going the [pandas.DataFrame.sum](https://pandas.pydata.org/pandas-docs/stable/generat

[2017-08-27 09:25] #392 closed

[2017-08-27 09:26] v0dro commented on #198
@sunderwood if your issue is resolved can you close this ticket?

[2017-08-27 09:27] v0dro commented on #393
Issue has been solved by removing backports dependency.

[2017-08-27 09:30] v0dro commented on #391
Works. I like approach with flags.

[2017-08-27 09:49] zverok commented on #393
Ugh. We can't mark this issue as a resolved. I should've mark corresponding PR as WIP, sorry :(
The problem describe in this comment:

I provided a PR to original `packable` repo, and it was merged, but only after that I've noticed that SciRuby have taken over packable.

So, the course of actions are:
* update `packable` gem according to https://github.com/marcandre/packable/pull/9
* release it;
*

[2017-08-27 17:16] v0dro commented on #393
If you can submit that PR to sciruby/packable I can merge it and release a new version.

[2017-08-27 19:30] zverok opened #397 "Improve docs and specs for `which`"
Follow up of https://github.com/SciRuby/daru/pull/396, will do myself, just not to forget.

[2017-08-27 19:39] zverok commented on #393
Done the PR to SciRuby/packable.

[2017-08-27 22:34] baarkerlounger commented on #360
I'm thinking this would be better (@info-rchitect your use case in particular) if the default were that indexes were grouped by and columns transposed. So `unit` and `oper` would need to be indexes in your case.

[2017-08-28 07:32] v0dro commented on #328
@kou do you think we should leapfrog to using Apache Arrow Tensor directly for internal storage? I am seriously considering an overhaul of the daru storage infrastructure given the speed bottlenecks caused by creation of Ruby objects.

If it can be done in a transparent and dependency-free manner, can you please elaborate on how we can proceed for implementing this in daru?

[2017-08-28 07:38] v0dro commented on #328
@mrkn if you have experience with arrow can you please shed some light on this?

[2017-08-28 07:55] zverok commented on #318
Newly released [yard-junk](https://github.com/zverok/yard-junk) YARD docs checker tool says on current codebase:
[code]

Problems should be fixed, and `yard-junk` integrated into CI.

[2017-08-28 12:05] v0dro opened #399 "Integrate yard-junk into CI."
The yard-junk gem identifies docs that are using outdated syntax. Use of this gem will tell us where it is outdated.

Reference:
https://github.com/SciRuby/daru/issues/318

[2017-08-28 12:08] #204 closed

[2017-08-28 12:40] kou commented on #328
daru can use NMatrix or Numo::NAarray for internal object.
Red Data Tools project provides libraries to convert them with low cost via Apache Arrow:

* [Red Arrow NMatrix](https://github.com/red-data-tools/red-arrow-nmatrix) provides `NMatrix#to_arrow` and `Arrow::Tensor#to_nmatrix`.
* [Red Arrow Numo::NArray](https://github.com/red-data-tools/red-arrow-numo-narray) provides `Numo::*#to_arrow` and

[2017-08-28 17:27] sunderwood commented on #198
The function that @lokeshh referenced does not fully satisfy my request. I would like to be able to "roll" values forwards or backwards. For example, using the replace_values function example I would expect a `fillna(:forward)` to result in:

[code]
and a `fillna(:backward)` to result in:

[code]

[2017-08-28 23:01] baarkerlounger opened #402 "Nyaplot uses index as default axis for vector but not for dataframe"
[code]
[code]
Throws `NoMethodError: undefined method `to_sym' for nil:NilClass`

I would expect it to behave like `Daru::Vector` and take the index as default axis.

[code]

[code]

![image](https://user-images.githubusercontent.com/5101747/29797112-40565c86-8c4d-11e7-9b9d-6bd8f21b9d57.png)

[2017-08-29 13:12] v0dro commented on #198
Ah. Interesting. Will keep this open.

[2017-08-29 16:25] zverok commented on #198
@sunderwood Just curious: what's real-life usage for this "rolling"?..

[2017-08-29 18:49] sunderwood commented on #198
One use is financial data.
A simple example is in order to display a stock's value for every day in a year (including weekends and other non-trading days), existing values would need to roll forward over those dates that don't have data. This accurately represents what the value was on any given date even if the stock wasn't traded.

A more complex example is when running multivariate regressions

[2017-08-30 19:47] IsmailM opened #404 "Please do not show the Install optional dependencies message everytime on runtime"
I'm using StatSample in GeneValidator - a CLI tool for validating gene predictions... We are using a single feature in StatSample - the Wilcoxon Test...

StatSample depends on Daru - hence this issue here...

Each time anyone runs GeneValidator Command line tool, they see the following messages:

[code]
That confuses people. Especially since GeneValidator does not need any spreadsheet or mechanize

[2017-08-30 19:57] zverok commented on #404
@IsmailM Please, a small bit of patience :) We are finishing daru-io, accompanying gem which encapsulates all import/export functionality, and it behaves much more accurate (e.g. prints those messages only when you _really_ try to use some of this functionality). I believe not later than in a 2-3 weeks we'll do a great update on Daru.

Of course those messages are an extremely bad idea, it is just

[2017-08-31 07:13] rainchen commented on #404
I had the same issue, I "fixed" it in this way:

[code]

[code]
nasty but works...

[2017-09-01 21:44] zverok opened #405 "Follow-up of GSoC: remove obsolete parts from main gem"
1. I believe after release of `daru-io` there should be a period of cleaning up `daru` of duplicating things (importers and exporters), and related outdated stuff, like mentioned here: https://github.com/SciRuby/daru/issues/404
2. I believe `daru-io` should be hard dependency for `daru` (like `rspec` installs `rspec-core`, `rspec-expectations` and so on) -- maybe in future with extraction of `daru

[2017-09-01 21:48] zverok commented on #405
Probably, the work should be done on some `daru-1.0` branch, and (as GitHub allows it) PRs on the road should be merged there, not in master?.. Or master would became our moving target, and `stable` branch should be maintained for current bugs fixing/small enchancements.

[2017-09-01 21:59] athityakumar commented on #405
Since it's usually an understanding that `master` (or default branch) is usually the stable branch, I feel that it'd be better if we continue on `daru-1.0` branch. Regarding the port of daru-io, I'd definitely like to contribute in removing obsolete IO parts from daru. A few pointers related to this porting :

- IMO, `#save` and `#load` methods are better suited to reside within daru.
- All other

[2017-09-01 22:06] zverok commented on #405
:+1:

:+1:

:+1:

:+1:

:+1:

Looks like we are on the same page currently :)

[2017-09-02 11:39] baarkerlounger commented on #391
Think this can be closed now the above PR has been merged?

[2017-09-02 11:42] #391 closed

[2017-09-02 11:46] zverok opened #406 "Remove post-install message"
Post-install messages are bad taste, and should be used ONLY for notifying about breaking changes (like "You are installing Daru 2.0, for porting from Daru 1.0 look at instructions [here]"

[2017-09-02 12:00] zverok opened #407 "Preserve keys order, when initialized by hash"
[code]

I don't believe it follows POLS.

[2017-09-02 14:45] Shekharrajak commented on #342
I think if if indexes are not unique then `Daru::Index` must automatically go to the `Daru::CategoricalIndex` like how `Daru::Index` returns `Daru::MultiIndex` when tuples are passed.

Means

[code]

Isn't good?

[2017-09-02 15:21] Shekharrajak commented on #405
`daru` uses Nyaplot, Gruff plotting libraries. `daru-view` uses Nyaplot (same as `daru` but it is able to generate html code) , HighCharts, GoogleCharts for plotting.

So if we want to shift the whole plotting libraries to `daru-view` then we need to shift the Gruff library to daru-view (without any change) and need some changes in daru-view/nyaplot module.

I will try to do this part of work.

[2017-09-02 19:48] #407 closed

[2017-09-03 05:33] Shekharrajak commented on #342
I am using Categorical Index when there is only one lavel, labels left, see :  https://github.com/SciRuby/daru/pull/340/files#diff-df0c816a5a6b82ab4d961bf9d1a0acbfR248

[2017-09-03 13:12] baarkerlounger commented on #198
@sunderwood now that the above PR has been merged can you see if your issue is resolved?

[2017-09-03 13:48] parthm commented on #405
@zverok looks like a good plan. I would be glad to help on some pieces as time permits.

Since this is toward v1.0, it may be worth reviewing Daru API for consistency. As 1.0 is a major version I would think it would be significantly more difficult to make any API adjustments post 1.0. Two examples that come to mind are the discussion on to/from-read/write on issue #280 and the inconsistency betwe

[2017-09-03 13:58] parthm commented on #405
Just too keep track of another API proposal discussed, issue #131 talks about changing #dv to #to_daru_vector.

[2017-09-03 14:05] parthm commented on #386
@Ronaq13 , thanks for the offer to help. It's much appreciated. Since, @athityakumar is already made significant progress on this, may I suggest something else like issue #397 or #156 ? I am sure folks will be happy to help as needed. You could discuss your proposal on these (or any other) specific issues and submit a PR if there is consensus on the approach.

[2017-09-03 17:19] zverok commented on #405
Nice to hear that!

Yes, it would definitely a **huge** review. As @v0dro officially made me the maintainer, I am planning a Big Autumn Cleanup for a huge part of our ancestry :trollface: Hold your hats.

We have `deprecate` API (which marks methods as deprecated and prints warnings), but to that point never removed anything deprecated. Probably, it is a good point to explicitly set the policy (an

[2017-09-03 19:21] zverok commented on #405
To be honest, current preferred by community (outside Rails one, ofc) Ruby style is "avoid monkey patches of core classes if only possible". I believe we'll follow this rule in 1.0

[2017-09-05 09:15] Ronaq13 commented on #156
I would like to take this up. Thanks for referring.  @parthm

[2017-09-05 12:08] zverok opened #410 "Proper install instructions in README"
Follow-up of https://github.com/SciRuby/daru/pull/403:
* mentioning of usage with Bundler (OK, it is obvious, but `gem install daru` also obvious);
* mentioning of optional requirements and their installation (this is pretty important and could be tricky), and activation; and when you need them.

[2017-09-05 13:37] v0dro commented on #406
Ok. I kinda like the beer mug though :P

[2017-09-05 13:47] athityakumar commented on #406
@v0dro - Me too. It was one of the "crazy inspirations" that made me interested in daru even without looking at the codebase. An impressive first impression, if you will. I was about to add it to daru-io too, but with a straw in the beer mug symbolizing the Import / Export of Daru. 😄

Sad reacts only. 😢

[2017-09-05 13:49] v0dro opened #411 "Design new daru release policy"
A formal 'release policy' will concretely state the rules and regulations that our community will follow when releasing new versions of daru and its plugins. It will clearly state the version numbers that permit breaking changes and when will user code require an overhaul due to version updates.

[2017-09-05 13:58] v0dro commented on #405
Also, I think the next version (after the great cleanup) should be `0.2` not `1.0`. We'll release 1.0 once the data storage issue is sorted out: https://github.com/SciRuby/daru/issues/328

[2017-09-05 15:47] zverok commented on #405
Well, you are the boss, but I believe with current usage, number of GitHub stars, and so on and so forth -- the new version with seriously updated docs, removed deprecations, new importers/exporters, ... well, I really believe it could be called The One-Point-Oh.

As about #328 -- I am not sure that it should become the main implementation of Daru. Because Daru is useful also as a small, easy-to-i

[2017-09-05 15:53] baarkerlounger commented on #405
I guess the outcome of this version numbering should be part of the 'release policy' - personally I like have x.y.z with x number bumps being used only for breaking changes that will require user code to change, y being bumped for new features, z being used for bug fixes only.

That way users can have consistent expectations about behaviour from the numbering. So I think 0.2.0 or 1.0.0 should depe

[2017-09-05 17:02] v0dro commented on #405
Hmmmm yes @baarkerlounger is right. @zverok I don't think there will be too many breaking changes due to the cleanup given that we're essentially only moving out the IO and view methods, right?

About the data storage, I think it will probably be a plugin which will over-ride all core daru functionality once required.

[2017-09-05 17:03] v0dro commented on #406
@zverok alright.

[2017-09-05 17:05] baarkerlounger commented on #405
I also think there should be another release when the currently open PRs are merged.

[2017-09-05 17:24] parthm commented on #405
Based on autumn cleanup review @zverok mentoned in an earlier note, if we have API consistency being handled in this release, labeling it 1.0 might make sense. In case it's only internal cleanup I suppose we could call it 0.2.

Just to cast my vote here, this approach makes sense IMHO. It makes it very easy to get started with Daru. Having a huge install by default can sometimes be painful. I had

[2017-09-05 17:32] parthm commented on #411
Perhaps the release policy could also consider having some sort of a pre-release (RC?) for a week or two before the final. This would allow some of the active Daru users to try Daru on their apps and report any issues found before any final release. Case in point would be #386 (min/max break) which is serious enough to prevent an upgrade to 0.1.6. Eagerly waiting for 0.1.6.1 (0.1.7?) :yum:

[2017-09-05 18:08] baarkerlounger commented on #411
I would suggest we adopt this as our release policy http://semver.org/ from now on for versioning (Next new feature would be 0.2.0, next bug fix would be 0.1.7, big code cleanup can become 1.0.0 if it's decided API has changed and/or is being considered the first really stable release).

I would suggest we try to do releases more often also (happy to do this but think I would need elevated Repo pe

[2017-09-06 06:12] zverok commented on #411
@baarkerlounger sounds pretty reasonable for me :+1:

[2017-09-06 06:21] zverok commented on #405
Well, my idea of the cleanup (described in original issue) is:
* move out IO/view
* it already will introduce some changes and **most probably incompatibilities, therefore**...
* remove what was deprecated for a long time
* go through all unmerged PRs, unfinished issues and style and fix it

So, I've meant that splitting out daru-io is a BIG move, and it could be a reason for dropping the outdated

[2017-09-19 08:26] baarkerlounger commented on #411
Can this be closed given the above is merged?

[2017-09-19 09:47] #411 closed

[2017-09-19 19:46] matugm commented on #402
Full stacktrace for reference:

[code]
The `nil` value is coming from `options[:x]` being `nil` since it's not set when calling the `plot` method.

[2017-09-21 18:34] info-rchitect opened #415 "Add_row with multi-index"
Hi,

I am trying to add a row of data to a DF with a multi-index and cannot figure out why this doesn't work.  Any help is greatly appreciated.

[code]

thx

**EDIT**

I tried using the same multi-index to edit an existing row and it worked just fine but the add-row method doesn't seem to like a similar index passed as an Array.

[code]

Does anyone have an example of adding a row using a multi-in

[2017-09-24 20:20] baarkerlounger opened #416 "Possible to use where clause with regex or string search?"
[code]

Looking to do something along the lines of `df.where(df[:y1].contains('action'))`

Pandas has `df['y1'].str.contains('action')`

My current workaround looks like:

[code]

[2017-10-02 09:26] zverok commented on #415
Thanks for the reporting! Fixed in https://github.com/SciRuby/daru/pull/418. Until it is merged and released, you can just use (with the same effect, yet working):
[code]

[2017-10-02 09:33] #415 closed

[2017-10-02 11:38] info-rchitect commented on #415
thanks @zverok !

[2017-10-03 18:42] zverok commented on #416
You can use more Ruby-idiomatic `filter(:row)`:
[code]
This idea of bool arrays was borrowed from pandas, but it would be probably retired in future, in favor of more idiomatic ways.

(Though, I should say that `filter` currently is slower)

[2017-10-03 18:42] #416 closed

[2017-10-04 19:47] baarkerlounger commented on #416
The bool array has the advantage of being easy to `&`/`|` with other filtering/slicing methods. Neither version seems particularly nice compared to the Pandas way though.

[2017-10-04 21:39] zverok commented on #416
Hm. Can you please show how pandas is more powerful? For me it looks like natural Ruby's blocks can do _everything_ (just can be pretty slow on it)

[2017-10-04 21:45] baarkerlounger commented on #416
I'm not saying more powerful necessarily but I think nicer to work with (and performance). Compare:

Pandas: `df_filtered = df[(df['y1'] == 'Movie') & (df['y2'].str.contains('Action'))]`
Daru: filtered = `df.where(df[:y1].eq('Movie')).filter(:row) { |r| r[:y2].include?('Action')}`

The first example to me it's more readable my filter has 2 conditions.

[2017-10-05 11:23] zverok commented on #416
[code]
...just like you'd filter your usual arrays.

[2017-10-07 10:33] baarkerlounger opened #419 "Delete duplicates method"
As an enhancement it would be useful to have a delete duplicates method like http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.drop_duplicates.html that lets you optionally specify a column to consider.

[2017-10-08 03:20] v0dro commented on #405
Yes I agree. @zverok do you plan to work on this?

[2017-10-08 13:31] zverok commented on #405
Right now sitting and looking into the large file with a plan :) Will publish today or tomorrow's morning!

[2017-10-08 14:46] baarkerlounger opened #422 "Merge on non default index drops index values"
[code]

[2017-10-08 20:56] zverok commented on #127
Closing as related to (and implemented in) daru-io

[2017-10-08 20:56] #127 closed

[2017-10-08 20:58] zverok commented on #138
Closing in favor of daru-io

[2017-10-08 20:58] #138 closed

[2017-10-08 21:00] zverok commented on #143
(Adding to milestone, needs reconsidering in a common flow of cleanup)

[2017-10-08 21:03] zverok commented on #155
(Adding to milestone, to be merged into "extract parts to daru-view", and then closed)

[2017-10-08 21:29] zverok commented on #344
Implemented in daru-io

[2017-10-08 21:29] #344 closed

[2017-10-08 21:38] zverok opened #423 "Transition to daru-io"
Should be done in `daru-1.0` branch:

1. `daru-io` becomes hard dependency for `daru`
2. All `Daru#from_something` and `Daru#to_something` functionality should be removed from `daru` gem, alongside with corresponding dependencies and tests.
3. Documentation on import/export should explain clearly where to look for importing and exporting data.
4. Make sure no functionality (even minor/outdated) wi

[2017-10-08 21:42] #386 closed

[2017-10-08 21:44] #152 closed

[2017-10-08 21:49] zverok opened #424 "Remove monkeys.rb"
Currently, in community this kind of monkey-patching is considered a bad practice. And, in fact, `[1,2,3].to_dv` is not THAT shorter than `Vector.new([1,2,3])`, while the latter is definitely clearer.

[2017-10-08 21:50] zverok commented on #131
Closing in favor if #424

[2017-10-08 21:50] #131 closed

[2017-10-08 22:37] zverok commented on #405
I've created branch `v-1-pre` targeting all "big" (e.g. incompatible) changes and [GitHub issues milestone](https://github.com/SciRuby/daru/milestone/1).
The latter is NOT complete currently (I am still reviewing through all we have).

As for myself, I am planning currently to work on updating specs (and making a list of methods to deprecate/redesign), and if evrybody is OK with it I'll work just

[2017-10-08 22:40] baarkerlounger commented on #405
@zverok why no PRs? Will end up with a potentially huge branch to review?

[2017-10-08 22:46] zverok commented on #405
@baarkerlounger because I am planning mostly to do "maintenance" tasks (change minimal Ruby version, facelift code style here and there and so on), and also gradually update specs between that, it would be work-in-progress of preparation of Big Release. It would be iterations like "look at Index, fix specs, discuss possible deprecations, fix a bit more specs, cleanup some method" and so on.

(And

[2017-10-09 11:11] zverok opened #426 "Dataframes to play with"
When new user tries Daru (or old user tries to quick-experiment "how _this_ is done"), it is a bit tiresome to create new DF from scratch, especially with multi-index, different data types and stuff.

So, it looks reasonable to have several sample DFs included with the library. Like this:
[code]
...or something like that. Ideally, it should be also easy to see "what samples we have, and what are t

[2017-10-09 15:42] info-rchitect opened #427 "DataFrame seems to be trying to evaluate string equations"
Hi,

I am adding columns into a DataFrame where the values are Excel equations.  When I look at the Vector I am going to add, it all looks correct when the new column is added to the DF.  However immediately after I add the new Vector, the DF shows the data to be all set to nil.

thx

[code]

[2017-10-09 17:04] zverok commented on #427
Could you please try to provide self-contained example I can run locally? (And no, Daru never evaluates string equations)

[2017-10-09 17:19] info-rchitect commented on #427
Hi @zverok OK so I played around a bit more and yes it isn't the formulas that are causing an issue.  If I just assign a value of "5" I get the same issue.  I will try to construct a very simple example, with multi-index, that replicates the issue.

[2017-10-10 02:24] parthm opened #428 "Remove block handling in DataFrame.from_csv"
Based on the discussion on  #413 we should probably remove (currently incomplete) support for block handling in `DataFrame.from_csv`. This would possibly need documentation updates and update of code where `&block` is passed.

[2017-10-10 02:28] parthm commented on #308
Can we close this (based on discussion on #413)? #428 has been filed removal of block support.

[2017-10-10 17:01] info-rchitect opened #429 "Loss of DF multi-index when joining a DF without multi-index"
Hi,

I am seeing a multi-index DF lose its multi-index (goes to 0,1,2,3...) when doing a left join with a DF without a multi-index.  Is that the expected behavior?

[code]

thx

[2017-10-10 19:37] zverok commented on #428
It is more for @athityakumar and daru-io, but yes, we need to remember it.

[2017-10-11 18:33] info-rchitect commented on #422
@rohitner can you please check if your fix will fix this [bug](https://github.com/SciRuby/daru/issues/429)?

[2017-10-11 18:52] zverok commented on #429
I believe it is a bug, but can you please provide a self-containing example for easier reproduction?

[2017-10-13 10:01] athityakumar commented on #405
I've submitted PR #430 to port IO modules away from daru, please review. (I'll resolve the merge conflict along with review changes) 😄

[2017-10-13 11:31] info-rchitect commented on #429
@zverok sorry for the delay, will get to this today.

[2017-10-14 13:15] info-rchitect commented on #429
OK here we go:

[code]

In reality, it seems like any join between a multiindex DF and any type of indexed DF results in a Daru::Index DF.  I believe this is related to the [merge issue](https://github.com/SciRuby/daru/issues/422).

[2017-10-15 20:47] zverok opened #432 "Request for discussion: Index unicality"
cc @v0dro @lokeshh (and everyone who is interested in Daru future are welcome! especially guys who use Daru in complicated production tasks, @info-rchitect? @genya0407?)

What we have now:
* `Index` may have only unique values;
* `CategoricalIndex` may have non-unique values.

Now:
* "Intuitively", Index (which is "labels" or "axis" for our data) should _always_ be unique, any other behavior doesn

[2017-10-16 07:02] baarkerlounger commented on #422
Believe this can be closed now the above has been merged and possibly #429 also.

[2017-10-16 12:56] info-rchitect commented on #432
@zverok I agree with your statement on index uniqueness, intuitively they should always be unique.  It would be helpful to see the pandas spec tests for such a non-unique index.  it would seem to be a drastic and huge leap to change to non-unique indices.

[2017-10-16 18:44] zverok commented on #429
Please check if it works on current `master` should be solved by #431

[2017-10-16 18:45] #422 closed

[2017-10-16 19:02] athityakumar opened #434 "Add runtime dependency on daru-io"
Currently, `daru` is a runtime dependency of `daru-io` and `daru-io` is just added as a development dependency of `daru` in PR #430 to remove the infinite loop in bundle installing. Before `daru-1.0-pre` is released, `daru-io-0.1.1` has to be released and this change has to be made.

I just wanted to note this down as a to-do, in the v-1-pre milestone.

[2017-10-16 19:34] zverok commented on #211
@kozo2 Sorry for returning to the topic afert a such long time, but can you please explain what is the use case of `pandas.Index.isin`? And am I correct that it returns array _the same size as index_, responding to question "if `i`-th index value included in list provided?" It sounds a bit like "backwards logic" for me.

[2017-10-16 20:54] info-rchitect commented on #429
@zverok I am still seeing the join method turn 2 DFs with multiindex into a single index but my example perhaps is not the best due to the fact that it looks like daru is actually 'optimizing' away the multi-index.

[code]

Is this intended behavior?  I will try to find a better example where the pre-join index cannot be flattened to be the same as the post-join index.

[2017-10-16 21:19] tramuntanal opened #435 "Subsampling many data structures at once"
Hi,

In python's scikit-learng there's a resample util to subsample the same random elements in many data structures at once, i.e. extract the same random indexes from the data structures:
http://scikit-learn.org/stable/modules/generated/sklearn.utils.resample.html#sklearn.utils.resample

Is there some equivalent in Daru or one library that can be used for this purpose?

[2017-10-17 03:08] baarkerlounger commented on #432
I also think indexes should be unique and it seems weird Pandas allows that. To me that's what categorical indexes are for. For the use case of importing dirty data from csv we now have the `.uniq` method on dataframe for cleaning duplicate values.

[2017-10-17 03:45] lokeshh commented on #432
Use cases for categorical index:

1. When you want constant time lookup with a column that's non unique

2. Since we have daru-io integrating web databases with data frames, index
uniqueness is not a restriction on databases. Imposing it on data frames
would be a problem.

On Oct 17, 2017 8:38 AM, "Daniel Baark" <notifications@github.com> wrote:

[2017-10-17 11:00] zverok commented on #435
Unfortunately, Daru is not that mature to the moment :(

[2017-10-17 11:24] zverok commented on #432
@lokeshh

But what is _logical_ use case here? I don't believe "design, driven by optimization" is really a good thing.

uniqueness is not a restriction on databases. Imposing it on data frames
would be a problem.

Our index is "axis labels", nothing in common with DB index (which is access optimizer), and we don't import indexes from DB.

[2017-10-18 09:25] baarkerlounger opened #436 "What's the use case for `collect_matrix`"
It's unspec-ed so hard to be sure of it's intended behaviour and use case. We already have a 'to_matrix` method so it's not that.

[2017-10-18 20:38] lokeshh commented on #432
How about a vector where data value is country name and index is the
continent these countries belong to? If we restrict index to be unique, we
won't be able express this vector.

On Oct 17, 2017 4:54 PM, "Victor Shepelev" <notifications@github.com> wrote:

[2017-10-18 20:58] zverok commented on #432
@lokeshh but what would be physical meaning of this vector?
By definition, a vector is an ordered list of values; and the index is an _axis labels_ for this values. Each label corresponds to exactly one value (or exactly one row in dataframe case). `MultiIndex` adds label clustering, `DateTimeIndex` adds slicing by time periods, but both preserve the invariant of "each value has its own label".

W

[2017-10-18 21:07] gnilrets commented on #432
Why wouldn't you just use a two-vector dataframe to represent the continent-country situation?

[2017-10-18 22:06] lokeshh commented on #432
Do you agree that index is a way to label data? If so then this vector can
be thought of as a set of countries labeled by continents. Now why should
we restrict labeling to be unique?

On Oct 19, 2017 2:37 AM, "Sterling Paramore" <notifications@github.com>
wrote:

[2017-10-18 22:36] zverok commented on #432
To **provide axis labels**, not to label any data with anything.
Unless you'll show some real use case (with code, preferably), not theoretical one "we can say that apples are labels for oranges, how Vector handles this?"

[2017-10-18 23:00] baarkerlounger commented on #432
Shouldn't the country/continent case be a categorical index? The continent is a category that can have multiple values...

[2017-10-18 23:16] gnilrets commented on #432
I still don't understand why we need the index to represent anything.  It really seems to me that an integer index would work and be far simpler to implement.

What can you accomplish with an index that represents meaningful data (like continent) that you can't accomplish with a 2-vector dataframe?

Certainly there will be some syntax differences: e.g., `myvec['europe']` vs `mydf.where[mydf['count

[2017-10-19 09:04] lokeshh commented on #432
Hands down. Let's go for index uniqueness. It doesn't restrict any use case
functionally but just a theoretical restriction for me which isn't such a
big deal I guess.

On Oct 19, 2017 4:46 AM, "Sterling Paramore" <notifications@github.com>
wrote:

[2017-10-19 19:08] zverok commented on #432
Thanks everybody! Let it be so.

[2017-10-19 19:08] #432 closed

[2017-10-19 19:22] zverok commented on #429
Well, in fact, currently:
* join does NOT preserve index (because in general case, two joined dataframes can have different indexes, how'd you preserve them?)
* ...and just provides "default" index.

I have a _suspicion_ that the most reasonable behavior would be "make join columns an index", but not sure it should/would/can work (see "duplicate index discussion" here ;)).

Anyways, I am pretty su

[2017-10-19 19:25] zverok commented on #436
I believe we'll just drop it on ver.1. ¯\\\_(ツ)_/¯
Thanks for pointing it out.

[2017-10-19 19:25] info-rchitect commented on #429
@zverok if two dataframes have the same index shouldn't the index be preserved?

[2017-10-19 19:31] zverok commented on #429
But why it should?
Logically, "joining" is merging of _different_ data sources: people (indexed by name) join departments (indexed by id), books (indexed by isbn) join authors (indexed by name)...
What is the real-life use case for two dataframes that should be joined, but have the same index?

[2017-10-19 19:36] info-rchitect commented on #429
@zverok so let's say my multi-index is [:work_week, :factory] and i pull yield data from one database and I pull volume forecast data from another database that uses the same multi-index of [:work_week, :factory] and want them to be joined.  why should I lose the matching multi-index on the subsequently created dataframe?

[2017-10-19 19:45] zverok commented on #429
By which column you join them, then?

[2017-10-19 20:00] info-rchitect commented on #429
those 2 columns.

[2017-10-19 20:01] zverok commented on #429
So, you join them on _index_?

[2017-10-19 21:07] tramuntanal commented on #435
I'm doing a mini Deep Neural Nework framework in Ruby to learn how this frameworks work.
I have implemented a Resampler just for my needs:
- [https://github.com/tramuntanal/MiniFlowRb/blob/master/lib/mini_flow/resampler.rb](https://github.com/tramuntanal/MiniFlowRb/blob/master/lib/mini_flow/resampler.rb)
- And the corresponding spec: [https://github.com/tramuntanal/MiniFlowRb/blob/master/spec/mini

[2017-10-20 01:05] #419 closed

[2017-10-20 11:05] athityakumar commented on #399
Thanks for working on this, @rohitner. I think this issue can be closed now.

[2017-10-20 11:17] athityakumar commented on #423
1. Documented as a to-do in issue #434
2. Taken care of, by PR #430 (yet to be merged)
3. Would it be enough to include something like [this](http://www.rubydoc.info/gems/daru-io/Daru/DataFrame) in daru's YARD docs?
4. I think there has been no lose (Except the Marshal methods, as suggested in PR #430). Any suggestion for interface changes?

[2017-10-20 11:20] athityakumar commented on #318
A quick aside : Should the YARD doc markup be set as `markdown` with `redcarpet` as provider? This is how it currently is setup in daru-io, and contributors would feel more at home by seeing the more familiar markdown comments.

[2017-10-20 11:50] zverok commented on #318
Please don't touch this ticket, I am on it during specs refactoring.
But answer to your question: It definitely would be `markdown` with `kramdown` provider (faster, more robust, has more features than redcarpet).

[2017-10-26 12:06] Kamalpaneru opened #437 "Inconsistency of parentheses in method parameters"
I was just looking at some parts of the code and found inconsistency. Is this intentional?? <br>
 lib/daru/vector.rb

![each_index](https://user-images.githubusercontent.com/13826932/32051828-e1a264c6-ba75-11e7-8a78-8558fe468fdf.jpg)
![each_with_index](https://user-images.githubusercontent.com/13826932/32051838-eb1b7aa6-ba75-11e7-957f-dd6b872a1a83.jpg)

[2017-10-26 12:15] zverok commented on #437
@Kamalpaneru that's how it is historically.
Is about to be fixed on the road to 1.0 (see v-1-pre branch).

[2017-10-26 12:15] #437 closed

[2017-10-26 12:19] Kamalpaneru commented on #437
Great!! You guys are doing some awesome work... Keep up the great work :+1:

[2017-11-03 09:14] IdeoConcepts opened #438 "Error when using Group by with single row Data Frame"
Hi,

With Daru v0.2.0, it seems that if the DataFrame has only one row, the group_by method will fail with "ArgumentError: Can't create DataFrame from xx" error.

Example:
[code]
Whereas a multi rows DataFrame will be fine.
[code]
Many thanks

[2017-11-03 18:38] baarkerlounger opened #439 "V0.2.0 release changelog"
https://github.com/SciRuby/daru/releases has no changelog for V0.2.0

[2017-11-03 19:09] baarkerlounger commented on #438
A group_by on a single row dataframe should just return that same dataframe right?

[2017-11-06 21:13] zverok commented on #439
Hm. Indeed. Dumb question: how is that filled? Never used this GitHub feature. @v0dro? Should've I write that before the release or what?

[2017-11-06 21:32] athityakumar commented on #439
@zverok - It's supposed to be written after the release. You must be seeing a "Edit release" button on the releases page - you've to copy-paste the changelog part for v0.2.0 there.

[2017-11-07 22:34] zverok commented on #439
https://github.com/SciRuby/daru/releases/tag/v0.2.0 Here we go. Thanks for reminder!

[2017-11-07 22:34] #439 closed

[2017-11-11 12:02] zverok commented on #405
JFYI: not sleeping. Started to refactor specs & docs, which somehow leaded to HUGE lib review, current results (WIP, not passing specs at the moment) in https://github.com/SciRuby/daru/tree/awfully-big-refactoring branch. Current plan is to finish it there, then merge into `v-1-pre` branch, then fix everything that will left of milestone :) ETA ~1-2 weeks on my side.

[2017-12-08 22:25] rohitner commented on #390
![image](https://user-images.githubusercontent.com/21151546/33787715-97576236-dc94-11e7-9b56-915d806dd4d5.png)
![image](https://user-images.githubusercontent.com/21151546/33787768-d1546e66-dc94-11e7-92a2-6dc6fdcd23ac.png)

I added these lines of code but it didn't work. Should I send it as a PR?

[2017-12-15 19:10] Ronaq13 commented on #424
@zverok : I would like to do this.

[2018-01-09 08:40] rohitner commented on #390
ping! @zverok @lokeshh @athityakumar

[2018-01-09 10:34] lokeshh commented on #390
@rohitner When you do `vc.send(:set, 5, 6)` you setting a new category `6` in index `5`. Because `6` is a new category you need to first call `#add_category` and then modify `@cat_hash` and `@array` accordingly.

[2018-01-09 10:35] lokeshh commented on #390
@rohitner It would be better if you could create a PR and we discuss it there.

[2018-01-18 12:36] baarkerlounger commented on #438
Can this be closed given the above has been merged?

[2018-01-18 13:04] #438 closed

[2018-01-28 07:15] rohitner opened #448 "failing tests due to changes in method set"
Replacing `def set indexes, val` with `def set *indexes, val` for the method `set` in vector.rb leads to 43 failing tests. The change was intended for handling multiple index assignment and works. The failing tests are listed below.
[code]

[2018-01-28 09:32] v0dro commented on #448
Why would you open an issue for a breaking change that you introduced yourself? Investigate the problem.

Also next time you post an error report include the stack traces not the failure reports.

[2018-01-28 09:32] #448 closed

[2018-02-07 13:21] wta12 opened #450 "[Bug] Plot charts hidden after add require"
I tried Daru example and see that the charts become unstable if some specific gems loaded ('active_support/all' in this case)
![image](https://user-images.githubusercontent.com/16380735/35918364-2358821c-0bd7-11e8-88bc-1a41189e2cfa.png)

[2018-02-07 14:10] v0dro commented on #450
Huh. This is bizarre. @Shekharrajak do you have an idea why this happens?

[2018-02-08 10:08] Shekharrajak commented on #450
I never came across such things. In my caes I installed `activesupport` gem as dependent gem for the `actionview` (which is dependent gem for lazy_high_charts gem in daru-view gem).

Need to check what is happening inside here. I don't think there is any connection of nyaplot and activesupport gem.

[2018-02-09 16:52] wta12 commented on #450
how to check what happened ?
I am using ruby 2.2.4 x64 windows 10. gems install almost package

[2018-03-05 20:29] gmega commented on #171
Hi there @zverok ,

   this snippet:

[code]

still seems to fail for me on 0.2.0 with `ArgumentError: comparison of Array with Array failed
`. I believe I have the right version installed:

[code]

Going through the [test case that got added](https://github.com/SciRuby/daru/pull/177/commits/6069f7e27b1442ddab87ccc102cc5c5d08b1d324#diff-9a856a5cbb8265463fa1bb64f02258e1) with the fix for #171, I se

[2018-03-06 11:51] IdeoConcepts opened #452 "Problem with has_index method with multi-index vector."
Hi,

When creating a vector with multi-index, the method "has_index?" will return true even if the given index has no match:-

Example:-
[code]

Many thanks!

[2018-03-06 23:41] paisible-wanderer opened #453 "[Bug] Daru::Dataframe#aggregate doesn't work as expected"
Hello,

#### example: (fictional) spending of a startup
[code]

#### ISSUE
[code]

#### Origin?

PR [#340](https://github.com/SciRuby/daru/pull/340/) was likely merged too soon

This [test](https://github.com/SciRuby/daru/commit/54fc5b2f0e3fc59fb335168fb08cf5cf8ae4921c#diff-8beec433e3792443c3f937f4f32ce83fR486) doesn't really check multi-indexed aggregation (cf same number of rows before/after the

[2018-03-08 20:42] zverok commented on #171
Funny. Will take a look. Thanks for digging it out.

[2018-04-01 08:01] rohitner commented on #452
Hey @IdeoConcepts , thanks for spotting the bug, can you make changes locally as per PR #455 and check whether it helps?

[2018-04-07 15:23] mrkn opened #456 "Defer to warn about spreadsheet and mechanize gems"
<img width="735" alt="screenshot 2018-04-08 00 18 43" src="https://user-images.githubusercontent.com/3959/38456713-baf2107e-3ac2-11e8-8c3d-0a97d3713d10.png">

Currently, daru always shows two warnings about spreadsheet and mechanize gems even if users don't need the functions of them.

I think these warnings should be deferred until users try to use them.

[2018-04-07 15:37] athityakumar commented on #456
This definitely is fixed in daru-io, but the existing IO modules in daru (before daru-io) are yet to be removed. I had opened PR #430 for the same, and it's yet to be merged.

[2018-04-26 18:50] IsmailM commented on #456
There's a previous issue on this from around 8 months ago -  #404...

[2018-04-26 18:51] IsmailM commented on #404
Hey guys,

Any updates/timeframe on this?

[2018-05-04 00:28] IsmailM commented on #404
Hey @zverok, just a quick heads-up - I have submitted a PR (changing 5 lines) to 'fix' just this issue.

Would appreciate it if you could take the time to look through it and release a new gem version on rubygems.org - see #457.

[2018-05-10 17:32] zverok commented on #404
The solution is pushed to `master`, please check.

[2018-05-10 17:37] IsmailM commented on #404
That's perfect 👍

Really appreciate it @zverok.

Any chance you could make a gem release so that we could use it 👍

[2018-05-10 17:37] #404 closed

[2018-05-21 14:55] vanitu opened #458 "Aggragate DataFrame via Summarise Function"
Hi, Daru community.

I was trying to find a simple function how DataFrame can be summarized using customisable aggregation function for each new Vector, but can't find any flexible solution.

However sometimes you need to apply different aggregations

Idea comes from R dplyr where you can run summarise on grouped data.

Here is short example which I think is mostly obvious on it self. It allow in

[2018-05-21 16:11] vanitu opened #459 "group_by fails on 1 row size DataFrame"
method <group_by> fails when DataFrame size == 1

[code]

[2018-05-21 18:28] vanitu commented on #459
Issue is that method  "access_row_tuples_by_indexs" returns 2 types of values

Example:
[code]

problem is that populate_row_for(positions) for Numeric position is not wrapped in array

[code]

[2018-05-21 18:39] vanitu commented on #459
I found that this error was fixed, but Daru gem is not released and still linked to 7month old version.
When Daru release planned and what is the flow for that?

[2018-06-01 20:15] info-rchitect opened #460 "median of a list of columns?"
Hi,

I see that the dataframe[ can do a rolling median](https://www.rubydoc.info/gems/daru/0.1.1/Daru/Maths/Statistics/DataFrame#rolling_median-instance_method) but what about performing the median calculation on a group of columns?

thx

[2018-06-01 20:56] info-rchitect commented on #458
@vanitu agreed

[2018-06-06 14:50] info-rchitect commented on #458
Hi,

I have an Dataset class that is a wrapper to Daru and delegates to Daru much of the time.  This allows me to create business specific transforms that would not be suitable for open source.  I wrote the following summarize transform.  If folks like the API I could try to make an enhancement.

[code]

The first argument is the columns to summarize, the group_by argument does just that and the s

[2018-06-21 08:44] IsmailM commented on #404
Hey @zverok

Any chance you could push a new gem release so that we can use the fix that you pushed 👍

cc @v0dro

[2018-06-21 09:50] zverok commented on #404
@IsmailM I plan to review/release everything that had changed for last few months this weekend.

[2018-06-29 15:38] IsmailM commented on #404
Hey @zverok,

Sorry to bug you about this, but would really appreciate it if you could review/release things soon 👍

(we are releasing a submitting a paper really soon (potentially towards the end of next week) and so would really love to include the latest version of daru in our tool)

Many Thanks
Ismail Moghul

[2018-06-29 16:22] zverok commented on #404
You'll laugh, but last Saturday morning when I started to review PRs to merge, I accidentally overturned a cup of tea into my laptop and lost it for entire weekend :( But THIS weekend (more probably Saturday, e.g. tomorrow) I am dedicated to the task.

Sorry to be a shitty maintainer, I am stepping down from this role at autumn, hopefully, my successor could do better.

[2018-07-01 17:06] zverok commented on #453
Fixed with #454, will be released soon.

[2018-07-01 17:06] #453 closed

[2018-07-01 17:08] zverok commented on #459
When Daru release planned and what is the flow for that?

In a day or two :)

[2018-07-01 17:08] #459 closed

[2018-07-01 17:26] #456 closed, assigned to nobody

[2018-07-01 17:29] zverok commented on #406
Done in `master`.

[2018-07-01 17:29] #406 closed

[2018-07-01 17:31] zverok commented on #393
It is fixed in master, I'll release a new minor version soon.

[2018-07-01 17:31] #393 closed

[2018-07-03 15:04] IsmailM commented on #404
Hey @zverok, Many thanks for submitting a RubyGems update - Really appreciate it 👍

PS. Sorry to hear about your laptop - hope it survived the coffee last weekend.

[2018-07-03 20:41] Prakriti-nith opened #462 "Alternate method for `access_row_tuples_by_indexs`"
Recently, `access_row_tuples_by_indexs` method has been removed from daru. Please let us know the alternative.
Refer: [#454](https://github.com/SciRuby/daru/pull/454#pullrequestreview-133706760), [Sciruby/daru-view#103 (issue)](https://github.com/SciRuby/daru-view/issues/103)

[2018-07-04 17:35] Shekharrajak commented on #462
@Prakriti-nith , please create a PR in daru repo and putting the same method in same place (revert the changes for this method) with testcases.

Thanks!

[2018-07-07 16:08] paisible-wanderer commented on #458
@vanitu I belive you should use [DataFrame#aggregate](https://www.rubydoc.info/gems/daru/Daru/DataFrame#aggregate-instance_method)

[code]

[2018-07-08 00:11] #462 closed

[2018-08-13 18:34] info-rchitect opened #465 "Vector rename does not change index as expected"
Hi,

When I use `Vector#rename` I expect that the vectors method would show the new vector name but it doesn't.

[code]

thx

[2018-08-18 12:52] #198 closed

[2018-08-29 17:38] info-rchitect opened #466 "How to reset filtered dataframe index to 0-N?"
Hi,

I use dataframes that are typically indexed from 0 to N with no special need to index with non-numeric labels.  So, when I `filter` a dataframe, the index  then gets 'screwed up', aka non-sequential.  This makes adding in new vectors a pain because the array of data has to have the same indices as the dataframe index or the data will be placed in the wrong spot.  The `reindex` method does not

[2018-09-16 21:01] bruzos opened #467 "NoMethodError: undefined method `scan' for DateTime"
Hi working with Dataframe and DateIndex as main index for it. When I try to convert a vector to a hash with .to_h I am getting the following error:

[code]

[2018-12-04 14:38] willianveiga opened #474 "Implement a pandas.get_dummies equivalent for daru"
Please implement a method like [pandas.get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) for daru.

Considering the following DataFrame:

[code]

Our `get_dummies` implementation should output something like:

[code]

[2018-12-06 14:02] #206 closed

[2018-12-13 17:43] PetalsOnWind commented on #474
I am new here. Can I give this a try?

[2018-12-14 14:03] v0dro commented on #474
Sure. Let us know if you run into difficulties.

[2018-12-21 02:11] ChepChaf commented on #402
Shouldn't this be closed?

[2019-01-03 15:29] matugm opened #478 "Ideas For Improving Daru & Making It More User-Friend"
Hi,
I really like Daru & I would like it to be more popular so I have a few suggestions that I believe will help increase adoption.

1. **Improve documentation**. I think the notebooks are great, but I can't find all the options available for creating a plot.

For example, if I want to give a title to my plot, the logical way I think would be `plot.title`, but it doesn't work (Nyaplot NoMethodErro

[2019-01-09 08:10] Shekharrajak commented on #478
Hi @matugm ,

Thanks for sharing this. Yes, you can open separate issues for class method documentations, unwanted errors; stating the improvement (and someone will surely look into it). Related to plotting a graph, feel free to open issue in daru-view repo.

[2019-01-11 00:45] v0dro commented on #478
@matugm I like your suggestions. Can you open them in separate issues so that we can triage and tackle each of them independently?

[2019-01-12 19:30] matugm opened #479 "DataFrame#plot should provide more informative error message."
As mentioned in #478 I find that some error messages could be improved to provide a better user experience.

**For example**:

[code]

**Results in**:

But this error doesn't help the user understand that there is a missing `y` value.

There are other errors like these where missing or incorrect data leads into an exception.

**Another Example**:

If you don't provide a plot type at all you get `"

[2019-01-12 19:30] #478 closed

[2019-01-12 19:33] matugm opened #480 "Display File Name When Export Plot to HTML"
When I create a plot & export it to HTML I get what seems like some random number.

**Example**:

[code]

I think it may be more helpful to print the name of the file instead.

[2019-01-16 19:41] FourSeventy opened #481 "Resampling timeseries data"
I want to resample a vector containing timeseries data into one with discrete time intervals. I'm having trouble figuring out if this is possible in daru.

For example if I have a data set like this
[code]

I want to resample it to look like this
[code]

Thank you

[2019-01-18 05:59] lokeshh opened #482 "DataFrame#plot and Vector#plot not working"
[code]
result in following error:

[code]

If looks to me the support for plotting in Daru has been removed or long been broken because Daru latest release gives the error that `DataFrame#plot` is not found. If the support for plotting has been removed we need to remove the appropriate notebooks from README and `sciruby-notebooks`.

[2019-01-19 18:20] lokeshh commented on #482
@Shekharrajak Ok, but these lines are certainly not working in latest daru release.

[2019-01-19 22:56] Shekharrajak commented on #482
Yes! I already tried the latest cloned version :

[code]

I'll check 0.2.1

[2019-01-21 12:12] Shekharrajak commented on #482
Thanks for update.

[2019-01-21 14:02] lokeshh commented on #482
I think a new Daru release is needed as with the last release the `sciruby-notebooks` won't be working. Also could you verify if `gnuplot` working for you?

Following lines give me `Illegal seek` error. What about you?
[code]

[2019-01-22 08:00] Shekharrajak commented on #482
@lokeshh , I installed `gnuplotrb` gem  and run `sudo apt-get install gnuplot-x11`. It worked for me.

[2019-01-22 12:13] Shekharrajak commented on #479
Yes! There should be `begin`, `rescue` block to handle any kind of error coming from another gem.  It must throw an error with the correct input type.

[2019-01-22 12:18] Shekharrajak commented on #479
We can have a custom error class for daru library.

[2019-01-22 12:21] Shekharrajak commented on #467
@bruzos , can you please paste all the related sample code. Means what is `data` vector.

[2019-01-23 07:13] lokeshh commented on #482
Ok thanks.

[2019-02-07 01:16] kojix2 opened #486 "How to convert Index to DateTimeIndex"
Hello.

I have one question. What is the best way to convert Index to DateTimeIndex?

I try

[code]

Yes. It work fine. Good!
But I think `df.index = Daru::DateTimeIndex.new(df.index)` a little bit long.
Is there a method like `df.index.to_datetime` ?

[2019-02-07 12:26] kojix2 commented on #159
`sort_by_index` method is still not defined in `DataFrame`.

[code]

[2019-02-09 14:21] kojix2 opened #487 "Counting nil. confusing"
[code]

[2019-02-14 13:43] #402 closed

[2019-02-25 04:49] kojix2 opened #490 "Daru::Core::GroupBy#each_group #get_group not work with newly created index."
Hi
I found that `each_group` and `get_group` method do not work as expected when you set a new index.
For example:
[code]

Sorry if this is duplicated issue.

[2019-02-25 05:35] kojix2 commented on #490
[code]

[2019-02-25 05:40] kojix2 commented on #490
This line.
https://github.com/SciRuby/daru/blob/984ff72024466917f8c8ad184e045efa14470412/lib/daru/core/group_by.rb#L262

`transpose[idx]` work as expected only when index is 0,1,2,...

[2019-02-25 10:20] Shekharrajak commented on #490
Thanks for pointing out this error.  Someone will surely look into it.

[2019-02-28 06:48] Shekharrajak opened #493 "Travis build error"
Check this build job : https://travis-ci.org/SciRuby/daru/jobs/498598524#L2012

[code]

[2019-03-01 03:13] #486 closed

[2019-03-01 03:17] kojix2 commented on #486
Close this problem because it is low-priority issue.

[2019-03-01 08:00] #493 closed

[2019-03-03 09:03] gioele opened #496 "Unexpected behavior during vector assignment: df[0] = df[0] + 10"
DataFrame assignments behave in a surprising way then numerical indexes are used: instead of the vector replacing the old one, they are added to the dataframe. This is in contrast with what happen when explicit names are used.

Take for example this dataframe:

[code]

Assigning `df[0]` will add a new vector to the dataframe instead of replacing the 0th column:

[code]

This is surprising, conside

[2019-03-03 10:22] kojix2 commented on #496
[code]

Hello. I am a Daru beginner too.
Therefore, perhaps I may be wrong, but I will reply.

I used Daru enthusiastically for the past two weeks,
I noticed that Daru has two different principles from Pandas.

1. Vectors (columns) should always take priority over rows.
2. You should call the vector/row by name or index rather than number.

Daru is not a matrix calculation library. Dataframes focu

[2019-03-03 10:45] kojix2 commented on #496
[code]

Probably this is the correct way of writing, but I feel like being told that "Do not call Vector by the number of columns"

[2019-03-05 12:29] kojix2 opened #497 "Daru::DataFrame#delete_rows"
[enhancement / question]

It is strange that the `delete_rows` method is not implemented in` Daru :: DataFrame`.
Am I missing something?
Please let me know if you know how to delete multiple rows.

[2019-03-10 11:52] Yuki-Inoue opened #498 "release 0.2.2, or at least as pre?"
Since 0.2.1, several improvements are merged into master.  Is it possible to release them as `0.2.2`?  Or, at least as `0.2.2.pre` ?

[2019-03-14 06:48] Shekharrajak commented on #498
Ping @v0dro

[2019-03-14 06:56] Shekharrajak commented on #497
I think, we have [`delete_row`](https://www.rubydoc.info/gems/daru/0.2.1/Daru/DataFrame#delete_row-instance_method) method to delete a row by passing the index. But yes, deleting multiple rows is not exist.

[2019-03-14 08:11] Shekharrajak commented on #487
I thinnk, `count` method is not defined, but we have block :

[code]

[`count_values`](https://www.rubydoc.info/gems/daru/Daru/Vector#count_values-instance_method) is defined here.

Yes, it is confusing and should have better API, return value and documentation.

[2019-03-16 15:49] kojix2 commented on #498
Daru::View require the latest Daru. I hope Daru::View work with RubyData’s Docker image.
https://github.com/RubyData/docker-stacks

This image will be added to try Jupyter page.
https://jupyter.org/try

[2019-03-16 19:26] MihirGH commented on #497
@Shekharrajak
In the purview of GSOC'19, I would like to contribute to DARu.
I would like to start this by working on this issue.
Can you please guide me for this?
Thanks 😄

[2019-03-16 19:55] athityakumar commented on #497
Hey @MihirGH!

For this specific case, you can have a look at [this #delete_row method](https://github.com/SciRuby/daru/blob/940fe7e73761ff1a8131db46a5664e2a48072f78/lib/daru/dataframe.rb#L1091) that is already implemented. You'll need to implement a similar `#delete_rows` method, that will call the existing `#delete_row` method multiple times.

You'll also have to write inline documentation & uni

[2019-03-17 08:38] MihirGH commented on #497
What should the interface of `delete_rows` should be like? @athityakumar @Shekharrajak
It should accept a start index and an end index (optional)?
If the end index is not specified then it should just delete all the rows mentioned from the start index?

[2019-03-17 10:20] Shekharrajak commented on #497
@MihirGH , I think the list of indexes (i.e. if the index is `:a, :b, :c, :d` , then user should be able to delete `:b, :d` so user has to pass [:b, :d]). It can or can't be order. What do you think ? Do you find similar API already  present in daru?

[2019-03-20 02:32] kojix2 opened #500 "packable error"
code

d1.rb
[code]

terminal
[code]

error
[code]

[2019-03-20 17:25] #500 closed

[2019-03-21 09:48] thomasnaude opened #501 "Vector to vector binary operations cannot be done if the indexes contain both strings and symbols"
[code]

to reproduce :
[code]

[2019-03-21 13:47] Sylfrena commented on #487
@Shekharrajak
Hello, I'm new here and would like to give this issue a try. I am aware of the `count` method in Ruby and have played around with the `count_values` method too. However, I am unable to understand the exact objective of this issue. Do you require better documentation for the `count-values` method or are looking for an implementing an equivalent of the `count` method?

[2019-03-21 16:44] Shekharrajak commented on #487
@Sylfrena , you first [setup the development version](https://github.com/SciRuby/daru/blob/master/CONTRIBUTING.md) and try out few examples present in [documentation](https://www.rubydoc.info/gems/daru/Daru/Vector#count_values-instance_method) and play with it.

Also try [Ruby array count method](https://apidock.com/ruby/Array/count) and find out what should be expected value for daru vector with

[2019-03-21 19:42] Shekharrajak commented on #487
I see there are [3 methods ](https://github.com/SciRuby/daru/blob/master/lib/daru/maths/statistics/vector.rb#L377) `count`, `value_counts` and `count_values`.

`count` :

[code]

I think, it should be able to count the nil values as well like `count_values`:

[code]

So here `count` can have block but `count_values` can't.  I see this is the only difference, I see. WDYT @v0dro

[2019-03-22 08:54] Shekharrajak commented on #501
Thanks @thomasnaude for pointing it out this issue. I think, to resolve this issue one has to look into, why sorting is done in binary operation of vectors [here ](https://github.com/SciRuby/daru/blob/master/lib/daru/maths/arithmetic/vector.rb#L94).

[2019-03-22 15:03] thomasnaude commented on #501
You are right @Shekharrajak, that is definitely the problem. I looked into it and could not figure out why the sorting is done. But that certainly does not mean it is not needed.....

[2019-03-26 20:47] Sylfrena commented on #487
@Shekharrajak
I went through documentation and played around more with some of the functionalities that Daru offers. I tried `count` , `count_values` and `value_counts` methods on daru vectors as well. Pertaining to this issue and your previous comment, I think that the following modifications need to be made:
1.  Override `count` method in `Vector` class to ensure it can recognize nil values as w

[2019-03-27 05:54] Shekharrajak commented on #487
@Sylfrena , I hope, you have [gone through this](https://github.com/SciRuby/daru/blob/master/CONTRIBUTING.md) step by step.

[2019-03-27 06:16] Sylfrena commented on #487
@Shekharrajak
Hi! Yes, I made sure to follow all instructions before trying to `bundle exec rspec`. I didn't install all ruby versions though because it was mentioned optional. Could that be a possible reason for the test suite failing?

[2019-03-27 06:49] Shekharrajak commented on #487
@Sylfrena , can you please open an issue and paste the error log there, so that we can track it (also please mention the commands you run) ? Thanks!

[2019-03-27 06:53] Shekharrajak commented on #487
@Sylfrena , can you please check whether you are able to run examples present in readme file or not ?

Basically you just have to run `bundle install` and `bundle console` inside the your cloned folder and try something like :

[code]
Let me know if it is working properly.

[2019-03-27 09:15] kojix2 opened #502 "How to set the maximum number of rows to display"
Daru's data frame displays up to 30 rows.
I think the default threshold of 30 is reasonable in most cases.

However, when processing messy data, I often want to see 100 lines or more with my own eyes.

The threshold is defined as default values ​​for the arguments here.

https://github.com/SciRuby/daru/blob/d17887e279c27e2b2ec7a252627c04b4b03c0a7a/lib/daru/dataframe.rb#L2094

So, you can change th

[2019-03-27 15:04] Sylfrena opened #503 "bundler: failed to load command: rspec (/usr/local/bin/rspec)"
I'm using Ubuntu 18.04.1 LTS. I was following instructions mentioned at [here](https://github.com/SciRuby/daru/blob/master/CONTRIBUTING.md).

Here is what I did:
[code]
Then install remaining dependencies:
`$ bundle install`

And run the test suite (should be all green with pending tests):
`$ bundle exec rspec`

......................................................................................

[2019-03-27 15:06] Sylfrena commented on #487
@Shekharrajak
Hi. I was able to run the above and other examples I tried in daru. I opened an issue [here](https://github.com/SciRuby/daru/issues/503).

[2019-03-27 15:51] Shekharrajak commented on #503
I didn't understand why you are getting this, in between :

[code]

[2019-03-27 16:36] Shekharrajak commented on #487
@Sylfrena , it looks like there is some problem.  Meanwhile other than running rspec, you can work on fixing any other issue and send us PR. We will check the travis build result for the PR as well.

[2019-03-28 05:45] Sylfrena commented on #503
@Shekharrajak  Yes, it is very puzzling. Initially I thought the command is just unable to access `rspec` but even after I changed and verified paths, still no show.

[2019-03-28 07:53] Shekharrajak commented on #503
Can you please try with different Ruby version - like Ruby 2.4  ?

[2019-03-28 09:06] Shekharrajak commented on #503
Related issue https://github.com/SciRuby/daru/issues/503

[2019-03-28 09:07] Shekharrajak commented on #503
Related issue https://github.com/SciRuby/packable/issues/4

[2019-03-28 09:22] Shekharrajak commented on #500
@kojix2 , You were using Ruby < 2.5 ?

[2019-03-28 09:28] Shekharrajak commented on #502
Yes! It makes sense. There was a similar discussion happened https://github.com/SciRuby/daru/pull/476 , please have a look.

[2019-03-28 09:32] kojix2 commented on #500
@Shekharrajak
Ruby 2.6.1.
This error does not always occur on any PC.
I decided to close the issue because I thought it was not a problem with Ruby but an interference with the environment.

[2019-03-28 11:08] Shekharrajak commented on #500
Yes! This problem will come when Ruby version > 2.4 .

[2019-03-28 11:08] Shekharrajak commented on #500
Similar issue : https://github.com/SciRuby/daru/issues/503

[2019-03-28 20:11] Sylfrena commented on #503
@Shekharrajak
Thanks so much! Changing the Ruby version worked like a charm!
I think it would be helpful for newbie contributors if (CONTRIBUTING.md)[https://github.com/SciRuby/daru/blob/master/CONTRIBUTING.md] this issue was mentioned. May I make a pull request for the same?
I'll close this issue for now.

[2019-03-28 20:11] #503 closed

[2019-03-28 20:14] Shekharrajak commented on #503
Yes, that will be helpful. You can also add link of this issue, so that anyone can explore it further.

[2019-03-28 23:16] Sylfrena commented on #503
@Shekharrajak
I made a PR regarding this. Please let me know if there are any changes I need to make.

[2019-03-28 23:17] Sylfrena commented on #503
@Shekharrajak
I made a PR regarding this [here](https://github.com/SciRuby/daru/pull/504). Please let me know if there are any changes I need to make.

[2019-04-02 07:33] kojix2 commented on #502
My first idea is like
[code]

But I think this is good too.
[code]

[2019-04-05 06:12] Shekharrajak commented on #503
Actual error is :

[code]

[2019-04-05 06:15] Shekharrajak opened #505 "Make daru compatible with Ruby >= 2.5"
Related discussion:   #500,  #503

[2019-04-05 06:18] Shekharrajak commented on #502
Thanks for letting me this. Yes! We can have configuration as well, where all these default things can be set.

[2019-04-16 14:15] kojix2 commented on #505
https://github.com/SciRuby/packable/issues/4#issuecomment-481443915

[2019-04-19 07:10] kojix2 commented on #502
I realized that setting options alone was not enough for me.
I want to display a particular data frame / vector only once. For such use, a method like `show_all` may be more appropriate than config.

`df.show_all`

[2019-04-19 07:30] Shekharrajak commented on #502
Thanks for suggestion @kojix2 .

I think we should have global option to set the maximum number of rows to display as well as `all_rows` and `all_colms` property in dataframe level.

WDYT?

[2019-04-19 09:43] kojix2 opened #507 "Insert column/row into DataFrame at specified location."
Hello.
Daru::DataFrame doesn't seem to have `insert` function.

`set_at` or `set_row_at` will overwrite.
`[]=` does not specify the insertion location.

[2019-04-21 13:35] Shekharrajak commented on #507
Can you please elaborate a bit this line?

[2019-04-21 14:12] Shekharrajak commented on #507
This is good point.

we can add another column easily but then we have to order it. You can also do `df[:player] = df.index` but yeah we should have a method to insert a column in specific place. may be we can have `#insert` method having information about index of column, vector name and vector value.

[2019-04-22 05:22] kojix2 commented on #507
That's exactly what I wanted to say.

[2019-04-22 06:35] kojix2 opened #508 "The order of the vectors when joining two data frames."
The `join` method is frequently used in data frame operations.
Joining two data frames is easy in Daru. But the order of the vectors is a bit strange.

## Ruby Daru

[code]

<img width="178" src="https://user-images.githubusercontent.com/5798442/56486242-f6254d80-6511-11e9-8041-62c5c4f135b5.png">

The vector of Name and the vector of Job are separated to the left and right of the ID.

## Julia Dat

[2019-04-22 06:35] Shekharrajak commented on #507
Thanks for letting us know this usecase.

[2019-04-23 06:33] reedjosh opened #509 "Printing to Terminal"
Hey, I just came to Daru from Pandas.

I write a lot of scripts at work that report out in the terminal. With Pandas I simply `print(df)` and possibly change a few features like `max_colwidth=50`.

I can't seem to nicely print a Daru DataFrame to the terminal. Inspect is the closest I seem to be able to find, but then the columns are all the same size (as opposed to best fit) and the object type i

[2019-04-23 07:48] kojix2 commented on #509
Hello. Welcome to Daru.
I am a Daru user. Yes, It's hard to use Daru at the terminal.

1. You should use Jupyter if possible. Does IRuby not work well? Since iruby gem is old, it is better to install from github's master using `specific_install`.

- https://github.com/SciRuby/iruby
- https://github.com/rdp/specific_install

2. The width of the column shown on the terminal is specified here. All co

[2019-04-23 15:45] reedjosh commented on #509
1. It sounds like you are suggesting IRuby as a way to get notebook like output on the terminal. Is that the case?

2. I did find the Spacing and Threshold variables. Unfortunately, my values do vary widely in width. : )

I would be interested in contributing to this, I have briefly looked into the code for inspect. How would you envision I add a best fit printing function? It seems pretty_print i

[2019-04-23 23:37] kojix2 commented on #509
@reedjosh
1. No, Column widths do not change with IRuby console/qtconsole. Sorry for my lack of explanation. I'm not a web developer. If you are working on rails, following tools may be useful, (as you might have found).
    - https://github.com/Yuki-Inoue/jupyter_on_rails
    - https://github.com/SciRuby/iruby-rails

2. I'm glad to hear that. Ping @Shekharrajak

3. I just forget colmn width on te

[2019-04-25 07:56] Shekharrajak commented on #509
Thanks for reporting the issue. You can see the examples in IRuby notebook [here](https://github.com/SciRuby/daru#notebooks).

@reedjosh , do you want to see all the colums (or all the rows)?

I see that Pandas in Python shell and `daru` in Ruby cell displays similar table structure.

[code]

[code]

[2019-04-25 09:04] kojix2 commented on #509
## Pandas
* Column width is adjusted automatically.
* `sepal_length` is wide. `species` is narrow.

![image](https://user-images.githubusercontent.com/5798442/56721937-eeb7ab80-6780-11e9-8309-ebe75c7abca7.png)

## Daru
* Column name only partially displayed. `Sepal.Leng` should be `Sepal.Length`.
    * All columns are the same width.
* `#<Daru::DataFrame(150x5)>` is informative, but looks busy (fo

[2019-04-25 13:02] Shekharrajak commented on #509
Thanks @kojix2  for letting me know this point. Yes! It should be adjusted and have option for setting the max width of the all the columns.

[2019-04-26 19:48] reedjosh commented on #509
Yes, Pandas auto-adjusts width, and Pandas prints without first printing the object.

I use pandas to display data on the command line quite often.

For now, I've setup to use [tj/terminal-table](https://github.com/tj/terminal-table) for my final output. It works well enough.

Should I get around to it, I will work on this, but I won't be able to do so anytime soon. Thanks all for the consideratio

[2019-04-27 07:47] Shekharrajak commented on #509
Thanks @reedjosh for letting us know. Surely table structure will be improved in near future.

[2019-04-28 06:57] kojix2 opened #510 "@name variable in the dataframe."
One of the useful features of Daru is the ability to call vectors in the form of method chains.

For example,
[code]

This is implemented using `method_missing`.

This feature is not well documented as a comment in the source code.
So it may not be the recommended way. But I often use this. I like it.

It is very common to have a name vector in a data frame.
The name vector cannot be called in thi

[2019-04-28 07:07] kojix2 opened #511 "Tidy data"
@kozo2 points out that Daru is not good at data tidying.

For example, Daru may not have the equivalent of melt or gather.

[2019-04-28 07:18] kojix2 opened #512 "Map method. Should the Daru::Vector return an Array?"
Daru's vector returns an array using the map method.

[code]

If you use module Enumerable, the map method returns an array.
However, in Ruby there is no rule that the map method must return an array.
For example,

[code]

Daru has prepared `recode` as a method to return a Vector.

[code]

This practice is not so common.
I feel that Daru's iterator has some confusion.
If there is room to change th

[2019-04-29 06:48] kojix2 commented on #498
http://bestgems.org/gems/daru

It's good time to release a new version.
![image](https://user-images.githubusercontent.com/5798442/56879833-65142080-6a95-11e9-9c36-69672e3028c0.png)

50-250 downloads / day
![image](https://user-images.githubusercontent.com/5798442/56879926-c0461300-6a95-11e9-9d22-090ad4578432.png)

[2019-04-29 06:54] Shekharrajak commented on #498
Thanks @kojix2 for information. I will work on it by this weekend.

[2019-05-01 21:12] him666 commented on #512
looking into this

[2019-05-07 08:55] kojix2 commented on #512
Thank you for your work. @him666

But what I suggested was to change the behavior of the map method.

Currently, the map method returns an Array, but I suggested changing it to return Daru::Vector.

This is not a technical issue but a user consensus issue.

`map_to_vector` is similar to `recode`.
So I think we don't need a new method.

[2019-06-09 00:08] kojix2 commented on #498
I am waiting for a new version.
Where is the obstacle to the release of a new version now?

[2019-06-10 06:09] Shekharrajak commented on #498
Actually, I am bit busy and we need to write Enhancements/Fixes/New feature PRs in https://github.com/SciRuby/daru/blob/master/History.md and https://github.com/SciRuby/daru/releases, which is time taking.

[2019-06-12 01:36] kojix2 commented on #498
Ok. So we need to summarize the commit log.
https://github.com/SciRuby/daru/compare/v0.2.1...master

[2019-06-12 05:48] Shekharrajak commented on #498
Yes! May be in future we can have a bot that handles release note automatically whenever new commits are merged.

Also, we need to change the version here : https://github.com/SciRuby/daru/blob/master/lib/daru/version.rb according to the changes and feature added.

[2019-06-25 18:46] parzydlo opened #514 "Vector#uniq fails on category vectors"
I could not find information on whether this is expected bahaviour or not.
It seems like the ```uniq``` method is missing in category.rb

[code]

[2019-07-05 04:49] weqopy opened #515 "Why Daru has these inconsistent situations?"
I'd like to use this data to show the situation made me confused:
[code]
- first & last
[code]

- The return type
[code]
- errors and a not error
[code]

[2019-08-04 06:34] kojix2 commented on #498
@v0dro Could you please add @shahsaurabh0605 to owner of daru.gem on rubygems.org?
https://rubygems.org/gems/daru

https://github.com/SciRuby/iruby/issues/211

[2019-08-04 06:43] kojix2 commented on #498
You can upgrade it twice.

Most of the changes in the first half of https://github.com/SciRuby/daru/compare/v0.2.1...master were made by Yuki Inoue, so he writes a release note.
Then @Shekharrajak  release it once.

The second half is mostly from Shekharrajak, so it's not hard to write release notes.
Then there's the second release.

[2019-08-08 06:12] Shekharrajak commented on #498
Okay, I will do it as soon as possible. I think in near future we can have a bot who writes the release note (may be in wiki page) after merging any PR.

[2019-08-11 08:52] Shekharrajak commented on #498
Checkout the new version 0.2.2 at https://rubygems.org/gems/daru and changelog : https://github.com/SciRuby/daru/blob/master/History.md#022-8-august-2019

[2019-08-11 09:59] kojix2 commented on #498
Great!

[2019-08-16 23:44] ncs1 commented on #514
When you create a Vector extending Daru::Category the "@data" member is nil, and so you receive this error.
Looking on initialize_category & initialize_core_attributes (which are called on to_category and have access to the "@data") it isn't seem that the "@data" member is being set.
I don't know if it's an expected behavior.

[2019-08-17 06:41] #498 closed

[2019-08-20 09:20] ncs1 commented on #512
I too, think that map on Daru::Vector should return Daru::Vector and not Array.

[2019-08-23 05:54] kojix2 commented on #515
I think the gods left room for you to contribute.  I'm sorry I'm just kidding.

[2019-10-17 08:09] homonecloco commented on #482
Hi,
I'm having the same error, I'm using Daru-0.2.2.  Is this something fixed in the master branch? And if so, are you planning to do a release at some point? I prefer to use a fixed release for consistency.
Best,
Ricardo.

[2019-12-20 12:31] cyrillefr commented on #507
Hello @Shekharrajak , I would like to work on this one.

[2019-12-20 12:58] Shekharrajak commented on #507
@cyrillefr , please go ahead. You can discuss your approach here once so that we can verify that you are going in right way then you can open a PR.

[2020-01-05 08:15] dipanm opened #522 "Adding vector through direct assignment fails when DataFrame is empty"
Here is the code that works:

[code]

So when we add value in a non-existant vector - it essentially creates a new vector and fills the value.

However, the same doesn't work when the existing DF is empty.

[code]

A typical expectation would be if the df empty is empty it should just add a vector and return without adding any row. At least don't face an unhandled exception.

Any help?

[2020-02-28 15:24] janmpeterka opened #523 "Add way to generate DataFrame from active_record with aggredated fields"
2. If it is a feature request, try to do the following (if possible):
  * show how new feature will work with small code example;
  * explain the use case (if it is not 200% obvious);
  * if you are aware of it, show how it works in pandas and/or R.

Recently I stumbled on problem with speed when using daru, and found that a way to speed things up was to do more work in database - namely group and

[2020-03-02 08:44] janmpeterka commented on #474
Hey, are you @PetalsOnWind still working on this?

I used `rumale` gem to do (something like) this, here is my code (maybe it helps):

[code]
(I am aware that this may be highly unoptimized solution)

[2020-03-05 13:32] janmpeterka opened #524 "Suggestion: DataFrame to two-dimensional array"
I need two-dimensional array as training data in linear regression.
So, I would like to add following method (maybe with some better name) to `Daru::DataFrame`

[code]
used like this

[code]

Thoughs?
Better ways to do this?

Thanks for reactions :)

[2020-03-05 13:39] kojix2 commented on #524
Hello. Daru is not so active these days...
But I use the following idiom to get 2d array.
[code]

[2020-03-05 14:02] janmpeterka commented on #524
Thanks @kojix2, closing this issue

[2020-03-05 14:02] #524 closed

[2020-03-07 19:35] javadba commented on #524
Really? I do see recent activity.  I am looking for the ruby equivalent of R's data.table . Is this the most active repo for it?

[2020-03-08 02:59] kojix2 commented on #524
I think Daru is the best datatable in Ruby and there is no alternative project.

The local ruby community in Japan is interested in [Apache Arrow](https://arrow.apache.org/). But it's not a global trend right now. ApacheArrow is the project of Wes McKinney, the original creator of [pandas](https://github.com/pandas-dev/pandas), and is expected to be the backend for pandas in the future.

Sure, Apa

[2020-03-08 18:47] cyrillefr commented on #507
Hello @Shekharrajak , sorry for the little delay.
My idea is : add some new data at the end, then reorder.
The method would look like this:
`def insert_vector n, name, source`
&emsp;`vector = Daru::Vector.new(source, index: @index, name: @name)`
&emsp;`@data << vector`
&emsp;`@vectors = @vectors.add name`
&emsp;`ordr = @vectors.dup.to_a`
&emsp;`elmnt = ordr.pop`
&emsp;`ordr = ordr.insert n, elmnt`

[2020-03-09 05:21] Shekharrajak commented on #507
Thanks @cyrillefr , please go ahead open a PR with few corner test cases. Love to see the changes in new release :)

[2020-03-10 20:26] cyrillefr commented on #501
Hello, @Shekharrajak , I looked at the code.
In order to keep the sorting, we could add a simple:`sort_by(&:to_s)`.
By doing that, we ensure a sorting by string, and so the call succeed.
I did a little test ans it works fine.

[2020-03-31 05:23] jpaulgs opened #526 "Offsets should be comparable [feature request]"
This is a feature request / bug report.

It would be awesome if the offsets where comparable.  However they are not...

[code]

Why would you want to do this?

Given I have a time series
Which I expect to have a specific frequency
And I create the Daru::Vector from a hash (timestamp: value)
Then I want to be able to compare the derived frequency with the expected frequency
So that I can confirm I

[2020-03-31 06:15] jpaulgs opened #527 "Daru::DateTimeIndexHelper unable to infer offsets that do not match a specifc Daru::DateTimeIndexHelper::TIME_INTERVALS"
Use case:

Create a Daru::Vector from a hash (timestamp: value) if the calulated offset does not fall onto one of the following time intervals than an error is raised

[code]

Code example showing the issue::

[code]

Why is this a problem?  When passing a hash to Daru::Vector you cannot specify the index.  It will be inferred...

[2020-04-06 02:54] dipanm opened #530 "set_index fails if data_frame size is zero"
If we create a row data frame with only 1 row, but it has multi-index it works

[code]

If we have a data frame with only 1 row, and if we try to raise a single index it also works.

[code]
However, if we try to set a multi-index when the data frame size is 1, it fails deterministically

[code]
Trying to add indexes one by one also fails.

[2020-04-06 13:50] jonspalmer opened #531 "Status of this Project?"
Can anyone share thoughts on the state of this project?

This project contains a lot of amazing work and I'd love to be able to use it in a bunch of Ruby/Rails projects. However, there are a few issues:

1. This project looks somewhat abandoned
1. Lack of support for Ruby > 2.4. Is a blocker for us #505
1. Several dependencies on projects that also appear to be somewhat abandoned.

Questions:

* I

[2020-05-05 09:55] baarkerlounger commented on #531
@v0dro  @zverok I think you'd be best placed to answer this. Fair to say neither of you are working on this project anymore?

[2020-05-05 10:13] zverok commented on #531
To the best of my knowledge, the answer is as follows.

**Short answer:** yes, seems nobody to work on the project actively at the time.

**Long answer:** The library was created by @v0dro and since some point, evolved by contributions of SciRuby's students mostly. I was involved with the library development at some point (mostly as a SciRuby mentor), but since I am retired from SciRuby, I am not

[2020-05-11 07:43] kojix2 commented on #505
https://github.com/SciRuby/packable/commit/4ee8456a5f322992bf32de3a760f2ae482410711
@marcandre take back maintenance!!! 🎉 🎉 🎉

[2020-05-14 08:13] ankane commented on #531
Hey @zverok, thanks for the update, and all of your work on SciRuby.

Since it sounds like Daru is in a holding pattern, I put together a take on data frames for Ruby called [Rover](https://github.com/ankane/rover). It uses Numo internally for performance (similar to how Pandas uses NumPy), and I've moved [Prophet](https://github.com/ankane/prophet) to it, as well as added support to XGBoost and L

[2020-05-14 09:51] baarkerlounger commented on #531
@ankane I'm curious, would you mind giving any more background - where you see the rover project going, why the start from scratch approach and how you think it compares to Daru (and Pandas) currently?

[2020-05-15 05:51] ankane commented on #531
@baarkerlounger The end goal is to make data analysis and machine learning as enjoyable as possible in Ruby. The main difference from Daru is its based on Numo, for both performance and easy integration with Rumale.

[2020-05-15 10:12] arbox commented on #531
@ankane,
following your work I'd like to ask if it's any feasible to join forces and leverage Daru's codebase in your Rover project?

[2020-05-16 02:07] ankane commented on #531
@arbox I'm happy to chat on specific features / ideas, but want to give this a fresh look (and think there's limited benefit to reusing the codebase).

[2020-05-16 05:28] kojix2 commented on #531
My favorite Ruby's fancy DataFrame looks like this.

It's a bit like Daru at first sight. but, it's much faster because it uses numo-narray and Apache Arrow on the backend. The features are simple and it looks clean.

Let's consider modifying Daru. In this case, you need to remove a lot of Daru's code.
That decision may be difficult for a non-founder to make because it may destroy compatibility.

[2020-05-16 11:51] jonspalmer commented on #531
Here is my take. There is a lot to like about this project. The code is very clean and has some nice abstractions. However, as I stated i the initial question there are some challenges today in terms of dependencies and support for Ruby > 2.4.

@ankane I'd disagree with you that there is little to be benefit from the existing code base. There are a lot of features you don't have in Rover yet. Plus

[2020-05-16 12:28] zverok commented on #531
_Just to add one more variety to already existing list of opinions!_

I believe there are two, not really related questions about "dataframe implementation" in Ruby:
1. Interface (as in API)
2. Implementation (including performance _and_ most of the "features")

My interest was always around (1): how may we create a _generally useful_ dataframe, which would be obviously helpful for everyone in the

[2020-05-16 13:55] jonspalmer commented on #531
@zverok Thanks for sharing your perspective. I share a very keen desire for #1 too. That seems fundamental. As I said if you really care about performance/scale then IMO you're going to get better luck by using Pandas. It's likely to always be faster etc. That doesn't stop us from having "fast" options in Ruby but that speed shouldn't come at the cost of API clarity.

I think there is a balance to

[2020-05-16 16:56] zverok commented on #531
@jonspalmer It is hard for me to answer the questions in details: both technically, because I haven't been involved with Daru for ~2 years now, and ethically, as a lot of its features either was implemented by Sameer, who is the initial author or by students of SciRuby we were mentoring, so pointing at any particular feature would be also pointing at a person who invented/implemented it.

Also, I

[2020-05-16 17:39] jonspalmer commented on #531
@zverok

IMO the answer on this is very clear - one class. The Panda's api is strong in this regard. From my perspective there isn't any need for more than two main objects DataFrame and Vector (and perhaps we call it Vector because that's what Ruby's Matrix class uses vs Panda's Series). Having the arithmetic and statistical functions as first class methods on DataFrame and Vector is simple and d

[2020-05-17 11:45] zverok commented on #531
@jonspalmer I believe you seriously underestimate the design space (and how design decisions affect the library's usability). Let's stick just to one example of two parts (it is just to illustrate the point). Imagine you have data shaped this way:
[code]
Question 1 (a more simple one, but very first in design, which every DF designer handles somehow): how do you address "Total" column and "Total"

[2020-05-17 13:32] jonspalmer commented on #531
Answer:
a) you just have to choose. There is no right or wrong.
b) Many/most DataFrame implementations have to decide what the fundamental objects are. That decision should inform the answers. So for Pandas and Daru the right answer is "Column" because Columns are the first class object and rows are not. It's therefore natural for the 'first index' to represent columns (which also encourages effic

[2020-05-28 15:47] Shekharrajak commented on #501
Sorry for late response. That's great @cyrillefr ,PR is welcome.

[2020-05-30 03:22] v0dro commented on #531
**Status update on daru.**
CC: @zverok  @jonspalmer @kojix2

I had a brief e-mail conversation with @jonspalmer and have promised him to update daru on the following points:

1. Make the gem >2.4 compatible.
2. Close or merge pending issues and PRs.
3. Remove the nmatrix dependency and make it a separate plugin.
4. Release a new gem version.

However, I am currently in grad school and using a lot

[2020-05-30 03:31] v0dro commented on #122
JRuby is no longer a priority. Might reopen later but closing for now.

[2020-05-30 03:31] #122 closed

[2020-05-30 03:32] v0dro commented on #511
Can you make a list of actionable enhancements that you would like to see in this gem for this purpose?

[2020-05-30 03:39] v0dro commented on #515
I'm editing the issue comment to make an itemized list of issue items that can be tackled by a group of volunteers.

[2020-05-30 03:43] kojix2 commented on #511
I appreciate your help.
This issue is too vague. I'd like to withdraw it.

[2020-05-30 03:43] #511 closed

[2020-05-30 03:54] #527 closed

[2020-05-30 03:54] #526 closed

[2020-05-30 04:33] #505 closed

[2020-05-30 05:28] v0dro commented on #510
This can be separated into two issues:
1. `DataFrame` cannot use the `name` value since it is an internal usage parameter.
2. `add_vector` should have an option for not specifying the name of the vector if it already exists within the Vector.

[2020-06-03 18:35] reedjosh opened #534 "from_csv via String"
**Feature Request**
I get csv output from a command. I would like a way to give `Daru.from_csv` a csv string for parsing instead of a path.

In Pandas I do:
[code]

I don't know if StringIO is do-able for `Daru.from_csv`, but I'm working around it now via:
[code]

I kind of think that if you just attempted to read the file first and then gave that to CSV.parse then I could use ruby's StringIO in p

[2020-06-04 04:01] v0dro commented on #531
New daru version has been released and all old PRs have been merged/closed.

[2020-06-04 05:03] athityakumar commented on #534
@reedjosh - Thanks a lot for suggesting this feature! 🎉

We currently have a `read_csv` method that reads from a csv file. If you want to have a similar `from_csv` method that imports from a CSV String / StringIO, it'd involve a very minor code change in the [daru-io](https://github.com/SciRuby/daru-io) repository

Specifically in [this file](https://github.com/SciRuby/daru-io/blob/master/lib/daru

[2020-06-04 05:09] athityakumar commented on #523
@janmpeterka - Thanks for this feature request suggestion! 🎉

You'd have to contribute this to the [daru-io](https://github.com/SciRuby/daru-io) repository for this. We currently have the implementation of ActiveRecord importer [here](https://github.com/SciRuby/daru-io/blob/master/lib/daru/io/importers/active_record.rb), wherein we support just normal field names and not sql methods. You can proba

[2020-06-04 17:45] reedjosh commented on #534
I would love to. It will be a bit before I can get to it though. Will update you when I get going on it.

[2020-06-16 08:29] vanitu opened #535 "get_group unpredicted behaviour in case of Sorting applied"
When group_by applied on sorted DataFrame get_group will return wrong entries in DataFrame

[code]

[2020-06-16 08:32] vanitu commented on #535
As I understand reindexing after sorting may help.
df.index = Daru::Index.new(Array.new(df.size) { |i| i })

[2020-07-28 13:23] jonspalmer commented on #531
@v0dro Following up on this what is the new version that has been released? I don't see any new tags here.

[2020-07-31 10:22] v0dro commented on #531
My bad I forgot to tag it. You can see it on rubygems here: https://rubygems.org/gems/daru

[2020-10-08 20:39] janmpeterka commented on #523
Thanks, I will look into it. Not sure if I will be able to write the implementation myself, quite new to Ruby :)

[2020-10-13 20:09] NicolasNeiman commented on #482
Hi @lokeshh  and @v0dro,
I'm using daru (0.3) and I'm getting the same error

`SystemStackError: stack level too deep`

Do you have the same issue on your end ?

[2020-10-17 03:11] lokeshh commented on #482
@NicolasNeiman You need to install `gruff` gem first. You can do that by running `gem install gruff`.

[2020-10-17 03:16] lokeshh commented on #482
@homonecloco I'm using daru 0.3 and plotting with gruff is working for me. I just had to add that gem using `gem install gruff`. If you see an let me know.

[2020-11-02 12:59] cyrillefr commented on #501
Hello @Shekharrajak, @thomasnaude

Sorry for the delay.

I did not test the whole suite of specs and the simple trick I mentioned leads to fail another test.
That one : `it_should_behave_like correct macd` in `spec/maths/statistics/vector_spec.rb` @ line 735

The macd method (in `lib/daru/maths/statistics/vector`) that in turns tries to: `add ema(fast) - ema(slow)`
So method `v2v_binary operation,

[2021-03-08 19:29] geekodour commented on #358
i come from the future to offer a solution to dem lost souls like me:

[code]

[2021-04-30 20:40] bradleybuda commented on #535
I'm running into a similar issue that occurs when you remove rows from a dataset using `filter` before calling `group_by` - it looks like `get_group` does not respect non-standard indices on rows, so grouping operations will only work if your rows are indexed the default way (zero-based, consecutive integers). I don't know the Daru internals well, but the issue appears to be here: https://github.c

[2021-05-13 08:01] janmpeterka commented on #523
Well, `daru-io` is quite inactive, so no contributing there.

[2021-09-01 02:37] Nakilon commented on #500
Excuse me guys but I see three issues all linked to each other but I don't see the actual code patch. Am I blind?
I get this exact exception in my not related gem and google doesn't say much about it, only leads here. I get it when I call `.pos` on stdout instance in some specific case.

[2021-09-01 03:42] Nakilon commented on #505
The above links are 404 now.

[2021-09-01 05:30] Shekharrajak opened #542 "Github Bot to maintain / track the issues & open PRs"
We need it across all the repos of the SciRuby

https://github.com/SciRuby/daru-view/issues/165

[2021-12-29 14:01] raghuvaranreddy opened #543 "Daru::DataFrame.from_csv ArgumentError: wrong number of arguments (given 2, expected 1)"
Seeing below error when using from_csv after upgrading ruby to 3.0.3
Failure/Error:
       Daru::DataFrame.from_csv(
         mock_data,
         index: index,
         converters: ->(c) { c.to_d unless c.nil? },
         headers: true,
         header_converters: header_converters
       )

     ArgumentError:
       wrong number of arguments (given 2, expected 1)

.rvm/gems/ruby-3.0.3/gems/daru-

[2022-09-17 22:19] rvyas opened #545 "data frame and vector min and max slow"
Hi, using `.min` and `.max` for vector is too slow for large dataset (3.5m records) than using the `.to_a.min` and `.to_a.max`.

[code]

Same goes for `percentile` and `median`.

[2022-09-18 04:57] rvyas opened #546 "How to speed up creating dataframe faster for large dataset"
Hi,
I am creating dataframe for 3.5m records and 25 vector. it is taking over 1min.

[code]

After converting data (which also took a min), it is little faster but 21 sec is still a lot of time to create dataframe.

Any ideas how to speed this up?

[2022-09-18 05:14] kojix2 commented on #546
Unfortunately, daru is currently without a developer.
We recommend that you create your own fork, give daru another name, such as daru2, and take over the project, or use one of the following alternatives

* https://github.com/ankane/rover
* https://github.com/heronshoes/red_amber

The former is recommended for general use.
The latter is a new data frame with Apache Arrow as its backend. The funct